@charset "utf-8";
	.tnc_header
{
	background-image : url(tnc_header.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 66px;
	top : 17px;
	width : 189px;
	height : 18px;
}
.home_buzz_glomp_like_button
{
	background : -moz-linear-gradient(0% 50% 0deg,rgba(110, 139, 168, 1) 21.35%,rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.2135,rgba(110, 139, 168, 1) ),color-stop(0.5225,rgba(110, 139, 168, 1) ));
	background : -o-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -ms-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8', endColorstr='#6E8BA8' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	width : 50px;
	height : 25px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8',endColorstr='#6E8BA8' , GradientType=1);
}
.home_buzz_glomp_share_button
{
	background : -moz-linear-gradient(0% 50% 0deg,rgba(110, 139, 168, 1) 21.35%,rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.2135,rgba(110, 139, 168, 1) ),color-stop(0.5225,rgba(110, 139, 168, 1) ));
	background : -o-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -ms-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8', endColorstr='#6E8BA8' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	position : absolute ;
	left : 248px;
	top : 288px;
	width : 49px;
	height : 25px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8',endColorstr='#6E8BA8' , GradientType=1);
}
.home_buzz_glomp_like_button_2_
{
	background : -moz-linear-gradient(0% 50% 0deg,rgba(110, 139, 168, 1) 21.35%,rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.2135,rgba(110, 139, 168, 1) ),color-stop(0.5225,rgba(110, 139, 168, 1) ));
	background : -o-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -ms-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8', endColorstr='#6E8BA8' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	position : absolute ;
	left : 248px;
	top : 329px;
	width : 50px;
	height : 25px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8',endColorstr='#6E8BA8' , GradientType=1);
}
.home_buzz_glomp_share_button_1_
{
	background : -moz-linear-gradient(0% 50% 0deg,rgba(110, 139, 168, 1) 21.35%,rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.2135,rgba(110, 139, 168, 1) ),color-stop(0.5225,rgba(110, 139, 168, 1) ));
	background : -o-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -ms-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8', endColorstr='#6E8BA8' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	position : absolute ;
	left : 248px;
	top : 357px;
	width : 49px;
	height : 25px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8',endColorstr='#6E8BA8' , GradientType=1);
}
.home_buzz_glomp_like_button_1_
{
	background : -moz-linear-gradient(0% 50% 0deg,rgba(110, 139, 168, 1) 21.35%,rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.2135,rgba(110, 139, 168, 1) ),color-stop(0.5225,rgba(110, 139, 168, 1) ));
	background : -o-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -ms-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8', endColorstr='#6E8BA8' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	position : absolute ;
	left : 248px;
	top : 398px;
	width : 50px;
	height : 25px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8',endColorstr='#6E8BA8' , GradientType=1);
}
.home_buzz_glomp_share_button_2_
{
	background : -moz-linear-gradient(0% 50% 0deg,rgba(110, 139, 168, 1) 21.35%,rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0.2135,rgba(110, 139, 168, 1) ),color-stop(0.5225,rgba(110, 139, 168, 1) ));
	background : -o-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	background : -ms-linear-gradient(0deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8', endColorstr='#6E8BA8' ,GradientType=0)";
	background : linear-gradient(90deg, rgba(110, 139, 168, 1) 21.35%, rgba(110, 139, 168, 1) 52.25%);
	position : absolute ;
	left : 248px;
	top : 427px;
	width : 49px;
	height : 25px;
	border-radius : 4px;
	-moz-border-radius : 4px;
	-webkit-border-radius : 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6E8BA8',endColorstr='#6E8BA8' , GradientType=1);
}
.NormalCharacterStyle34
{
	font-family : Arial;
	font-weight : bold;
	font-size : 13px;
	letter-spacing : -0.32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle33
{
	font-family : Arial;
	font-weight : bold;
	font-size : 13px;
	letter-spacing : -0.32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle32
{
	font-family : Arial;
	font-weight : bold;
	font-size : 13px;
	letter-spacing : -0.32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle31
{
	font-family : Arial;
	font-weight : bold;
	font-size : 13px;
	letter-spacing : -0.32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle30
{
	font-family : Arial;
	font-weight : bold;
	font-size : 13px;
	letter-spacing : -0.32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle29
{
	font-family : Arial;
	font-weight : bold;
	font-size : 13px;
	letter-spacing : -0.32px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle28
{
	font-family : Myriad Pro;
	font-size : 14px;
	letter-spacing : -0.35px;
	color : #EC1C24;
	color : rgb(236, 28, 36);
}
.NormalCharacterStyle27
{
	font-family : Myriad Pro;
	font-size : 14px;
	letter-spacing : -0.14px;
	color : #EC1C24;
	color : rgb(236, 28, 36);
}
.NormalCharacterStyle26
{
	font-family : Myriad Pro;
	font-size : 14px;
	letter-spacing : -0.14px;
	color : #EC1C24;
	color : rgb(236, 28, 36);
}
.home_buzz_glomp_divider
{
	border-style : Solid;
	border-color : #BCBDBF;
	border-color : rgba(188, 189, 191, 1);
	border-width : 0px;
	position : absolute ;
	left : 0px;
	top : 321px;
	width : 320px;
	height : 0px;
}
.home_buzz_glomp_divider_1_
{
	border-style : Solid;
	border-color : #BCBDBF;
	border-color : rgba(188, 189, 191, 1);
	border-width : 0px;
	position : absolute ;
	left : 0px;
	top : 252px;
	width : 320px;
	height : 0px;
}
.home_buzz_glomp_divider_2_
{
	border-style : Solid;
	border-color : #BCBDBF;
	border-color : rgba(188, 189, 191, 1);
	border-width : 0px;
	position : absolute ;
	left : 0px;
	top : 390px;
	width : 320px;
	height : 0px;
}
.home_buzz_glomp_divider_3_
{
	border-style : Solid;
	border-color : #BCBDBF;
	border-color : rgba(188, 189, 191, 1);
	border-width : 0px;
	position : absolute ;
	left : 0px;
	top : 458px;
	width : 320px;
	height : 0px;
}
.home_buzz_header1
{
	background-image : url(home_buzz_header1.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 13px;
	top : 225px;
	width : 75px;
	height : 19px;
}
.home_buzz_header2
{
	background-image : url(home_buzz_header2.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 88px;
	top : 225px;
	width : 42px;
	height : 16px;
}
.NormalCharacterStyle25
{
	font-family : Arial;
	font-weight : bold;
	font-size : 8px;
	letter-spacing : -0.2px;
	color : #585F6B;
	color : rgb(88, 95, 107);
}
.home_main_notify_msg_icon
{
	background-image : url(home_main_notify_msg_icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 173px;
	top : 170px;
	width : 29px;
	height : 25px;
}
.home_main_notify_msg_num_box
{
	background : #EC1C24;
	background : rgba(236, 28, 36, 1);
	position : absolute ;
	left : 197px;
	top : 163px;
	width : 13px;
	height : 13px;
	border-radius : 2px;
	-moz-border-radius : 2px;
	-webkit-border-radius : 2px;
}
.NormalCharacterStyle24
{
	font-family : Arial;
	font-weight : bold;
	font-size : 9px;
	letter-spacing : -0.22px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle23
{
	font-family : Arial;
	font-weight : bold;
	font-size : 8px;
	letter-spacing : -0.2px;
	color : #585F6B;
	color : rgb(88, 95, 107);
}
.home_main_notify_event_icon
{
	background-image : url(home_main_notify_event_icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 224px;
	top : 166px;
	width : 29px;
	height : 29px;
}
.home_main_notify_event_num_box
{
	background : #EC1C24;
	background : rgba(236, 28, 36, 1);
	position : absolute ;
	left : 248px;
	top : 163px;
	width : 13px;
	height : 13px;
	border-radius : 2px;
	-moz-border-radius : 2px;
	-webkit-border-radius : 2px;
}
.NormalCharacterStyle22
{
	font-family : Arial;
	font-weight : bold;
	font-size : 9px;
	letter-spacing : -0.22px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle21
{
	font-family : Arial;
	font-weight : bold;
	font-size : 8px;
	letter-spacing : -0.2px;
	color : #585F6B;
	color : rgb(88, 95, 107);
}
.home_main_notify_req_icon
{
	background-image : url(home_main_notify_req_icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 270px;
	top : 167px;
	width : 34px;
	height : 26px;
}
.home_main_notify_req_num_box
{
	background : #EC1C24;
	background : rgba(236, 28, 36, 1);
	position : absolute ;
	left : 297px;
	top : 163px;
	width : 13px;
	height : 13px;
	border-radius : 2px;
	-moz-border-radius : 2px;
	-webkit-border-radius : 2px;
}
.NormalCharacterStyle20
{
	font-family : Arial;
	font-weight : bold;
	font-size : 9px;
	letter-spacing : -0.22px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.home_main_profile_button
{
	background : #D3D7E1;
	background : rgba(211, 215, 225, 1);
	border-style : Solid;
	border-color : #666666;
	border-color : rgba(102, 102, 102, 1);
	border-width : 1px;
	position : absolute ;
	left : 0px;
	top : 160px;
	width : 159px;
	height : 50px;
}
.NormalCharacterStyle19
{
	font-family : Arial;
	font-weight : bold;
	font-size : 14px;
	letter-spacing : -0.35px;
	color : #585F6B;
	color : rgb(88, 95, 107);
}
.home_main_profile_icon
{
	background-image : url(home_main_profile_icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 30px;
	top : 170px;
	width : 16px;
	height : 29px;
}
.home_main_glomp_logo_box
{
	background : #585F6B;
	background : rgba(88, 95, 107, 1);
	border-style : Solid;
	border-color : #B2B2B2;
	border-color : rgba(178, 178, 178, 1);
	border-width : 1px;
	min-width : 172px;
	height : 108px;
        padding-top: 50px;
        padding-left: 20px;
}
.home_main_friends_button
{
	background : #585F6B;
	background : rgba(88, 95, 107, 1);
	border-style : Solid;
	border-color : #B2B2B2;
	border-color : rgba(178, 178, 178, 1);
	border-width : 1px;
	position : absolute ;
	left : 240px;
	top : 0px;
	width : 80px;
	height : 80px;
}
.home_main_points_button
{
	background : #585F6B;
	background : rgba(88, 95, 107, 1);
	border-style : Solid;
	border-color : #B2B2B2;
	border-color : rgba(178, 178, 178, 1);
	border-width : 1px;
	position : absolute ;
	left : 240px;
	top : 80px;
	width : 80px;
	height : 80px;
}
.home_main_menu_button
{
	background : #585F6B;
	background : rgba(88, 95, 107, 1);
	border-style : Solid;
	border-color : #B2B2B2;
	border-color : rgba(178, 178, 178, 1);
	border-width : 1px;
	position : absolute ;
	left : 160px;
	top : 80px;
	width : 80px;
	height : 80px;
}
.home_main_glomped_button
{
	background : #585F6B;
	background : rgba(88, 95, 107, 1);
	border-style : Solid;
	border-color : #B2B2B2;
	border-color : rgba(178, 178, 178, 1);
	border-width : 1px;
	position : absolute ;
	left : 160px;
	top : 0px;
	width : 80px;
	height : 80px;
}
.home_main_glomped_text
{
	background-image : url(home_main_glomped_text.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 170px;
	top : 60px;
	width : 58px;
	height : 12px;
}
.home_main_glomped_icon
{
	background-image : url(home_main_glomped_icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 186px;
	top : 22px;
	width : 24px;
	height : 29px;
}
.home_main_glomped_num_box
{
	background : #EC1C24;
	background : rgba(236, 28, 36, 1);
	position : absolute ;
	left : 207px;
	top : 10px;
	width : 13px;
	height : 13px;
	border-radius : 2px;
	-moz-border-radius : 2px;
	-webkit-border-radius : 2px;
}
.NormalCharacterStyle18
{
	font-family : Arial;
	font-weight : bold;
	font-size : 9px;
	letter-spacing : -0.22px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.home_main_glomp_logo
{
	background-image : url(../img/home/home_main_glomp_logo.png);
	background-repeat : no-repeat;
	position : relative;
	left : 8px;
	top : 50px;
	max-width : 100%;
	min-height : 63px;
}
.NormalCharacterStyle17
{
	font-family : Arial;
	font-weight : bold;
	font-size : 10px;
	letter-spacing : -0.25px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle16
{
	font-family : Arial;
	font-weight : bold;
	font-size : 10px;
	letter-spacing : -0.25px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle15
{
	font-family : Arial;
	font-weight : bold;
	font-size : 10px;
	letter-spacing : -0.25px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.home_main_friends_icon
{
	background-image : url(home_main_friends_icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 260px;
	top : 20px;
	width : 41px;
	height : 32px;
}
.home_main_points_icon
{
	background-image : url(home_main_points_icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 267px;
	top : 100px;
	width : 27px;
	height : 28px;
}
.home_main_menu_icon
{
	background-image : url(home_main_menu_icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 182px;
	top : 102px;
	width : 35px;
	height : 26px;
}
.home_main_points_num_box
{
	background : #EC1C24;
	background : rgba(236, 28, 36, 1);
	position : absolute ;
	left : 291px;
	top : 83px;
	width : 24px;
	height : 13px;
	border-radius : 2px;
	-moz-border-radius : 2px;
	-webkit-border-radius : 2px;
}
.NormalCharacterStyle14
{
	font-family : Arial;
	font-weight : bold;
	font-size : 9px;
	letter-spacing : -0.22px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.home_glomp_drpdwn_box
{
	background : #4C535E;
	background : rgba(76, 83, 94, 1);
	position : absolute ;
	left : 0px;
	top : 210px;
	width : 320px;
	height : 136px;
}
.home_glomp_drpdwn_divider
{
	border-style : Solid;
	border-color : #D3D7E1;
	border-color : rgba(211, 215, 225, 1);
	border-width : 1px;
	position : absolute ;
	left : 0px;
	top : 255px;
	width : 320px;
	height : 0px;
}
.home_glomp_drpdwn_divider_1_
{
	border-style : Solid;
	border-color : #D3D7E1;
	border-color : rgba(211, 215, 225, 1);
	border-width : 1px;
	position : absolute ;
	left : 0px;
	top : 301px;
	width : 320px;
	height : 0px;
}
.NormalCharacterStyle13
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 19px;
	letter-spacing : -0.19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle12
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 19px;
	letter-spacing : -0.19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle11
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 19px;
	letter-spacing : -0.19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.home_menu_drpdwn_box
{
	background : #4C535E;
	background : rgba(76, 83, 94, 1);
	position : absolute ;
	left : 0px;
	top : 210px;
	width : 320px;
	height : 181px;
}
.home_menu_drpdwn_divider
{
	border-style : Solid;
	border-color : #D3D7E1;
	border-color : rgba(211, 215, 225, 1);
	border-width : 1px;
	position : absolute ;
	left : 0px;
	top : 255px;
	width : 320px;
	height : 0px;
}
.home_menu_drpdwn_divider_1_
{
	border-style : Solid;
	border-color : #D3D7E1;
	border-color : rgba(211, 215, 225, 1);
	border-width : 1px;
	position : absolute ;
	left : 0px;
	top : 301px;
	width : 320px;
	height : 0px;
}
.home_menu_drpdwn_divider_2_
{
	border-style : Solid;
	border-color : #D3D7E1;
	border-color : rgba(211, 215, 225, 1);
	border-width : 1px;
	position : absolute ;
	left : 0px;
	top : 346px;
	width : 320px;
	height : 0px;
}
.NormalCharacterStyle10
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 19px;
	letter-spacing : -0.19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle9
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 19px;
	letter-spacing : -0.19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle8
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 19px;
	letter-spacing : -0.19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle7
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 19px;
	letter-spacing : -0.19px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.NormalCharacterStyle6
{
	font-family : Myriad Pro;
	font-size : 11px;
	line-height : 12.5px;
	letter-spacing : -0.23px;
	color : #233D3F;
	color : rgb(35, 61, 63);
}
.faq_content_frame
{
	border-style : Solid;
	border-color : #C8C8C8;
	border-color : rgba(200, 200, 200, 1);
	border-width : 1px;
	position : absolute ;
	left : 12px;
	top : 107px;
	width : 294px;
	height : 355px;
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
}
.faq_header_bgbar
{
	background : #585F6B;
	background : rgba(88, 95, 107, 1);
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 320px;
	height : 50px;
}
.faq_header_menu_button
{
	background : #585F6B;
	background : rgba(88, 95, 107, 1);
	border-style : Solid;
	border-color : #B2B2B2;
	border-color : rgba(178, 178, 178, 1);
	border-width : 1px;
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 50px;
	height : 50px;
}
.faq_header_menu_icon
{
	background-image : url(faq_header_menu_icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 10px;
	top : 14px;
	width : 31px;
	height : 23px;
}
.tnc_header_bgbar
{
	background : #585F6B;
	background : rgba(88, 95, 107, 1);
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 319px;
	height : 50px;
}
.support_subject_field
{
	background : #E3E5EB;
	background : rgba(227, 229, 235, 1);
	position : absolute ;
	left : 27px;
	top : 84px;
	width : 268px;
	height : 32px;
}
.NormalCharacterStyle1
{
	font-family : Arial;
	font-weight : bold;
	font-size : 16px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.support_descrip_field
{
	background : #E3E5EB;
	background : rgba(227, 229, 235, 1);
	position : absolute ;
	left : 27px;
	top : 138px;
	width : 268px;
	height : 177px;
}
.NormalCharacterStyle3
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 11px;
	color : #808283;
	color : rgb(128, 130, 131);
}
.NormalCharacterStyle4
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 13px;
	color : #808283;
	color : rgb(128, 130, 131);
}
.NormalCharacterStyle2
{
	font-family : Helvetica Neue;
	font-weight : bold;
	font-size : 13px;
	color : #808283;
	color : rgb(128, 130, 131);
}
.NormalCharacterStyle5
{
	font-family : Arial;
	font-weight : bold;
	font-size : 16px;
	line-height : 19.18px;
	letter-spacing : -0.16px;
	color : #FFFFFF;
	color : rgb(255, 255, 255);
}
.support_header_bgbar
{
	background : #585F6B;
	background : rgba(88, 95, 107, 1);
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 320px;
	height : 50px;
}
.support_submit_button
{
	background : -moz-linear-gradient(50% 0% 270deg,rgba(111, 138, 167, 1) 21.35%,rgba(111, 138, 167, 1) 52.25%);
	background : -webkit-linear-gradient(270deg, rgba(111, 138, 167, 1) 21.35%, rgba(111, 138, 167, 1) 52.25%);
	background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.2135,rgba(111, 138, 167, 1) ),color-stop(0.5225,rgba(111, 138, 167, 1) ));
	background : -o-linear-gradient(270deg, rgba(111, 138, 167, 1) 21.35%, rgba(111, 138, 167, 1) 52.25%);
	background : -ms-linear-gradient(270deg, rgba(111, 138, 167, 1) 21.35%, rgba(111, 138, 167, 1) 52.25%);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#6F8AA7', endColorstr='#6F8AA7' ,GradientType=0)";
	background : linear-gradient(-180deg, rgba(111, 138, 167, 1) 21.35%, rgba(111, 138, 167, 1) 52.25%);
	position : absolute ;
	left : 190px;
	top : 337px;
	width : 104px;
	height : 38px;
	border-radius : 6px;
	-moz-border-radius : 6px;
	-webkit-border-radius : 6px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6F8AA7',endColorstr='#6F8AA7' , GradientType=1);
}
.tnc_content_frame
{
	position : absolute ;
	left : 12px;
	top : 76px;
	width : 294px;
	height : 373px;
	border-radius : 5px;
	-moz-border-radius : 5px;
	-webkit-border-radius : 5px;
}
.tnc_header_menu_icon
{
	background-image : url(tnc_header_menu_icon.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 9px;
	top : 14px;
	width : 32px;
	height : 23px;
}
.tnc_header_menu_button
{
	background : #585F6B;
	background : rgba(88, 95, 107, 1);
	border-style : Solid;
	border-color : #B2B2B2;
	border-color : rgba(178, 178, 178, 1);
	border-width : 1px;
	position : absolute ;
	left : 0px;
	top : 0px;
	width : 49px;
	height : 50px;
}
.NormalCharacterStyle
{
	font-family : Arial;
	font-weight : bold;
	font-size : 11px;
	line-height : 12.5px;
	letter-spacing : -0.11px;
	color : #233D3F;
	color : rgb(35, 61, 63);
}
.support_header
{
	background-image : url(support_header.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 85px;
	top : 18px;
	width : 150px;
	height : 22px;
}
.faq_header
{
	background-image : url(faq_header.png);
	background-repeat : no-repeat;
	position : absolute ;
	left : 136px;
	top : 18px;
	width : 44px;
	height : 17px;
}


/* Generic Classes */
.border {
    background: #585F6B;
    background: rgba(88, 95, 107, 1);
    border-style: Solid;
    border-color: #B2B2B2;
    border-color: rgba(178, 178, 178, 1);
    border-width: 1px;
}

.border_only {
    border-style: Solid;
    border-color: #B2B2B2;
    border-color: rgba(178, 178, 178, 1);
    border-width: 1px;
}

.box1 {
    width: 86px; 
    min-height: 58px;
    padding: 10px
}
.box2 {
    width: 74px;
    min-height: 58px;
    padding: 10px
}
