@font-face {
    font-family: 'harabarabold';
    src: url('../font/harabara-webfont.eot');
    src: url('../font/harabara-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/harabara-webfont.woff') format('woff'),
        url('../font/harabara-webfont.ttf') format('truetype'),
        url('../font/harabara-webfont.svg#harabarabold') format('svg');
    font-weight: normal;
    font-style: normal;

}
.glompFont{font-family:harabarabold; letter-spacing:1px;}
body{
    font: 13px/24px Arial;
    background:#fff;
}
.bodyMarginPadding { padding:0;}
.landingPage { margin:5px 0 0 0;}
.termAndConditions { text-align:center; color:#fff; padding:0 0 10px 0; }
.registerPage{ margin:5px 0 0 0; color:#fff;}
.registerPage a{ color:#fff;}
.header { background:#585f6b;}
.header .left{ float:left;}
.header .right{ float:left; width:50%;}
.header .right .logout{ padding:28px; font-size:18px; font-style: italic;}
.header .right .logout a{ color:#fff; text-decoration:underline;}
.header .right .logout a:hover{ color:#fff; text-decoration:underline;}
.dashboard { 
    background: none repeat scroll 0 0 #dee6eb;

    padding: 15px 20px 15px 10px;
    text-align: left;

}
.innerPageWrapper{ padding:0 10px;}
.dashboard h1 {  background:url(../img/glompBnW.png) no-repeat; margin:0; padding:0; line-height:24px;}
.dashboard .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.dashboard .content{
    color:#fff;
    margin-top:5px;
    background: none repeat scroll 0 0 #59616b;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;}
.dashboard .content .padding{ padding:10px;}
.dashboard .content .cus-row{ border-bottom:1px solid #aaa; cursor:pointer;}	
.dashboard .content .cus-row:hover{  background:#dee6eb; color:#111;}	
.dashboard .content .left{ float:left; width:30%;}
.dashboard .content .mid{ float:left; width:40%; text-align:center; font-weight:bold;}
.dashboard .content .right{ float:left; width:30%;}
.dashboard .content .thumbHolder{
    background: none repeat scroll 0 0 #dee6eb;
    -moz-border-radius:0 5px 5px 0; 
    -webkit-border-radius:0 5px 5px 0; 
    -khtml-border-radius:0 5px 5px 0; 
    border-radius:0 5px 5px 0;
    Padding:2px;
    text-align:center;
    margin-top:23px;
}
.dashboard .content .thumbHolder .name{ padding:2px 2px 0 2px; color:#666; line-height:14px; font-size:12px;}

.dashboard .content .message{ text-align:center; font-style:italic; font-weight:normal;}
.dashboard .content .product img{ -moz-border-radius:5px; 
                                  -webkit-border-radius:5px; 
                                  -khtml-border-radius:5px; 
                                  border-radius:5px;}
.dashboard .content .time{}



.redeem { 
    background: none repeat scroll 0 0 #dee6eb;
    margin: 0px 0;
    padding: 15px 20px 15px 10px;
    text-align: left;


}
.outerBorder{ border:1px solid #b1b1b1;}

.loader_background{ width:100%; z-index: 1; height:100%; float:left; position:absolute; top:0; left:0; background:rgba(255, 255, 255, 0.7); }
.loader_background_loading_images{ width:100px; height:100px; background:url(../img/ajax-loader.gif) no-repeat;}

.redeem h1 {  margin:0 0 5px 0; padding:0; line-height:24px; color:#ec1c24; font-size:20px;}

.redeem .productHolder{ background:#fff; padding:5px; color:#4f70a2; margin:5px 0 0 0;}

.redeem .termsAndConditionsHolder{ padding:5px; }

.redeem .termsAndConditionsHolderpink{ padding:5px; color:#c03799; font-weight:bold; }

.redeem .formHolder input , button{ height:40px!important;  }

.redeem .forgotPassword {  padding-bottom:10px; font-size:16px;}
.redeem .forgotPassword a{   color:#5c5f6b; text-decoration:underline;}

.redeemSuccess{

    background: none repeat scroll 0 0 #dee6eb;
    padding: 15px 20px 15px 10px;
    text-align: left;
}

.redeemSuccess .successMessage{ font-size:20px; text-align:center;}
.alert-success-redeem{
    background-color: #59606b;
    color: #aacf37;
    border-radius:10px;
}
.redeemSuccess .barCodeHolder{ 

    background: none repeat scroll 0 0 #fff;
    margin: 5px 0;
    padding: 10px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align:center;
}
.alert-error-red{
    background-color:#ec1c24;
    color:#fff;

}
.verification_code{
    font-size:14px; text-align:center;
    color:#ec1c24;
}
.redeemSuccess .locationHolder { text-align:center; font-size:20px; font-weight:bold; padding:10px;}




.termAndConditions a{ color:#fff;  }
.landingPage input[type='button'], input[type='submit'] { margin-bottom:10px;}
form input._error {
    display: inline;
    border-color: rgba(181, 0, 7, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
}
form select._error {
    display: inline;
    border-color: rgba(181, 0, 7, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
}
form input[type = checkbox]._error {

    display: inline;
    border-color: rgba(181, 0, 7, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
}
.alert p{
    margin:0!important;
    padding:0!important;

}

.btn-custom-primary {  background-color:#b3d234;font-size:14px; font-weight:bold; color:#fff; border:0; padding:8px 30px; 
                       border-radius: 4px 4px 4px 4px; text-align:center;
}
.btn-custom-gray {  background-color:#6e8ba8;font-size:14px; font-weight:bold; color:#fff; border:0; padding:5px 30px; 
                    border-radius: 4px 4px 4px 4px; text-align:center;
}
a.btn-custom-gray{ text-decoration:none; color:#fff; margin:0; padding:5px 0;}
a.btn-custom-gray:hover{ text-decoration:none!important; color:#fff;}
.textBoxGray{background:#e2e4eb!important; }
.redeemVoucher .btnHolder{ margin:0 auto; width:100px;}

.popUp{ background:#585f6b; position:absolute; width:230px; height:100px; margin:0 0 0 65px; color:#fff; text-align:center; padding:10px; display:none;}
.popUpHeading{ font-weight:bold; font-size:15px;}
.popUpMessage{ padding-top:10px;}
.btn-custom-popup {  background-color:#6e8ba8; font-weight:bold; color:#fff; border:0; padding:0 10px; 
                     border-radius: 4px 4px 4px 4px; text-align:center; height:30px!important; margin-top:10px;
}

#verifying{ text-align:center; padding:20px 0 0 0; display:none;}

.validate_success_ball
{
    background : -moz-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    background : -webkit-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    background : -webkit-gradient(radial,30.01% 19.5% ,0.8 , 30.01% 19.5%, 47.53 ,color-stop(0.0169,rgba(255, 255, 255, 1) ),color-stop(0.118,rgba(151, 178, 209, 1) ),color-stop(1,rgba(25, 61, 84, 1) ));
    background : -o-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    background : -ms-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
        background : radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    width : 60px;
    height : 60px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
    margin:7px auto 0 auto;
    border-radius:100%;
} 
.validate_success_ball img{
    padding-top:17px;
}


/* Generic Classes */
.pointer {
    cursor: pointer;
}
.left {
    float: left;
}