.editable {
    border: 1px dashed red;
}
.pencil {
  background-image:url('../../images/icons/pencil.png');
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: -1px;
}
.image_upload {
  background-image:url('../../images/icons/image_upload.png');
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: -2px;
  left: -1px;
}

.noTitleStuff .ui-dialog-titlebar {display:none}