

.als-container {
	position: relative;

}
.als-container ul, ol{ margin:0; padding:0;}

.als-viewport {
	
	overflow: hidden;
	margin: 0px 0px 0 10px;
}

.als-wrapper {
	position: relative;
	list-style: none;
	z-index:0;

}

.als-item {
	position: relative;
	display: block;
	cursor: pointer;
	float: left;
	padding-top:3px;
	
}

.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
}


/**************************
 * specific als elements
 * styling for #lista1
 **************************/

#lista1 {
	margin: 5px auto 80px auto;
}
#lista1  .als-viewport img{ width:80px; border-radius:8px;}

#lista1 .als-item {
	margin: 0px 10px 0 9px;
	min-height: 140px;
	width: 75px;
}

#lista1 .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 8px;
}

#lista1 .als-prev, #lista1 .als-next {
	top: 27px;
	width: 15px;
	height: 22px;
}

#lista1 .als-prev {
	left:-2px;
}

#lista1 .als-next {
	right: -4px;
}

/************************
 * specific als element
 * styling for #lista2
 ***********************/

#lista2 {
	margin-bottom: 80px;
}

#lista2 .als-item {
	margin: 10px 0px;
	min-height: 140px;
	min-width: 128px;
}

#lista2 .als-item img {
	position: relative;
	display: block;
	vertical-align: middle;
	margin-bottom: 8px;
}

#lista2 .als-prev, #lista2 .als-next {
	left: 470px;
	width: 22px;
	height: 15px;
}

#lista2 .als-prev {
	top: -25px;
}

#lista2 .als-next {
	bottom: -20px;
}

#lista2 .als-item {
	vertical-align: middle;
}

