@font-face
{
    font-family: 'harabarabold';
    src: url('../font/harabara-webfont.eot');
    src: url('../font/harabara-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/harabara-webfont.woff') format('woff'),
        url('../font/harabara-webfont.ttf') format('truetype'),
        url('../font/harabara-webfont.svg#harabarabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Delicious';
    src: url('../font/delicious-roman-webfont.eot');
    src:url('../font/delicious-roman-webfont.ttf') format('truetype'),
        url('../font/delicious-roman-webfont.eot?#iefix') format('embedded-opentype'),
        url('../font/delicious-roman-webfont.woff') format('woff');        
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'HelveticaNeue';
    src: url('../font/helveticaneuewebfont.eot');    
    src:url('../font/helveticaneuewebfont.woff') format('woff'),
        url('../font/helveticaneuewebfont.eot?#iefix') format('embedded-opentype'),        
        url('../font/helveticaneuewebfont.ttf') format('truetype'),
        url('../font/helveticaneue-webfont.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
    height: 100% !important;
}
.Delicious{
    font-family: 'Delicious' !important;
}
.harabara{
    font-family: 'harabarabold';
}
.helvetica_font
{
    font-family: 'HelveticaNeue' !important;
}
body{
    margin:0;
    padding:0; 
    font: 12px/16px Helvetica, Arial, sans-serif;
    background:#D2D7E1;
    color:#495368;
}
.outerBorder
{ 
    border:1px solid #bcbec0;
    border-top:0px;
    padding:5px 10px 10px 10px;
    width:940px;
    margin-left:-1px;
    margin-bottom:0px;
    background:#fff;
}
.landingPage .desc { color:#005172; width:450px; margin:0 auto; text-align:left; font-size:15px; padding:0 0 40px 0;}
.landingPage .desc .title{ font-size:16px; font-weight:bold;}
.landingPage .desc .body{ padding:0 0 0 20px; line-height:19px; }
.landingLoginBox{}
.tabWholeBox{ width:200px;
              border-radius:20px 20px 0 0;
              -webkit-border-radius:20px 20px 0 0;
              -moz-border-radius:20px 20px 0 0;
              background:#6e90b7;
}
.tabWholeBox .login a{
    width:82px;
    border-radius:20px 20px 0 0;
    -webkit-border-radius:20px 20px 0 0;
    -moz-border-radius:20px 20px 0 0;
    background:#59606b; text-align:left; padding:10px 0 10px 18px;
    display:block; 
    color:#ed1c24;
    float:left;
    text-decoration:none;
    font-family:harabarabold;
    font-size:16px;
    letter-spacing:1px;
}
.tabWholeBox .registerTab a{
    width:80px;
    text-align:left; 
    padding:10px 0 10px  20px;
    display:block; 
    color:#F00;
    float:left;
    color:#bcd6e3;
    text-decoration:none;
    font-size:16px;
    font-family:harabarabold;
    letter-spacing:1px;
}
.loginBoxVideo{ background:#59606b;}
.landingTopLogo{ padding-top:60px;}

.landingLoginBox .content{ border:5px solid #59606b; background:#fff; 
                           border-radius:0 5px 0 5px;
                           -webkit-border-radius:0 5px 0 5px;
                           -moz-border-radius:0 5px 0 5px;
                           padding:20px 10px 0 10px;
}
.landingLoginBox .form-horizontal .control-label {
    float: left;
    width: 100px;
    padding-top: 5px;
    text-align: left;
}
.landingLoginBox .form-horizontal .controls{ margin-left:98px;}
.landingLoginBox .forgotPassword{}
.landingLoginBox .forgotPassword a{ color:#4A5790; text-decoration:underline;}
.termAndConditions a{ color:#4A5790;}

.header {
    background: none repeat scroll 0 0 #59606B;
    border: 1px solid #838890;
    height: 70px;
    width:960px;
    margin:0 auto;
}
.innerPageTitleRed{ color:#ed1c24; font-size:16px; font-weight:bold;}
.innerPageTitleWhite{ color:#fff; font-size:16px; font-weight:bold;}
.register {
    background: none repeat scroll 0 0 #59606B;
    margin: 12px 0;
    padding: 15px 20px 15px 10px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.register h1 { border-bottom:2px solid #cfd8e3; font-size:20px; height:35px; color:#495368!important;}
.register .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.register .content{
    margin-top:10px;
    background: none repeat scroll 0 0 #fff;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;}
.register .form-horizontal .control-label {
    float: left;
    width: 120px;
    padding-top: 5px;
    text-align: left;
    color:#495368;
    font-weight:bold;
}
.register .form-horizontal .controls{ margin-left:99px;}
.register .uploadImage{}
.register .createPasswordTips { background:#eeebee;  width:300px; color:#555e71; padding:15px 10px; vertical-align: central; margin-top:1px; margin-left:3px} 
.createPasswordTable { margin-bottom:10px;}
.redPontHolder { background:#ec2227; border-radius:2px; color:#fff; padding:2px 5px; margin-left:5px; }
.popover-title{ background:#8bc341; font-weight:bold;}
.popover{ background:#89c656; color:#fff; border:2px solid #cadb2a;}
.popover-bg-gray{ background:#d2d7e1; color:#495368; font: 12px/16px Helvetica, Arial, sans-serif; font-weight: normal;border:2px solid #cadb2a;}
.popover-bg-gray2{ background:#DEE6EB; color:#495368; font: 12px/16px Helvetica, Arial, sans-serif; font-weight: normal;border:2px solid #cadb2a;}
.popover.right .arrow:after{border-right-color:#8bc341;}
.popover.right .arrow-bg-gray:after{border-right-color:#d6d6d6;}
.popover.right .arrow-bg-gray2:after{border-right-color:#DEE6EB;}
.innerTopNav{ padding:40px 0 0 0; font-weight:bold;}
.innerTopNav .label-important, .badge-important{background-color:#F00;}
.innerTopNav .user_name a{ color:#C1D832;}
.innerTopNav .user_home a{ color:#fff;  font-size:14px; margin:0 0 0 20px;}
.innerTopNav .faq a{ border:solid 0px; color:#fff;  font-size:13px; display:block; padding:0 10px; float:right; margin:0 0 0 10px; font-weight:bold}
.innerTopNav .settings a{border:solid 0px;   color:#fff;  font-size:13px; display:block; padding:0 10px; float:right; margin:0 0 0 10px; font-weight:bold}
.innerTopNav .message a{border:solid 0px;   color:#fff;  font-size:13px; display:block; padding:0 10px; float:right; margin:0 0 0 10px; font-weight:bold}
.cusMenuHolder { cursor:pointer;}
.cusMenu{ padding:10px; background:rgba(89,97,107,.8);   display: none; position:absolute; z-index:1;
          -moz-border-radius:  0 0 5px 5px; -webkit-border-radius: 0 0 10px 10px; 
          -khtml-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;
          border-top:0px solid #fff;
          text-align:left;width:100px; margin-top:2px; margin-left:150px;}
.cusMenu ul{list-style:none!important; margin:0; padding:0; }
.cusMenu ul li{ list-style:none; border-bottom:1px solid #3d4047; padding:3px 3px;  display:block;}
.cusMenu ul li:hover{ background:#BDD634;}
.cusMenu ul li a{ list-style:none; color:#fff; font-weight:bold;}
.cusMenu ul li a:hover{text-decoration:none;  display:block;}


.cusMenu_message{ padding:10px; background:rgba(89,97,107,.8);   display: none; position:absolute; z-index:1;
          -moz-border-radius:  0 0 5px 5px; -webkit-border-radius: 0 0 10px 10px; 
          -khtml-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;
          border-top:0px solid #fff;
          text-align:left;width:100px; margin-top:20px; margin-left:420px;}
.cusMenu_message ul{list-style:none!important; margin:0; padding:0; }
.cusMenu_message ul li{ list-style:none; border-bottom:1px solid #3d4047; padding:3px 3px;  display:block;}
.cusMenu_message ul li:hover{ background:#BDD634;}
.cusMenu_message ul li a{ list-style:none; color:#fff; font-weight:bold;}
.cusMenu_message ul li a:hover{text-decoration:none;  display:block;}


.innerTopNav .glomp a{ color:#fff; font-weight:bold; font-size:14px; background:url(../img/glomp_group_logo.jpg) no-repeat; height:22px; width:23px; display:block;  float:right; margin:-4px 0 0 20px;}
.innerTopNav  .notification{ position: absolute; z-index:1; background:#f00; border-radius:2px; padding:0px 5px; font-size:12px; font-weight:normal; margin:-7px 0 0 11px; }

.searchBox{ border:6px solid #64677a;
            -moz-border-radius: 0 5px 0 5px; 
            -webkit-border-radius: 0 5px 0 5px; 
            -khtml-border-radius: 0 5px 0 5px; 
            border-radius: 0 5px 0 5px;
            background:#d2d7e1;
            color:#4a5468;
            margin-top:0px;
}
.searchBox form{ margin:0; padding:0;}
.searchBox input[type='text']{ margin-bottom:5px; }
.searchBox .search{ width:225px; float:left; margin:0 10px 0 0; padding:10px 0 0 10px;}
.searchBox .face{ width:290px; float:left; padding-top:10px; border: 0px solid}
.searchBox .inviteFriends{ width:350px; float:left; border-left:5px solid #fff; padding:10px; min-height:98px;}
.searchBox .face img { float:left; width:42px!important; height:42px!important; margin:0 12px 12px 0; overflow:hidden;}
.inviteFriends h3{ margin:0 0 3px 0; padding:0; font-size:16px; line-height:20px;
}
.inviteFriends .btn{ margin-top:-5px;}
.inviteFriends input[type='text'] { height:15px; margin-bottom:1px;}

.inviteFriendsRight h1 { 
    line-height:24px;
    color:#ed1c24;
    font-size:24px;
}
.inviteFriendsRight .content { 
    background: none repeat scroll 0 0 #8AC444;
    padding: 10px 20px 15px 10px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
/*    width: 250px;*/
    min-height:87px;
    font-weight: bold;
}
.inviteFriendsRight .triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 55.5px 90px 55.5px 0;
    border-color: transparent #8bc540 transparent transparent;
}

.glomp_dashboard {
    background-color: #59606B;
    width: 920px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    height: 70px;
    padding-bottom: 1px;
}

.glomp_dashboard_menu {  
   color: #fff!important;
    border: 0!important;
    font-size: 14px;
    padding: 2px;
    border-radius: 10px!important;
    text-shadow: none!important;
    box-shadow: none!important;
    width: 91px;
    height: 56px;
    margin-right: 10px;
    cursor: pointer;
    display: table-cell !important;
    vertical-align: middle !important;
    text-align: center;
}

#glomp_walkthrough_menu {
    min-height: 100px; 
    background-color: #CDCFD0;
    padding: 5px;
}

.arrow_prev { margin:13px 0px 0px 5px;width: 0; height: 0; border-top: 9px solid transparent; border-right: 6px solid #fff; border-bottom: 9px solid transparent; }
.arrow_next { margin:13px 5px 0px 0px;width: 0; height: 0; border-top: 9px solid transparent; border-left: 6px solid #fff; border-bottom: 9px solid transparent; }
.arrow_close {     
    cursor:pointer;
    color: #fff;            
    font-size: 31px;    
    display: inline-block;
    line-height: 0px;    
    padding-top: 21px;
    padding-left: 0px;
    padding-right: 16px;
}
.arrow_close:before {
    content: "x";
}

.pointer {
    cursor: pointer;
}

.dashBoard {
    background: none repeat scroll 0 0 #59606B;
    margin: 6px  0 0 0;
    padding: 15px 12px 15px 10px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    height:500px;
    float:left;
    width : 540px;
}
.dashBoard .buzzScroll { 
/*    height:480px;  */
    height:300px;  
}
.dashBoard h1 {  background:url(../img/glomped_buzz.jpg) no-repeat; margin:0; padding:0; line-height:24px;}
.dashBoard .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.dashBoard .content{
    margin-bottom:10px;
    background: none repeat scroll 0 0 #fff;
    padding:10px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
/*    height:480px;*/
    height:300px;
}
.dashBoard .time{ color:#ec2227; font-size:11px; font-weight:normal;}
.dashBoard a{color:#ec2227; text-decoration:none;}
.dashBoard .face{ height:50px; width:50px;}
.dashBoard .merchant_logo{ height:50px; width:50px; border-radius:6px }	
.dashBoard .no_more_buzz{ padding:92px 0; text-align:center;}	
.dashBoardRight { 
    background: none repeat scroll 0 0 #d2d7e1;

    padding: 15px 12px 15px 10px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    height:500px;
    float:left;
    width : 350px;
    margin-left : 6px;
    margin-top: 6px;


}

.dashBoardRight .glompedPanel{ height:480px; margin-top:10px;}
.dashBoardRight h1 {  background:url(../img/glomped_dashboard_right_title.jpg) no-repeat; margin:0; padding:0; line-height:24px;}

.dashBoardRight .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.dashBoardRight .content{
    margin-bottom:10px;
    background: none repeat scroll 0 0 #59616b;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;}

.dashBoardRight .no_glomped{ color:#fff;}

.dashBoardRight .product{
    -moz-border-radius:5px; 
    -webkit-border-radius:5px; 
    -khtml-border-radius:5px; 
    border-radius:5px;	
}
.dashBoardRight .messageBox{
	background:#d2d7e1;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;
	margin-top:15px;
	margin-bottom:5px;
	line-height:14px;
	padding:5px;
	color:#59616b;
	}
.userName{  
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
	font-size:11px;
	line-height:110%;
	}
.dashBoardRight .messageBox .paddingTop5px{
    padding-top:5px;
}
.dashBoardRight .btnBorder{
    border-bottom:1px solid #fff!important;
    padding-bottom:5px;
}


.dashBoardRight .time{ text-align:left; color:#fff; padding:4px 0px; line-height:9px; font-size:11px;}
.dashBoardRight .merchantNProducts{ text-align: center; color:#fff; font-size:12px; line-height:12px; padding:3px 0;}

.dashBoardRight .popUp {  
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    margin-top:5px;
    margin-bottom:5px;
    display:none;
	display:none;
    width:310px;  background-color:#8cc540; border:2px solid #bad530; position:absolute; z-index:2;
    height:150px;
}
.dashBoardRight .popUp p{ padding:5px;}
.dashBoardRight .popUp .close{ margin-top:-3px; padding:5px;}
.dashBoardRight .popUp .close a{ color:#fff; text-decoration: none;}

.dashBoardRight .popUp .content{ background:none; margin:0; padding:0;}
/* search friends */


.searchFriendsOuter{
    background: none repeat scroll 0 0 #fff;
    margin: 12px 0;
    padding: 5px 20px 15px 10px;

}
.searchFriends {
    background: none repeat scroll 0 0 #59606B;
    padding: 5px 12px 15px 10px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    height:441px;
}
.searchFriendsOuter h1 { line-height:24px; color:#fff; font-size:24px;} 
.searchFriends .content{
    margin-top:0px;
    background: none repeat scroll 0 0 #fff;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;

}
.searchFriends .searchUser { height:395px; border:5px solid #bbbdc0;}
.searchFriends .content  ul li .thumbnail img{ width:140px; height:140px}
.searchFriends .content  ul li .thumbnail { font-size:11px; text-align:center; line-height:12px; height:130px; border:0px solid; height:170px}
.searchFriends .content  ul li .thumbnail p{ padding-top:5px;} 
.searchFriends .content .thumbnails > li	{margin-bottom:-1px;}  	
.searchFriends form{ margin:0; padding:0;}
.searchFriendsRight { 
    background: none repeat scroll 0 0 #d2d7e1;
    padding: 5px 20px 15px 10px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    color:#495368;
    height:441px;

}
.searchFriendsRight h1 { line-height:24px; color:#ed1c24; font-size:24px; font-weight:normal} 

.searchFriendsRight .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.searchFriendsRight .content{
    margin-top:10px;
    background: none repeat scroll 0 0 #fff;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;

}

.searchFriendsRight form{ margin:0; padding:0;}
.searchFriendsRight form input, textarea{ margin:0;}


/* end of search friends */

/* Start of user fofile*/

.profile .profilePicture{background: none repeat scroll 0 0 #59606B; padding:10px; color:#fff; min-height:148px;  margin: 12px 0;}
.profile .profilePicture img{-moz-border-radius:5px; 
	-webkit-border-radius:0px; 
	-khtml-border-radius:0px; 
	border-radius:0px;
	width: 136px;
	
	
	}
.dropdown-menu{ min-width:99px;}
.profile .profilePicture .name{ font-size:14px; font-weight:bold;}
.profile .profilePicture .dob{ font-weight:bold; padding-top:2px; font-size:11px; }
.profile .profilePicture .address{ padding:8px 0 0 0; font-weight:bold;}
.profile .profilePicture .addAsFriens{ width:132px; }


.profile .profilePicture .dropdown-menu {
    background-color: #000;
    background:  rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
	margin-top:7px;	
}

.profile .profilePicture .dropdown-menu  ul {
    width:100px;
}
.profile .profilePicture .dropdown-menu > li > a{ color:#fff;}
.profile .profilePicture .dropdown-menu > li > a:hover,
.profile .profilePicture .dropdown-menu > li > a:focus,
.profile .profilePicture .dropdown-submenu:hover > a,
.profile .profilePicture .dropdown-submenu:focus > a {
    text-decoration: none;
    color: #ffffff!important;
    background-color: #fff!important;

}
.profile .fev { 
    background: none repeat scroll 0 0 #dee6eb;
    margin: 12px 0;
    padding: 10px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    color:#fff;
    height:148px;	
	
}
.profile .fev .title{ color:#59606b; font-size:16px; font-weight:bold; padding:0 0 5px 0;}
.profile .fev .productName{ text-align:left; padding:0 0 0 0; color:#59616b; margin-top:-2px; line-height:12px; font-size:11px;} 


.profile .fev .carousel img { width:90px; height:90px; 
                              -moz-border-radius:5px; 
                              -webkit-border-radius:5px; 
                              -khtml-border-radius:5px; 
                              border-radius:5px; cursor:pointer;}

.profile #merchants img{ height:120px; width:120px;}
.profile #merchants ul{ margin:0; padding:0;}
.profile .fev .carousel-control.right  { right: 8px;}
.profile .fev .carousel-control.left{  left: -10px;}
.profile .fev .carousel-control { }
.popUp {  
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    display: none;
    width:220px;
    background-color:#8cc540;
    border:2px solid #bad530;
    position: absolute;
    z-index:1000!important; 
    padding:15px;
    color:#fff;
    
}
.popUp .name {font-weight:bold;}
.popUp .desc {font-weight:normal;margin-top:5px;}
.getPopupDescription{ display:none;}
.profile .fev .popUp {  
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
display: none;
margin:85px 0 0 -142px;
width:220px;  background-color:#8cc540; border:2px solid #bad530; position: absolute; z-index:1000!important; 
padding:15px;
 }
.profile .fev .popUp .name1 { color:#fff; font-weight:bold; line-height:16px; margin-top:4px; font-size:12px;}
.profile .fev .popUp .name2 { color:#fff; font-weight:bold; line-height:12px!important; font-style:italic;}
.profile .fev .popUp p{ font-size:12px;}
.profile .fev .popUp img { width:100% ; 
-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;}
.profile .fev .remove{ position: absolute;  padding:2px; -moz-border-radius: 15px; 
-webkit-border-radius: 15px; 
-khtml-border-radius: 15px; 
border-radius: 15px; margin:-5px 0 0 55px; font-size:24px; cursor:pointer; width:24px; height:24px; z-index:1000!important;}

.profile .fev .removeing{ position: absolute; z-index:2000px; background:#F00; padding:5px; -moz-border-radius: 2px; 
                          -webkit-border-radius: 2px; 
                          -khtml-border-radius: 2px; 
                          border-radius: 2px; margin:-107px 0 0 0px; font-size:12px;}

.profile .fev .addIcon {  font-size:16px;}
.profile .fev .addIcon a{ text-decoration:none;}

.carousel-inner { padding:0 0 0 40px;  }
.profile .nav-tabs > li > a{ color:#ec1c24; font-weight:bold; font-size:16px;}


.buzPan {
    height:500px;
}
.buzPan .buzzScroll { height:480px; margin-top:10px;}
.buzPan h1 {  background:url(../img/glomped_buzz.jpg) no-repeat; margin:0; padding:0; line-height:24px;}
.buzPan .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.buzPan .content{
    margin-bottom:10px;}

.buzPan .time{ color:#ec2227; font-size:11px;}
.buzPan a{color:#ec2227; text-decoration:none;}
.buzPan .face{ width:50px;  height:50px;}
.buzPan .merchant_logo{  height:50px; width:50px; border-radius:6px }	
.buzPan .no_more_buzz{ padding:92px 0; text-align:center;}



/* end of user profile */

/* merchant product page */

.merchantProduct {color:#fff;/*  margin: 12px 0;*/}
.merchantProduct .left{ background: none repeat scroll 0 0 #d2d7e1;

                        padding: 10px;
                        text-align: left;
                        border-bottom-left-radius: 5px;
                        border-top-right-radius: 5px;
                        color:#fff;}
.merchantProduct .left img{}
.merchantProduct .right{ background: none repeat scroll 0 0 #d2d7e1;
                         padding: 10px;
                         text-align: left;
                         border-bottom-left-radius: 5px;
                         border-top-right-radius: 5px;
                         color:#fff;
                         position:relative;}
.merchantProduct ul{ margin:0!important; padding:0;}
.merchantProduct .right img{ height:120px; width:120px; }
.merchantProduct .notification { position: absolute!important; z-index:1;  -moz-border-radius:5px; 
                                 -webkit-border-radius:5px; 
                                 -khtml-border-radius:5px; 
                                 border-radius:5px;
                                 background:#f00;
                                 padding:5px;
                                 font-weight:bold!important;
                                 font-size:22px;
                                 margin:-12px 0 0 129px;
}
.merchantProduct .name1 { color:#3c679e; font-weight:bold; line-height:14px; margin-top:4px; text-align:center;}
.merchantProduct .name2 { color:#3c679e; font-weight:normal; line-height:14px;}

.merchantProduct .popUp {  
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    display:none;
    margin:-10px 0 0 -20px;
    width:200px;  background-color:#8cc540; border:2px solid #bad530; position:absolute; z-index:2;
    padding:5px;
}

.merchantProduct .popUp .name1 { color:#fff; font-weight:bold; line-height:16px; margin-top:4px;}
.merchantProduct .popUp .name2 { color:#fff; font-weight:bold; line-height:12px!important; font-style:italic;}
.merchantProduct .popUp p{ font-size:12px;}
.merchantProduct .popUp img { width:100% ;
                              -moz-border-radius:5px; 
                              -webkit-border-radius:5px; 
                              -khtml-border-radius:5px; 
                              border-radius:5px;}
/* EOF merchant product page */




.sutoSugSearch{ padding:10px; background:#fff;   display: none;; position:absolute; z-index:1;
                -moz-border-radius:  0 0 5px 5px; -webkit-border-radius: 0 0 10px 10px; -khtml-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; border:1px solid #ccc;
                border-top:0px solid #fff;
                text-align:left;width:198px; margin-top:2px;}
.sutoSugSearch a { display:block; padding:3px 0; border-bottom: 1px solid #ccc; color:#0063ae; text-decoration:none; cursor:pointer;}
.sutoSugSearch ul { margin:0; padding:0; list-style:none;}
.sutoSugSearch ul li{ margin:0; padding:0; border-bottom:1px solid #ccc;}
.sutoSugSearch ul li:hover{ background:#eeefff;}

.addAsFriend .popUp {  
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    margin-top:5px;
    margin-bottom:5px;
    display:none;
    width:290px;  background-color:#8cc540; border:2px solid #bad530; position:absolute; z-index:1000;
    height:150px;
    padding:10px;
    color:#fff;
}
.addAsFriend .popUp .title { text-align:center; color:#fff; font-size:16px; font-weight:bold;}
.addAsFriend .popUp img{-moz-border-radius:5px; 
                        -webkit-border-radius:5px; 
                        -khtml-border-radius:5px; 
                        border-radius:5px;}
.addAsFriend .popUp .name  { color:#fff; font-weight:bold; margin:5px 0 10px; 0; line-height:14px;}
.addAsFriend .popUp .formHolder{ padding:10px 0 0 0; text-align:center;}



.profilePicture .popUp {  
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    margin-top:5px;
    margin-bottom:5px;
    display: none;
    width:290px;  background-color:#8cc540; border:2px solid #bad530; position:absolute; z-index:1000;
    height:110px;
    padding:10px;
    color:#fff;
}
.profilePicture .popUp .title { text-align:center; color:#fff; font-size:16px; font-weight:bold;}

.profilePicture .popUp p  { color:#fff; font-weight: normal; margin:5px 0 10px; 0; line-height:14px;}
.profilePicture .popUp .formHolder{ padding:10px 0 0 0; text-align:center;}





/* merchant cat product page */

.merchantCatProduct {color:#fff;/*  margin: 12px 0;*/}
.merchantCatProduct .left{ background: none repeat scroll 0 0 #d2d7e1;

                           padding: 10px;
                           text-align: left;
                           border-bottom-left-radius: 5px;
                           border-top-right-radius: 5px;
                           color:#fff;}
.merchantCatProduct .left img{ height:200px; width:200px;}
.merchantCatProduct .right{ background: none repeat scroll 0 0 #d2d7e1;
                            padding: 10px;
                            text-align: left;
                            border-bottom-left-radius: 5px;
                            border-top-right-radius: 5px;
                            color:#fff;
                            position:relative;}
.merchantCatProduct .roductImages{  margin: 10px 16px 0 12px; width: 110px;}
.merchantCatProduct ul{ margin:0!important; padding:0;}
.merchantCatProduct .right img{ height:120px; width:120px; }
.merchantCatProduct .notification { position: absolute!important;
    z-index: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: #f00;
    padding: 2px 4px;
    font-weight: bold!important;
    font-size: 16px;
    margin: 1px 0 0 108px;
    padding-bottom: 7px;
    margin-left: 90px;
}
.merchantCatProduct .notification1 { 
    position: absolute!important;
    z-index: 1;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    background: #f00;
    padding: 2px 4px;
    font-weight: bold!important;
    font-size: 16px;
    margin: 1px 0 0 108px;
    padding-bottom: 7px;
}
.notification_pts {line-height: 7px;}
.merchantCatProduct .addFev{ position:absolute; font-size:40px; z-index:1px; color:#B9D536; margin:-35px 0 0 86px; cursor:pointer;}

.merchantCatProduct .addFev1{ position:absolute; font-size:40px; z-index:1px; color:#B9D536; margin:-35px 0 0 96px; cursor:pointer;}

.merchantCatProduct .addingFev{ position: absolute; z-index:1px; background:#F00; padding:5px; -moz-border-radius: 2px; 
                                -webkit-border-radius: 2px; 
                                -khtml-border-radius: 2px; 
                                border-radius: 2px; margin:59px 0 0 20px; font-size:14px; font-weight:bold;}

.merchantCatProduct .name1 { color:#3c679e; font-weight:bold; line-height:16px; margin-top:4px; text-align:left;}
.merchantCatProduct p { color:#fff; font-weight:normal; line-height:12px; margin-top:4px; text-align:left;}
.merchantCatProduct .name2 { color:#3c679e; font-weight:normal; line-height:14px;}

.merchantCatProduct .popUp {  
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    display:none;
    margin:107px 0 0 -20px;
    width:244px;  background-color:#8cc540; border:2px solid #bad530; position:absolute; z-index:2;
    padding:15px;
}
.merchantCatProduct .popUp .name1 { color:#fff; font-weight:bold; line-height:16px; margin-top:4px;}
.merchantCatProduct .popUp .name2 { color:#fff; font-weight:bold; line-height:12px!important; font-style:italic;}
.merchantCatProduct .popUp p{ font-size:12px;}
.merchantCatProduct .popUp img { width:100% ;
                                 -moz-border-radius:5px; 
                                 -webkit-border-radius:5px; 
                                 -khtml-border-radius:5px; 
                                 border-radius:5px;}
/* EOF merchant product page */


/*Update profile*/

.fullPage {
    background: none repeat scroll 0 0 #59606B;
    margin: 12px 0;
    padding: 5px 20px 15px 10px;
    text-align: left;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.fullPage h1 { line-height:24px; color:#ed1c24; font-size:24px;} 
.searchPageHeader h1 { line-height:24px; color:#ed1c24; font-size:24px; font-weight:normal} 
.fullPage .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.fullPage .content{
    margin-bottom:10px;
    background: none repeat scroll 0 0 #fff;
    padding: 20px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;}
/* end of update profile*/

/*buy points page*/

.buyPoints{}
.buyPoints .point_{ background:#eb2227; padding:8px 8px 5px 8px; width:100px!important; color:#fff; border-radius:4px;}
.buyPoints .innerContent h1 { line-height:24px; color:#fff; font-size:24px;} 
.buyPoints .innerContent {
    background: none repeat scroll 0 0 #dee6eb;
    padding: 10px;
    text-align: left;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}
.buyPoints .border_radious {
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.buyPointsLeftBG{ background-color:#59606b!important;}

.buyPoints .innerContent h1 { line-height:20px; color:#59606b; font-size:20px; margin:0 0 0 14px; padding:0;} 
.buyPoints .innerContent .glompoints {
    background: none repeat scroll 0 0 #eb2227;
    padding: 8px 7px  12px 7px; 
    text-align: center;
    border-radius:8px;
    margin : 10px auto 0 auto;
    width:100px;
    color:#fff;
}

.buyPoints .btnHolder { border-top:2px solid #dfe5ec; padding:20px 0;}
.buyPoints .innerWhiteBg {
    background: none repeat scroll 0 0 #fff;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    margin:15px;
    font-size:16px;
    font-weight:bold;
}

.buyPoints .innerContent .glompoints .level{ font-size:16px; padding:0 0 15px 0; font-weight:bold;}
.buyPoints .innerContent .glompoints .points{ font-size:30px;font-weight:bold;}
.buyPoints .img_payment{
    padding:15px 15px 15px 0px;
}
.buyPoints .innerContent .glompSelPoints{ 
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    border-radius: 10px;     
    border:1px solid #8e959d;
    text-align:center; color:#fff; 
    font-size:18px; font-weight:bold;
    margin:13px 7px 0 7px;
    float:left;
    padding:6px 12px;
    cursor:pointer;
    color:#465069;
    width:50px;
}

.buyPoints .innerContent dl { font-size:14px;}
.buyPoints .innerContent .Loader { font-size:25px; padding:5px 0 0 5px; color:#467800; display:none;}


/* End ofbuy points */

/*glompItem to frend popup */

.glompItemPopUp {  
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
 width:400px;  background-color:#8cc540; border:2px solid #bad530; position: fixed; z-index:2;
 padding:5px;
 color:#fff;
 font-size:12px;
 font-weight:bold;
 display:none;
 }
 #popUpPoints{ position:absolute;margin: 0 0 0 80px;}
 #popUpPoints1{ position:absolute;margin: 0 0 0 80px;}
 .glompItemPopUp .forgotPassword{ color:#fff; font-size:14px; font-weight:bold; text-align:center; padding:0 0 15px 0; margin-top:-3px;}
  .glompItemPopUp .forgotPassword a{ display:block; color:#fff; text-decoration: underline;}
    .glompItemPopUp .itemname{ font-size:20px; padding-top:10px;}
.glompItemPopUp img{ border-radius:10px;}
.glompItemPopUp input { text-align:center;}
.glompItemPopUp  textarea{ text-align:center;}
/* end of glompItem to friend  popup */


/*glompItem to frend popup */

.glompItemPopUp1 {  
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
 width:400px;  background-color:#8cc540; border:2px solid #bad530; position: fixed; z-index:2;
 padding:5px;
 color:#fff;
 font-size:12px;
 font-weight:bold;
 display:none;
 }
 .glompItemPopUp1  textarea{ text-align:center;}
  .glompItemPopUp1 input { text-align:center;}
  
 .glompItemPopUp1 img{ border-radius:10px;}
 
 .glompItemPopUp1 .forgotPassword{ color:#fff; font-size:14px; font-weight:bold; text-align:center; padding:0 0 5px 0;}
  .glompItemPopUp1 .forgotPassword a{ display:block; color:#fff; text-decoration:underline;}
    .glompItemPopUp1 .itemname{ font-size:20px; padding-top:10px;}
/* end of glompItem to friend  popup */




/* start of top cms pages */

.cmsPage { color:#fff; font-size:12px;}
.cmsPage a{ color:#fff; text-decoration:none;}
/* end of top cms page*/

form input._error {
    display: inline;
    border-color: rgba(181, 0, 7, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
}
form select._error {
    display: inline;
    border-color: rgba(181, 0, 7, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
}
form input[type = checkbox]._error {

    display: inline;
    border-color: rgba(181, 0, 7, 0.8);
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */
    -webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    -moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
    box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
}
.alert p{
    margin:0!important;
    padding:0!important;

}

.btn-custom-blue-grey_normal
{  
    background-color:#6E90B9;font-size:14px !important; font-weight:bold; color:#fff; border:0; padding:5px 10px!important;
    border-radius: 4px 4px 4px 4px; text-align:center;

}
.btn-custom-red-normal
{  
    background-color:#ED1D24;font-size:14px !important; font-weight:bold; color:#fff; border:0; padding:5px 10px!important;
    border-radius: 4px 4px 4px 4px; text-align:center;

}
.btn-custom-blue-grey_xs{
     background-color:#6E90B9!important;
    font-size:11px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:0px;
    padding:0px 3px 0px 3px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 0px #6D89A6 !important;
    border-radius: 3px !important;
}

.btn-custom-blue_xs_fb{
    background-position: center;
    height:20px;
    width:20px;
    font-size:11px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:0px;
    padding:0px 3px 0px 3px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 0px #0C72BA !important;
    border-radius: 3px !important;
}


.btn-custom-light_blue_xs_tweet{
     background-position: center;
    height:20px;
    width:20px;
    font-size:11px !important; 
    font-weight:bold !important; 
    color:#257896; 
    border:0 !important; 
    margin:0px;
    padding:0px 3px 0px 3px !important; 
    border-radius: 0px !important;
    margin-left:2px;
    text-align:center !important;
    border:solid 0px #4ACBF2 !important;
    border-radius: 3px !important;
}



.btn-custom-green3{  
	background-color:#8BC442 !important;font-size:14px!important; font-weight:bold!important; color:#fff!important; border:0!important; padding:4px 10px!important; 
                       border-radius: 4px 4px 4px 4px!important; text-align:center!important    ;text-shadow:none!important ;
					   box-shadow:none!important ;   
    color: #fff !important;     
    -webkit-font-smoothing: antialiased!important;  
    font-size:14px!important;  
    font-weight:bold!important; 
}	
.btn-custom-green2{      
  background-color:#abd03a !important;font-size:14px!important; font-weight:bold!important; color:#fff!important; border:0!important; padding:1px 10px 0px 10px!important; 
                       border-radius: 4px 4px 4px 4px!important; text-align:center!important    ;text-shadow:none!important ;
					   box-shadow:none!important ;
}	
.btn-custom-green2-1{      
  background-color:#abd03a !important;font-size:14px!important; font-weight:bold!important; color:#fff!important; border:0!important; padding:4px 10px!important; 
                       border-radius: 4px 4px 4px 4px!important; text-align:center!important    ;text-shadow:none!important ;
					   box-shadow:none!important ;
}	


.btn-custom-blue2{      
    background-color:#6E90B9 !important;font-size:14px!important; font-weight:bold!important; color:#fff!important; border:0!important; padding:4px 10px!important; 
                       border-radius: 4px 4px 4px 4px!important; text-align:center!important    ;text-shadow:none!important ;
					   box-shadow:none!important ;
    font-size:14px!important;  
    font-weight:bold!important; 
}
.btn-custom-darkblue{  
	 background-color:#585F6B !important;font-size:14px!important; font-weight:bold!important; color:#fff!important; border:0!important; padding:4px 10px!important; 
                       border-radius: 4px 4px 4px 4px!important; text-align:center!important    ;text-shadow:none!important ;
					   box-shadow:none!important ;
    font-size:14px!important;  
    font-weight:bold!important;     
}
.btn-custom-transparent-green{  
    background-color:#8DC641 !important;
    font-size:14px !important; 
    font-weight:bold!important; 
    color:#fff!important; 
    border:0!important;
    text-decoration: underline !important;
    text-align:center!important;
    text-shadow:none!important;
    box-shadow:none!important ;
    font-size:14px!important;  
    font-weight:bold!important;     
}

.circle_with_text {
    border-radius: 16px;
    width: 32px;
    height: 24px;
    padding-top: 9px;
    text-align: center;
}

.btn-custom-magenta{  
    background-color:#CB128B !important;
    font-weight:bold!important; color:#fff!important; 
    border:0!important; padding:20px 10px; 
    border-radius: 10px!important; text-align:center!important;text-shadow:none!important ;
    box-shadow:none!important ;
    font-size:14px!important;  
    font-weight:bold!important;     
}

.btn-custom-blue_8ED3{  
    background-color:#008ED3 !important;
    font-weight:bold!important; color:#fff!important; 
    border:0!important; padding:20px 10px; 
    border-radius: 10px!important; text-align:center!important;text-shadow:none!important ;
    box-shadow:none!important ;
    font-size:14px!important;  
    font-weight:bold!important;     
}

.btn-custom-orange_F37A20{  
    background-color:#F37A20 !important;
    font-weight:bold!important; color:#fff!important; 
    border:0!important; padding:20px 10px; 
    border-radius: 10px!important; text-align:center!important;text-shadow:none!important ;
    box-shadow:none!important ;
    font-size:14px!important;  
    font-weight:bold!important;     
}

.btn-custom-blue{  
	 background-color:#0C72BA !important;font-size:14px!important; font-weight:bold!important; color:#fff!important; border:0!important; padding:4px 10px!important; 
                       border-radius: 4px 4px 4px 4px!important; text-align:center!important    ;text-shadow:none!important ;
					   box-shadow:none!important ;
    

}
.btn-custom-gray-light{  
	 background-color:#D2D7E2 !important;font-size:14px!important; font-weight:bold!important; color:#5C6179!important; border:0!important; padding:4px 10px!important; 
                       border-radius: 4px 4px 4px 4px!important; text-align:center!important    ;text-shadow:none!important ;
					   box-shadow:none!important ;
    

}


.btn-custom-transparent_white{  
	 background-color:transparent !important;font-size:14px!important; font-weight:bold!important; color:#fff!important; border:1px solid #fff!important; padding:4px 10px!important; 
                       border-radius: 8px 8px 8px 8px!important; text-align:center!important    ;text-shadow:none!important ;
					   box-shadow:none!important ;
    

}


.btn-custom2-007BB6{  
    background-color:#007BB6 !important;font-size:14px!important; font-weight:bold!important; color:#fff!important; border:0!important; padding:4px 10px!important; 
    border-radius: 4px 4px 4px 4px!important; text-align:center!important    ;text-shadow:none!important ;
    box-shadow:none!important ;
}
.btn-custom-white2{  

	background-color:#ffffff !important;font-size:14px!important; font-weight:bold!important; color:#000!important; border:0!important;padding:4px 10px 4px 10px!important; 
                       border-radius: 4px 4px 4px 4px!important; text-align:center!important    ;text-shadow:none!important ;
					   box-shadow:none!important ;
}
.btn-custom-white3{  

	background-color:#ffffff !important;font-size:14px!important; font-weight:bold!important; color:#000!important; border:0!important;padding:4px 10px!important; 
                       border-radius: 4px 4px 4px 4px!important; text-align:center!important    ;text-shadow:none!important ;
					   box-shadow:none!important ;
					   
    
	
	
}

.btn-custom-primary {  background-color:#abd03a;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 10px; 
                       border-radius: 4px 4px 4px 4px; text-align:center;
}

.btn-custom-checkout {  background-color:#8bc541;font-size:14px; font-weight:bold; color:#fff; border:0; padding:7px 10px; 
                        border-radius: 4px 4px 4px 4px; text-align:center;  margin:10px;
}
.btn-custom-primary-login {  background-color:#8bc541;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 30px; 
                             border-radius: 4px 4px 4px 4px; text-align:center;
}

a.btn-custom-primary{ text-decoration:none; color:#fff; margin:0; padding:2px;}
a.btn-custom-primary:hover{ text-decoration:none!important; color:#fff;}

.btn-custom-primary-big {  background-color:#abd03a;font-size:14px; font-weight:bold; color:#fff; border:0; padding:10px 20px!important; 
                           border-radius: 4px 4px 4px 4px; text-align:center;
}
a.btn-custom-primary-big{ text-decoration:none; color:#fff; margin:0; padding:2px 10px;}
a.btn-custom-primary-big:hover{ text-decoration:none!important; color:#fff;}


.btn-custom-green {  background-color:#abd03a;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 10px; 
                     border-radius: 4px; text-align:center;

}
.btn-custom-007BB6 {  background-color:#007BB6 !important;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 10px; 
                     border-radius: 4px; text-align:center;
}
a.btn-custom-green{ text-decoration:none; color:#fff; margin:0; padding:2px;}
a.btn-custom-green:hover{ text-decoration:none!important; color:#fff;}


.btn-custom-green-big {  background-color:#abd03a;font-size:14px; font-weight:bold; color:#fff; border:0; padding:6px 12px!important; 
                         border-radius: 4px!important; text-align:center;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle{ border-radius:4px!important;}
a.btn-custom-green-big{ text-decoration:none; color:#fff; margin:0; padding:2px;}
a.btn-custom-green-big:hover{ text-decoration:none!important; color:#fff;}
.btn-custom-white {  background-color:#fff;font-size:14px; font-weight:bold; color:#243d3f; border:0; padding:5px 10px!important;
                     border-radius: 4px 4px 4px 4px; text-align:center;
}
a.btn-custom-white{ text-decoration:none; color:#243d3f; margin:0; padding:2px;}
a.btn-custom-white:hover{ text-decoration:none!important; color:#243d3f;}
.btn-custom-gray { background-color:#59606b;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 10px;
                   border-radius: 4px 4px 4px 4px; text-align:center;}
a.btn-custom-gray{ text-decoration:none; color:#fff; margin:0; padding:2px;}
a.btn-custom-gray:hover{ text-decoration:none!important; color:#fff;}
.btn-custom-gray-big { background-color:#59606b;font-size:14px; font-weight:bold; color:#fff; border:0; padding:8px 10px!important;
                       border-radius: 4px 4px 4px 4px; text-align:center;}
a.btn-custom-gray-big{ text-decoration:none; color:#fff; margin:0; padding:2px;}
a.btn-custom-gray-big:hover{ text-decoration:none!important; color:#fff;}
.btn-custom-reset{background-color:#cdd7e2;font-size:14px; font-weight:bold; color:#465069; border:0; padding:4px 10px;border-radius: 0px; text-align:center;}
.btn-custom-reg{background-color:#778fad;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 14px;border-radius: 0px; text-align:center;}
.btn-custom-support{background-color:#738bad;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 20px;
                    border-radius: 4px; text-align:center; margin-left:152px;}
.btn-chnage-font{ font-size:18px; padding:10px 20px; text-align:center; line-height:20px;}
.disabled_option{
    color:#999;
    font-style:italic;
}
.btn-custom-gray-suppoetLink:disabled{
	 background-color:#DDE5EA!important;
	color:#EEE !important; 
}
.btn-custom-gray-suppoetLink { background-color:#ABD03A;font-size:14px; font-weight:bold; color:#fff; border:0; padding:5px 8px!important;
                               border-radius: 4px 4px 4px 4px; text-align:center;}
a.btn-custom-gray-suppoetLink{ text-decoration:none; color:#fff; margin:0; padding:2px;font-size:12px; font-family:Arial, Helvetica, sans-serif; letter-spacing:0; font-weight:normal;}
a.btn-custom-gray-suppoetLink:hover{ text-decoration:none!important; color:#fff;}
.btn-custom-gray-term { background-color:#6F92BB;font-size:14px; font-weight:bold; color:#fff; border:0; padding:5px 8px!important;
                        border-radius: 4px 4px 4px 4px; text-align:center;}
a.btn-custom-gray-term{ text-decoration:none; color:#fff; margin:0; padding:2px; font-size:12px; font-family:Arial, Helvetica, sans-serif; letter-spacing:0; font-weight:normal;}
a.btn-custom-gray-term:hover{ text-decoration:none!important; color:#fff;}
.btn-paypal {
    color: #fff;
    background-color: #a4c9fc;
    background-image: -moz-linear-gradient(top, #a4c9fc, #5598d9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a4c9fc), to(#5598d9));
    background-image: -webkit-linear-gradient(top, #a4c9fc, #5598d9);
    background-image: -o-linear-gradient(top, #a4c9fc, #5598d9);
    background-image: linear-gradient(to bottom, #a4c9fc, #5598d9);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4c9fc', endColorstr='#5598d9', GradientType=0);
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    *background-color: #e6e6e6;
    /* Darken IE7 buttons by default so they stand out more given they won't have borders */
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    border: 1px solid #5b91c7;
    *border: 0;
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    *margin-left: .3em;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {border-radius: 0;}
.textBoxGray{background:#e2e4eb!important; }
.textLightBoxGray{background:#e2e4eb!important;}
.regForgot a{ color:#738bad; font-size:14px; font-weight:bold; text-decoration:underline;}
.upload { padding:10px 0; margin-left:2px}
.upload a{ color:#738bad; font-size:14px;  text-decoration: none; }
.thumbnail {
    border: 0px solid #DDDDDD;
    border-radius:0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.thumbnail img { border-radius:15px;}

/*.nav-tabs {
        background:#a2bcd3;
}

.nav-tabs ul li .active{
   
        background:#dee6eb!important;
}*/
.profileTab{}
.profileTab ul { list-style:none; margin:0; padding:0;}
.profileTab ul li { margin:0; padding:0; float:left; font-family:harabarabold;}
.profileTab ul li a{ background:#a2bcd3; display:block; border-radius:5px 5px 0 0; width:100px; margin-right:1px; text-align:left; padding:10px 0 10px 10px; color:#0c497b; text-decoration:none; font-size:18px; letter-spacing:1px; }
.profileTab ul li a:hover{background:#dee6eb; color:#ed1c24;}
.profileTab ul li a:hover,.profileTab ul li .activeTab, .activeTab{ background:#dee6eb; color:#ed1c24;}
.profileTab ul li .activeTab#tbBrands{background:#343239;color:#fff}

.activityTab{}
.activityTab ul { list-style:none; margin:0; padding:0;}
.activityTab ul li { margin:0; padding:0; float:left; font-family:harabarabold;}
.activityTab ul li a{ background:#8B9FB7; display:block; border-radius:5px 5px 0 0; width:100px; margin-right:1px; text-align:left; padding:10px 0 10px 10px; color:#fff; text-decoration:none; font-size:18px; letter-spacing:1px; }

.tabContent{ background:#dee6eb;
             padding:27px 17px 27px 17px;
             margin-top:-1px; 
             border-radius:0 4px!important;
}
.tabContent .tabInnerContent{background:#fff; padding:27px 17px 27px 17px; }
.addAsFriendPopUp {  
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    width:270px;  background-color:#a2bcd3; border:2px solid #fff; position: fixed; z-index:2;
    position:absolute;
    padding:5px;
    color:#fff;
    font-size:12px;
    font-weight:bold;
    display:none;
    margin-top:-20px;
}
.addAsFriendPopUp h1{ text-align:center; font-size:20px; margin:5px; padding:5px; line-height:20px;}
.addAsFriendPopUp .thumbHolder{ background:#585f6b; padding:10px; width:100px; height:100px; float:left; overflow:hidden;}
.addAsFriendPopUp .nameHolder{ width:150px;float:left;}
.addAsFriendPopUp .nameHolderInner{ background:#585f6b; padding:10px; border-radius:0 10px 10px 0; color:#fff; }
.addAsFriendPopUp .nameHolderInner{ background:#585f6b; padding:10px; border-radius:0 10px 10px 0; color:#fff; }
.addAsFriendPopUp .userInfo{  padding:30px 10px 10px 10px; color:#134e7f; }
.addAsFriendPopUp .btns{ text-align:center; padding:10px 0 10px 0;}
.noTitleStuff .ui-dialog-titlebar {display:none}
.overflowVisible .ui-dialog-content{overflow:visible !important;}
.merchantShadow img{ box-shadow:3px 3px 1px #999;}
.friendThumb{ background:#d2d6e1; padding:0px; }
.thumbUserName{
	padding-top:8px;
     white-space: nowrap;
    text-overflow: ellipsis;
    width: 80px;
    display: block;
    overflow: hidden;
	text-align:left;
	
	
	}
.friendThumb p{ text-align:left;  }  
.friendThumb a{ color:#2a4345!important;}
.friendThumb img{ border-radius:0!important;}
.searchForFriendPanel{margin-top:5px; height:430px!important;}
.middleBorder{ border:1px solid #585f6b; padding:10px; border-radius:0 5px 0 5px; margin-top:5px;}
.topPaddingZero{ padding-top:0!important;}
.alert-info{ color:#333!important;}
.innerBorder{
    border:2px solid #5a616c;
    padding:5px;
    border-radius:0px 5px;
    padding:30px 40px;
    margin-top:5px;
}
.innerBorder2{
    border:2px solid #5a616c;
    padding:5px;
    border-radius:0px 5px;
    padding:30px 40px 0px 40px;
    margin-top:5px;
}
.innerBorder3{
    border:2px solid #5a616c;
    padding:5px;
    border-radius:0px 5px;
    padding:15px 20px;
    margin-top:5px;
}
.glompFont{font-family:harabarabold; letter-spacing:1px;}

.userProfileLeft{ width:318px; float:left; margin-right:10px; margin-top:-2px;}
.userProfileRight{ width:590px; float:left; margin-top:-2px;}

.loderAtEnd:after{	
    background-image:url('images/ajax-loader.gif');
}

.friendThumb2{ 
    height:160px;
    width:91px;
    float:left;
    margin:3px;
    background:#fff; padding:3px;
	border:solid 0px #000000;
	color:#59606B}
.friendThumb2 p{ text-align:left; font-size:11px;} 
.friendThumb2 a{ color:#2a4345!important;}
.friendThumb2 img{ border-radius:0!important;}

.content2{
    /*padding:10px 20px !important;/**/
}




.dialog_style_blue_grey{
    color:#ffffff !important;
    background-color: #A2BCD3  !important;
    border-color: #fff !important;	
}
.dialog_style_blue_grey .ui-dialog-titlebar {text-align:center;}
.dialog_style_blue_grey .ui-widget-content {
    border: 2px solid #A2BCD3 ;
    background: #A2BCD3 ;
    color: #ffffff;
}
.dialog_style_blue_grey .ui-widget-header .ui-state-default {
    border: 1px solid #A2BCD3 ;
    background: #A2BCD3 ;
    font-weight: normal;
    color: #ffffff;
}


.dialog_style_blue_dark{
    color:#ffffff !important;
    background-color: #59606B  !important;
    border-color: #fff !important;	
}
.dialog_style_blue_dark .ui-dialog-titlebar {text-align:center; background-color: #59606B  !important; border-color: #59606B  !important;}
.dialog_style_blue_dark .ui-widget-content {
    border: 2px solid #59606B ;
    background: #59606B ;
    color: #ffffff;
}
.dialog_style_blue_dark .ui-widget-header .ui-state-default {
    border: 1px solid #59606B ;
    background: #59606B ;
    font-weight: normal;
    color: #ffffff;
}









.friendThumb3{ 	
    width:100px;
    float:left;
    margin:4px;
    margin-right:0px;
    background:#585F6B; padding:4px;}
.friendThumb3 p{ text-align:left; font-size:9px;} 
.friendThumb3 a{ color:#fff!important;}
.friendThumb3 img{ border-radius:0!important;}

.friendThumb3_name{ 	
    float:left;
    margin:5px;
    width:141px;
    margin-left:0px;
    margin-top:4px;
    background:#585F6B; 
    padding:5px;	
    font-size:9px;
    text-align:left;
    border-radius:0px 10px 10px 0;
    -webkit-border-radius:0px 10px 10px 0;
    -moz-border-radius:0px 10px 10px 0;
}
.friendThumb3_desc{
    float:left;
    border:0px solid #333; 
    padding:5px;
    width:130px;
    font-size:11px;
    font-weight:bold;
    text-align:left;
    color:#004689;
    margin-top:15px;
}
.dialog_style_tour{

}
.dialog_style_tour{	
    color:#ffffff !important;
    background-color: #A2BCD3  !important;
    border-color: #fff !important;	

}
.dialog_style_tour .ui-dialog-titlebar {display:none;text-align:center;}
.noButtonAndTitleStuff .ui-dialog-buttonpane {display:none}
.noButtonAndTitleStuff .ui-dialog-titlebar {display:none}

.dialog_style_tour .ui-widget-content {
    border: 2px solid #A2BCD3 ;
    background: #A2BCD3 ;
    color: #ffffff;

}
.dialog_style_tour .ui-widget-header .ui-state-default {
    border: 1px solid #A2BCD3 ;
    background: #A2BCD3 ;
    font-weight: normal;
    color: #ffffff;

}

.tour_arrow_up_outer{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 20px 27px 1px;
    border-color: transparent transparent #C9DA5D transparent;
    margin-top:-40px;	
    position:absolute;
    left:10px;
}
.tour_arrow_up_inner{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 20px 27px 1px;
    margin-left:1px;
    margin-top:6px;	
    border-color: transparent transparent #8EC642 transparent;	
}
.tour_arrow_right_outer{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 0 20px 38px;
    border-color: transparent transparent transparent #C9DA5D;
    margin-right:-53px;	
    position:absolute;
    right:10px;
}
.tour_arrow_right_inner{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 0 20px 40px;
    border-color: transparent transparent transparent #8EC642;	
    float:right;
    margin-right:8px;
    margin-top:2px;


}
.tour_arrow_topright_outer{
    width: 0px;
    height: 0px;
    float:right;
    margin-top:-63px;
    border-style: solid;
    border-width: 0 0px 50px 40px;
    border-color: transparent transparent #C9DA5D transparent;
}
.tour_arrow_topright_inner{
    width: 0px;
    height: 0px;
    float:right;
    margin-top:7px;
    margin-right:2px;
    border-style: solid;
    border-width: 0 0px 50px 40px;
    border-color: transparent transparent #8EC642 transparent;
}
.tourDialog_1_content{
    clear:both;
    margin-top:0px;	
    border: solid 0px #333;
    padding:5px 0px;
    font-size:14px;
}
.tour_skip{
    padding-top:15px;
    cursor:pointer;
}
.tour_skip:hover{
    text-decoration:underline;
}

.title_type1{
    color:#59606b; font-size:16px; font-weight:bold; padding:5px;
}
.merchant_about_right_white{
    color:#59606b; font-size:12px; padding:2px; background-color:#ffffff;
    width:411px;float:left;
}
.merchant_about_location_wrapper{ 
    background: none repeat scroll 0 0 #d2d7e1;
    padding: 5px 20px 15px 10px;
    text-align: left;	
    color:#59606b;
    padding:5px 15px;
    font-size:14px;
    margin-top:3px;
}
.glomp_content_wrapper{
    background: #ffffff;
    background-color: #ffffff;	
    padding: 5px 20px 15px 10px;
}
.glomp_gray_wrapper{
    border: 4px solid #BABCBE;    
    text-align: left;		
    padding:10px 12px;
    padding-top:15px;
    font-size:14px;
    border-radius:10px;
    margin-top:3px;
    clear:both;
    width:560px;
}
.glomp_thumb_item{
    background-size: contain;
    width:90px;
    height:90px;
    border-radius:8px;
}	
.fl{
    float:left;
}
.fr{
    float:right;
}
.glomp_details{
    padding:5px 20px;	
    min-width:300px;
    width:300px;	
}
.glomp_details_2{
    padding:5px 20px;		
    width:245px;	
}
.glomp_details_line{
    width:0px;
    height:90px;
    border: 1px solid #BABCBE;
}
.glomp_buttons_wrapper{
    padding:10px 20px;	
}
.glomp_buttons{
    padding:2px 4px;	
}
.cl{
    clear:both;
}
.glomp_merchant{
    color:#749AAD;
    padding:1px;
    font-weight:bold;
}
.glomp_item{
    color:#749AAD;
    padding:1px;
    font-weight:bold;
}
.glomp_friend_name{
	padding:1px;
	color:#136BB3 !important;
	font-weight:bold;
}
.glomp_friend_name a{
	padding:1px;
	color:#136BB3 !important;
	font-weight:bold;
}
.glomp_remaining_time{
    padding:1px;
    color:#8BC442;
    font-weight:bold;
}
.glomp_thumb_voucher{
    background-size: contain;
    width:160px;
    height:50px;
    border-radius:8px;
    margin-right:5px;
    margin-bottom:5px;
}	
.glomp_thumb_voucher_details{
    padding:1px;	
    color:#8BC442;		
    width:150px;
    font-size:12px;
}
.glomp_thumb_voucher_details2{
    padding:1px;	
    color:#749AAD;		
    width:150px;
    font-size:12px;	
    width:280px;
}
.glomp_thumb_merchant{
    box-shadow:3px 3px 3px #333;	
    background-size: contain;
    width:40px;
    height:40px;
    border-radius:8px;
    margin-top:-10px;
    margin-left:-10px;

}
.glomp_points{
    padding:5px  1px;
    color:#359547;
    font-weight:bold;
    font-size:20px;
    margin-bottom:10px;

}
.glomp_thumb_points{
    width:68px;
    height:58px;
    border-radius:8px;	
    background-color:#8BC442;		
    border: 1px solid #C9DA2E;
    color:#fff;
    padding:15px 10px;
}
.glomp_gray_background{
    background-color:#D5D4DA;
    border: 4px solid #D5D4DA !important;
    margin-top:5px;	
}
.glomp_thumb_voucher_details_expired{
    padding:1px;	
    color:#749AAD;		
    width:150px;
    font-size:12px;
}
.glomp_remaining_time_expired{
    padding:1px;
    margin-top:8px;
    color:#626365;
    font-weight:bold;
    font-size:16px;
}
.glomp_points_expired{
    padding:5px  1px;
    color:#749AAD;
    font-weight:bold;
    font-size:20px;
    margin-bottom:10px;
}


.friendThumbSelected_1{ 
    height:132px;
    width:91px;
    float:left;
    margin:3px;
    background:#59606B; padding:3px;}
.friendThumbSelected_1 p{ text-align:left; font-size:9px;} 
.friendThumbSelected_1 a{ color:#FFFFFF!important;}
.friendThumbSelected_1 img{ border-radius:0!important;}















.dialog_style_glomped_alerts{
    color:#ffffff !important;
    background-color: #585F6A  !important;
    border-color: #fff !important;	
	outline: none !important;
	font-size:9px !important;
}	
.dialog_style_glomped_alerts .ui-dialog-title {font-size:8px !important;display:none}
.dialog_style_glomped_alerts .ui-dialog-titlebar {text-align:center;}
.dialog_style_glomped_alerts .ui-widget-content {
    border: 2px solid #333 !important;
    background: #585F6A !important;
    color: #ffffff !important;

}
.dialog_style_glomped_alerts .ui-dialog-buttonset{
	margin:0px !important;
	padding:0px !important;
}
.dialog_style_glomped_alerts .ui-dialog-content{
    border: 0px solid #333 !important;
    background: #585F6A !important;
    color: #ffffff;
	padding:5px !important;

	text-align:left;	
}
.dialog_style_glomped_alerts .ui-icon-closethick{
	display:none !important;
	width:0px !important;
	display:none !important;
	
}
.dialog_style_glomped_alerts .ui-icon-closethick:focus {outline: none; 	display:none !important;}
.dialog_style_glomped_alerts .ui-dialog-titlebar{
	padding:0px !important;
	display:none !important;
}
.dialog_style_glomped_alerts .ui-widget-header .ui-state-default {
    border: 0px solid #585F6A !important ;
	padding:0px !important;
    background: #585F6A ;
    font-weight: normal;
    color: #ffffff;
}

.dialog_style_glomped_alerts  .ui-dialog-buttonpane{
  border: 0px solid #333 !important;
    background: #585F6A !important;
	margin:0px !important;
	padding:0px !important;
}
.dialog_style_glomped_alerts .ui-widget-header {
	border: 0px solid #333 !important;
	/*background: #3a8104 url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) 50% 50% repeat-x;*/
	color: #ffffff;
	font-weight: bold;
}








.dialog_style_error_alerts{
    color:#ffffff !important;
    background-color: #8DC641  !important;
    border-color: #fff !important;	
	outline: none !important;
	font-size:12px !important;
    min-height:100px!important;
}	
.dialog_style_error_alerts .ui-dialog-title {font-size:12px !important;display:none}
.dialog_style_error_alerts .ui-dialog-titlebar{
	padding:0px !important;
	display:none !important;
}
.dialog_style_error_alerts .ui-dialog-titlebar {text-align:center;}
.dialog_style_error_alerts .ui-widget-content {
    border: 2px solid #333 !important;
    background: #8DC641 !important;
    color: #ffffff !important;

}
.dialog_style_error_alerts .ui-dialog-buttonset{
	margin:0px !important;
	padding:0px !important;
}
.dialog_style_error_alerts .ui-dialog-content{
    border: 0px solid #333 !important;
    background: #8DC641 !important;
    color: #ffffff;
	padding:5px !important;

	text-align:left;	
}
.dialog_style_error_alerts .ui-icon-closethick{
	display:none !important;
	width:0px !important;
	display:none !important;
	
}
.dialog_style_error_alerts .ui-icon-closethick:focus {outline: none; 	display:none !important;}

.dialog_style_error_alerts .ui-widget-header .ui-state-default {
    border: 0px solid #8DC641 !important ;
	padding:0px !important;
    background: #8DC641 ;
    font-weight: normal;
    color: #ffffff;
}

.dialog_style_error_alerts  .ui-dialog-buttonpane{
  border: 0px solid #333 !important;
    background: #8DC641 !important;
	margin:0px !important;
	padding:0px !important;
}
.dialog_style_error_alerts .ui-widget-header {
	border: 0px solid #333 !important;
	/*background: #3a8104 url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) 50% 50% repeat-x;*/
	color: #ffffff;
	font-weight: bold;
}




















.dialog_style_what_is_glomp{
    color:#ffffff !important;
    background-color: #585F6A  !important;
    border-color: #fff !important;	
	   border: 0px !important;	
	outline: none !important;
	font-size:9px !important;
	border-radius: 0px 10px 0px 10px !important;
    
    
}	
.dialog_style_what_is_glomp .ui-dialog-title {font-size:20px !important; }
.dialog_style_what_is_glomp .ui-dialog-titlebar {text-align:center;}
.dialog_style_what_is_glomp .ui-widget-content {
    border: 0px solid #333 !important;
    background: #585F6A !important;
    color: #ffffff !important;

}
.dialog_style_what_is_glomp .ui-dialog-buttonset{
	margin:0px !important;
	padding:0px !important;
	border-radius: 0px 10px 0px 10px !important;
}
.dialog_style_what_is_glomp .ui-dialog-content{
    border: 0px solid #333 !important;
    background: #585F6A !important;
    color: #ffffff;
	padding:5px !important;

	text-align:left;	
	border-radius: 0px 10px 0px 10px !important;	
}
.dialog_style_what_is_glomp .ui-icon-closethick{
	background-size: contain !important;    
	background-image:url("south-street/images/close_icon.png") !important;    		
	background-position:0px 0px;
    background-repeat:no-repeat !important;	
	margin:-10px -20px 0px !important;
	outline: none !important;
	cursor:pointer !important;
	
}
.dialog_style_what_is_glomp .ui-icon-closethick:focus {outline: none; 	}
.dialog_style_what_is_glomp .ui-dialog-titlebar{
	
	background: #585F6A !important;
	 color: #FF0000 !important;
	font-family:'harabarabold' !important; letter-spacing:1px !important;
	font-size:18px !important;	
	
	
}
.dialog_style_what_is_glomp .ui-widget-header .ui-state-default {
    border: 0px solid #585F6A !important ;
	padding:0px !important;
    background: #585F6A !important;
    font-weight: normal;
    color: #ffffff;
}

.dialog_style_what_is_glomp  .ui-dialog-buttonpane{
  border: 0px solid #333 !important;
    background: #585F6A !important;
	margin:0px !important;
	padding:0px !important;
	border-radius: 0px 10px 0px 10px !important;
}
.dialog_style_what_is_glomp .ui-widget-header {
	border: 0px solid #333 !important;
	/*background: #3a8104 url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) 50% 50% repeat-x;*/
	color: #ffffff;
	font-weight: bold;
}
.contentOverflowAuto .ui-dialog-content{
    overflow: auto !important;  
}


.what_is_glompDialog_close{
	background-size: contain !important;    
	background-image:url("images/close_icon.png") !important;    		
	background-position:0px 0px;
    background-repeat:no-repeat !important;		
	outline: none !important;
	cursor:pointer !important;
	float:right;
	padding:8px;
}











*:focus{
    outline: 0 !important;
}

.m_left8px{
	margin-left:8px !important;
}
/*Font sitez*/
.f10px{ font-size:10px !important;}
.f11px{ font-size:11px !important;}
.f12px{ font-size:12px !important;}
.f13px{ font-size:13px !important;}
.f14px{ font-size:14px !important;}
.f15px{ font-size:15px !important;}
.f16px{ font-size:16px !important;}
/*Font sitez*/


.faq_class h4{
	color:#6F92BB;
	margin-top:40px !important;
}
.faq_class h4:first-child{
margin-top:0px !important;
}
.perTabClass{
	width:101px !important;	
	text-align:center !important;
}
.w220px{
	width:220px !important;	
}
.w200px{
	width:200px !important;	
}
.w150px{
	width:150px !important;	
}
.w100px{
	width:100px !important;	
}

/* tool tip */
.info_tooltip {
    font: 12px/16px Helvetica, Arial, sans-serif;
    color: #495368;
}

.info_tooltip > div {
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    border: solid 1px black;
}

.info_tooltip, .info_tooltip_profile img {
    width: 12px;
} 



.fixed-size{ 
    height: auto !important; width: auto !important;
    min-height:auto !important;
    min-width: auto !important;
    max-height:auto !important;
    max-width: auto !important;
}


/* Notification setting classes */
.row-margin-5px {
    margin-top: 5px;
    margin-bottom: 5px;
}

/******************************************/
.conversation_wrapper{
    margin:0px 5px;
    margin-top:5px;    
    padding:0px 8px;
    width:585px;    
    cursor:pointer
}
.message_username:hover{
    text-decoration:underline;
}
.message_unread{
    border:3px solid #9B9DA0;
}
.message_read{
    border:3px solid #7E8083;
}
.message_left{
    width:500px;    
    border:0px solid #7E8083;
    padding:5px 5px;
}
.message_thumb{
    width:50px;
    height:50px;
    margin:1px 1px;
}
.message_username{
    color:#5B6791;
    font-size:12px;
    font-weight:bold;
}
.message_username:hover{
    text-decoration:underline;
}
.message_inner_left{
    color:#5578A8;
    border:0px solid;
    width:320px;
    margin-top:15px;
    margin-left:15px;
}
.message_read_text{
    color:#7E8083;
}
.message_read_text .message_details{    
    font-weight:normal !important;    
}
.message_details{
    font-size:14px;
    font-weight:bold;    
}
.message_details:hover{
    text-decoration:underline;
}
.message_trash_icon{
    border:0px solid;
    height:24px;
    width:20px;
    background-size:24px;
	background-position:center;	    
    background-repeat:no-repeat;
    margin:27px 10px 0px 0px;
    cursor:pointer;
}
.message_button_send{
    background-color:#8BC442 !important;
    font-size:14px!important; 
    font-weight:bold!important; 
    color:#fff!important; 
    border:0!important; 
    padding:4px 10px!important; 
    border-radius: 4px 4px 4px 4px!important;
    text-align:center!important;
    text-shadow:none!important ;
    box-shadow:none!important ;
}
.message_text_box{
    border:0px;
    width:540px;
    height:50px;
    outline:0;
    resize:none;
}
.message_to_wrapper{    
    margin:4px 0px;
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    padding:2px;
}
.message_search_text{
    font-size:14px!important;
    height:24px !important;
    border:0px !important;    
    margin:0px 5px!important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(192, 215, 51, 0.6) !important;    
    width:502px;
}
.message_search_text:focus{
    outline:none !important;
    border:0px !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(192, 215, 51, 0.6) !important;    
}
.message_label_to{
    border:0px solid !important;
    margin:8px 0px 0px 5px;
    font-size:14px;
}
.message_icon_online{
    font-size:18px;
    font-weight:bold;
    color:#8BC441;
    margin:-1px 0px 0px 0px;
}
.message_inner_left_inbox{
    color:#5578A8;
    border:0px solid;
    padding:0px 2px;
    border:0px solid !important;
    width:528px;
}
.message_username_inbox{
    color:#403D3E;
    font-size:13px;
    font-weight:bold;
}
.message_details_inbox{
    font-size:12px;
    font-weight:bold;  
    min-height:36px;
    padding-left:10px;
}
.message_time_inbox{
    color:#403D3E;
    font-size:11px;    
}
.message_seen{
    color:#bababa;
    font-size:10px;
}

.blink {
    animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
.messageCounter_wrapper{
    position: absolute; 
    z-index:1;
    margin:-9px 0 0 64px;             
}
.messageCounter{    
    background:#f00; 
    color:#fff;
    border-radius:2px; padding:1px 5px; font-size:12px; font-weight:normal; 
}

.speech_wrapper_them {
	position:relative; 
	padding:4px 4px;
	margin:3px 3px 0 3px;
	border:4px solid #9B9DA0; 
	text-align:left;
	color:#333;     
    width:592px;
	background:#fff;
	/* css3 */
	/*
	NOTES:
	-webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
	-webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
	Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
	*/
	
	border-radius:8px 8px 0px 8px;
}

/* creates larger curve */
.speech_wrapper_them:before {
	content:""; 
	position:absolute; 
	z-index:2; 
	bottom:-11px; 
	right:-4px; 
	width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 4px 8px 0;
    border-color: transparent #9B9DA0 transparent transparent;
}

/* creates smaller curve */
.speech_wrapper_them:after {
	content:""; 
	position:absolute; 
	z-index:2; 
	bottom:-14px; 
	right:-4px; 
	width:10px; 
	height:10px; 
	border-style:solid;
	border-width:3px 0px 0px 0px;
	border-color:#9B9DA0;
    border-left-color:#9B9DA0;
	margin-right:0px;
	background:transparent;
	/* css3 */
	-webkit-border-top-right-radius:25px 35px; 
	-moz-border-radius-topright:25px 35px; 
	border-top-right-radius:25px 35px; 
    /* reduce the damage in FF3.0 */
    display:block; 
}





.speech_wrapper_me {
	position:relative; 
	padding:4px 4px;
	margin:3px 3px 0 3px;
	border:4px solid #3C649B; 
	text-align:left;
	color:#333;     
    width:592px;
	background:#fff;
	/* css3 */
	/*
	NOTES:
	-webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
	-webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
	Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
	*/
	
	border-radius:8px 8px 8px 0px;
}

/* creates larger curve */
.speech_wrapper_me:before {
	content:""; 
	position:absolute; 
	z-index:2; 
	bottom:-11px; 
	left:-4px; 
	width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 4px 0px 0;    
    border-color: #3C649B transparent transparent 
}

/* creates smaller curve */
.speech_wrapper_me:after {
	content:""; 
	position:absolute; 
	z-index:2; 
	bottom:-14px; 
	left   :-4px; 
	width:10px; 
	height:10px; 
	border-style:solid;
	border-width:3px 0px 0px 0px;
	border-color:#3C649B;
    border-left-color:#3C649B;
	margin-right:0px;
	background:transparent;
	/* css3 */
	-webkit-border-top-left-radius:25px 35px; 
	-moz-border-radius-topleft:25px 35px; 
	border-top-left-radius:25px 35px; 
    /* reduce the damage in FF3.0 */
    display:block; 
}
.glomp_fb_share{

}
.share_wrapper_box{
    display:none;
    position: relative; 
    background: #D2D7E1; 
    border: 1px solid #6E90B9;     
    width:70px;
    margin-left:-40px;
    margin-top:2px;
    padding:4px;
    z-index:100;
    
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
 } 
.share_wrapper_box:after, .share_wrapper_box:before { 
    bottom: 100%; 
    left: 90%; 
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none; 
} 
.share_wrapper_box:after { 
    border-color: rgba(255, 255, 255, 0); 
    border-bottom-color: #D2D7E1; 
    border-width: 5px; 
    margin-left: -5px; 
} 
.share_wrapper_box:before{ 
    border-color: rgba(110, 114, 185, 0); 
    border-bottom-color: #6E90B9; 
    border-width: 6px; 
    margin-left: -6px;
    }
/******************************************/

.share_wrapper_box_up{ 

    display:none;
    position: relative; 
    background: #D2D7E1; 
    border: 1px solid #6E90B9;     
    width:86px;    
    margin-top:2px;
    padding:4px 6px 4px 6px;    
    z-index:9999;    
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
 } 
.share_wrapper_box_up:after, .share_wrapper_box_up:before{
    bottom: 100%; 
    left:50%;
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none;
    
} 
.share_wrapper_box_up:after{ 
    border-color: rgba(255, 255, 255, 0); 
    border-bottom-color: #D2D7E1; 
    border-width: 4px; 
    margin-left: -10px; 
} 
.share_wrapper_box_up:before{ 
    border-color: rgba(110, 114, 185, 0); 
    border-bottom-color: #6E90B9; 
    border-width: 6px; 
    margin-left: -12px;    
}
/***/
/** activity log**/
.red            {color:#E72525;}
.white            {color:#fff !important;}
.gray            {color:#869798;}

.green            {color:#BAD535;}
.blue {color:#0C72BA};
a.red:link      {color:#E72525;}    /* unvisited link   */
a.red:visited   {color:#E72525;}    /* visited link     */
a.red:hover     {color:#E72525;}    /* mouse over link  */
a.red:active    {color:#E72525;}    /* selected link    */
/** activity log**/
.product-card .context p,
.product-card .context span {
    color:#8bc541;
}
.product-card a:hover {
    text-decoration: none;
}

#popUpBrand {  
    -moz-border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    border-radius: 10px; 
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
    display: block;
    /*margin:85px 0 0 -142px;*/
    min-height: 100px;
    width:244px;  background-color:#8cc540; border:2px solid #bad530; position: absolute; z-index:1000!important; 
    padding:15px;
 }
 
 
.width_80_per{
	width:200px !important;
}
.width_40_per{
	width:97px !important;
}
.width_300_px{
	width:300px !important;
}
.width_147_px{
	width:147px !important;
}
.forgotPassword_brand a{

 color:#4A5790; text-decoration:underline;
 font-size:12px;
 }
.body_bottom_1px{
    border-bottom: #B0B0B0 solid  1px !important;	
	margin-bottom: 6px;
}
.btn-custom-red{
	background-color:#ED1D24 !important;font-size:12px!important; font-weight:bold!important; color:#fff!important; 
	border:0!important; padding:4px 10px!important; 
	border-radius: 4px 4px 4px 4px!important; text-align:center!important    ;text-shadow:none!important ;
	box-shadow:none!important ;
	width:40px;
}



.add_to_cart_disable
{
	background-color:#D2D7E1 !important;
}