@font-face {
    font-family: 'harabarabold';
    src: url('../font/harabara-webfont.eot');
    src: url('../font/harabara-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/harabara-webfont.woff') format('woff'),
         url('../font/harabara-webfont.ttf') format('truetype'),
         url('../font/harabara-webfont.svg#harabarabold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{ margin:0; 
	padding:0; 
	font: 12px/16px Helvetica, Arial, sans-serif;
	background:#fff;
	color:#495368;
	}
.outerBorder { border:1px solid #bcbec0; border-top:0px; padding:5px 10px 10px 10px; width:940px; margin-left:-1px; margin-bottom:20px;}
.landingPage .desc { color:#005172; width:450px; margin:0 auto; text-align:left; font-size:15px; padding:0 0 40px 0;}
.landingPage .desc .title{ font-size:16px; font-weight:bold;}
.landingPage .desc .body{ padding:0 0 0 20px; line-height:19px; }
.landingLoginBox{}
.tabWholeBox{ width:200px;
border-radius:20px 20px 0 0;
-webkit-border-radius:20px 20px 0 0;
-moz-border-radius:20px 20px 0 0;
background:#6e90b7;
}
.tabWholeBox .login a{width:82px;
border-radius:20px 20px 0 0;
-webkit-border-radius:20px 20px 0 0;
-moz-border-radius:20px 20px 0 0;
background:#59606b; text-align:left; padding:10px 0 10px 18px;
display:block; 
color:#ed1c24;
float:left;
text-decoration:none;
font-family:harabarabold;
font-size:14px;
letter-spacing:1px;
}
.tabWholeBox .registerTab a{
width:80px;
text-align:left; 
padding:10px 0 10px  20px;
display:block; 
color:#F00;
float:left;
color:#bcd6e3;
text-decoration:none;
font-size:14px;
font-family:harabarabold;
letter-spacing:1px;
}
.loginBoxVideo{ background:#59606b;}
.landingTopLogo{ padding-top:60px;}

.landingLoginBox .content{ border:5px solid #59606b; background:#fff; 
border-radius:0 5px 0 5px;
-webkit-border-radius:0 5px 0 5px;
-moz-border-radius:0 5px 0 5px;
padding:20px 10px 0 10px;
}
.landingLoginBox .form-horizontal .control-label {
  float: left;
  width: 100px;
  padding-top: 5px;
  text-align: left;
}
.landingLoginBox .form-horizontal .controls{ margin-left:98px;}
.landingLoginBox .forgotPassword{}
.landingLoginBox .forgotPassword a{ color:#000; text-decoration:underline;}
.termAndConditions a{ color:#000;}

.header {
    background: none repeat scroll 0 0 #59606B;
    border: 1px solid #838890;
    height: 70px;
	width:960px;
	margin:0 auto;
}
.innerPageTitleRed{ color:#ed1c24; font-size:16px; font-weight:bold;}
.innerPageTitleWhite{ color:#fff; font-size:16px; font-weight:bold;}
.register {
    background: none repeat scroll 0 0 #59606B;
    margin: 12px 0;
    padding: 15px 20px 15px 10px;
    text-align: left;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}
.register h1 { border-bottom:2px solid #cfd8e3; font-size:20px; height:35px; color:#495368!important;}
.register .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.register .content{
	margin-top:10px;
	background: none repeat scroll 0 0 #fff;
    padding: 20px;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;}
.register .form-horizontal .control-label {
  float: left;
  width: 120px;
  padding-top: 5px;
  text-align: left;
  color:#495368;
  font-weight:bold;
}
.register .form-horizontal .controls{ margin-left:99px;}
.register .uploadImgae{  background: none repeat scroll 0 0 #59606B; height:160px; width:150px;}
.register .createPasswordTips { background:#eeebee;  width:300px; color:#555e71; padding:25px 10px; vertical-align: central; margin-top:10px;} 
.createPasswordTable { margin-bottom:10px;}
.redPontHolder { background:#ec2227; border-radius:2px; color:#fff; padding:2px 5px; margin-left:5px; }
.popover-title{ background:#8bc341; font-weight:bold;}
.popover{ background:#89c656; color:#fff; border:2px solid #cadb2a;}
.popover.right .arrow:after{border-right-color:#8bc341;}
.innerTopNav{ padding:40px 0 0 0; font-weight:bold;}
.innerTopNav .label-important, .badge-important{background-color:#F00;}
.innerTopNav .user_name a{ color:#C1D832;}
.innerTopNav .user_home a{ color:#fff;  font-size:14px; margin:0 0 0 20px;}
.innerTopNav .faq a{ color:#fff;  font-size:14px; display:block; padding:0 10px; float:right; margin:0 0 0 20px;}
.innerTopNav .settings a{ color:#fff;  font-size:14px; display:block; padding:0 10px; float:right; margin:0 0 0 10px;}
.cusMenuHolder { cursor:pointer;}
.cusMenu{ padding:10px; background:rgba(89,97,107,.8);   display: none; position:absolute; z-index:1;
-moz-border-radius:  0 0 5px 5px; -webkit-border-radius: 0 0 10px 10px; 
-khtml-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;
border-top:0px solid #fff;
 text-align:left;width:100px; margin-top:2px; margin-left:237px;}
.cusMenu ul{list-style:none!important; margin:0; padding:0; }
.cusMenu ul li{ list-style:none; border-bottom:1px solid #3d4047; padding:3px 3px;  display:block;}
.cusMenu ul li:hover{ background:#BDD634;}
.cusMenu ul li a{ list-style:none; color:#fff; font-weight:bold;}
.cusMenu ul li a:hover{text-decoration:none;  display:block;}
.innerTopNav .glomp a{ color:#fff; font-weight:bold; font-size:14px; background:url(../img/glomp_group_logo.jpg) no-repeat; height:22px; width:23px; display:block;  float:right; margin:-4px 0 0 20px;}
.innerTopNav  .notification{ position: absolute; z-index:1; background:#f00; border-radius:5px; padding:0px 5px; font-size:12px; font-weight:normal; margin:-7px 0 0 11px; }

.searchBox{ border:8px solid #64677a;
-moz-border-radius: 0 5px 0 5px; 
-webkit-border-radius: 0 5px 0 5px; 
-khtml-border-radius: 0 5px 0 5px; 
border-radius: 0 5px 0 5px;
background:#d2d7e1;
color:#4a5468;
margin-top:0px;
 }
 .searchBox form{ margin:0; padding:0;}
.searchBox input[type='text']{ margin-bottom:5px; }
.searchBox .search{ width:225px; float:left; margin:0 10px 0 0; padding:10px 0 0 10px;}
.searchBox .face{ width:270px; float:left; padding-top:10px;}
.searchBox .inviteFriends{ width:350px; float:left; border-left:5px solid #fff; padding:10px; min-height:98px;}
.searchBox .face img { float:left; width:42px; height:45px; margin:0 12px 12px 0;}
.inviteFriends h3{ margin:0 0 3px 0; padding:0; font-size:16px; line-height:20px;
}
.inviteFriends .btn{ margin-top:-5px;}
.inviteFriends input[type='text'] { height:15px; margin-bottom:1px;}


.dashBoard {
    background: none repeat scroll 0 0 #59606B;
    margin: 6px  0 0 0;
    padding: 15px 12px 15px 10px;
    text-align: left;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	height:500px;
	float:left;
	width : 540px;
}
.dashBoard .buzzScroll { height:470px; margin-top:10px; }
.dashBoard h1 {  background:url(../img/glomped_buzz.jpg) no-repeat; margin:0; padding:0; line-height:24px;}
.dashBoard .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.dashBoard .content{
	margin-bottom:10px;
	background: none repeat scroll 0 0 #fff;
   padding:10px;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	height:480px;

	
	}
.dashBoard .time{ color:#ec2227; font-size:11px; font-weight:normal;}
.dashBoard a{color:#ec2227; text-decoration:none;}
.dashBoard .face{ height:65px; width:59px;}
.dashBoard .merchant_logo{ height:53px; width:55px;}	
.dashBoard .no_more_buzz{ padding:92px 0; text-align:center;}	
.dashBoardRight { 
    background: none repeat scroll 0 0 #d2d7e1;
    
    padding: 15px 12px 15px 10px;
    text-align: left;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	height:500px;
	float:left;
		width : 350px;
margin-left : 6px;
margin-top: 6px;

	
}

.dashBoardRight .glompedPanel{ height:480px; margin-top:10px;}
.dashBoardRight h1 {  background:url(../img/glomped_dashboard_right_title.jpg) no-repeat; margin:0; padding:0; line-height:24px;}

.dashBoardRight .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.dashBoardRight .content{
	margin-bottom:10px;
	background: none repeat scroll 0 0 #59616b;
    padding: 20px;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;}
	
.dashBoardRight .no_glomped{ color:#fff;}

.dashBoardRight .product{
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;
	}
.dashBoardRight .messageBox{
	background:#d2d7e1;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;
	margin-top:15px;
	margin-bottom:5px;
	line-height:14px;
	padding:5px;
	color:#59616b;
	}
.dashBoardRight .messageBox .paddingTop5px{
	padding-top:5px;
	}
.dashBoardRight .btnBorder{
	border-bottom:1px solid #fff!important;
	padding-bottom:5px;
	}
	
	
.dashBoardRight .time{ text-align:left; color:#fff; padding:4px; line-height:9px; font-size:11px;}
.dashBoardRight .merchantNProducts{ text-align: center; color:#fff; font-size:12px; line-height:12px; padding:3px 0;}

.dashBoardRight .popUp {  
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
	margin-top:5px;
	margin-bottom:5px;
	display:none;
 width:310px;  background-color:#8cc540; border:2px solid #bad530; position:absolute; z-index:2;
 height:150px;
 }
 .dashBoardRight .popUp p{ padding:5px;}
.dashBoardRight .popUp .close{ margin-top:-3px; padding:5px;}
.dashBoardRight .popUp .close a{ color:#fff; text-decoration: none;}

.dashBoardRight .popUp .content{ background:none; margin:0; padding:0;}
/* search friends */


.searchFriendsOuter{
    background: none repeat scroll 0 0 #fff;
    margin: 12px 0;
    padding: 5px 20px 15px 10px;

}
.searchFriends {
    background: none repeat scroll 0 0 #59606B;
    padding: 5px 12px 15px 10px;
    text-align: left;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	height:441px;
}
.searchFriendsOuter h1 { line-height:24px; color:#fff; font-size:24px;} 
.searchFriends .content{
	margin-top:0px;
	background: none repeat scroll 0 0 #fff;
    padding: 20px;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	
	}
.searchFriends .searchUser { height:395px; border:5px solid #bbbdc0;}
.searchFriends .content  ul li .thumbnail img{ height:90px;}
.searchFriends .content  ul li .thumbnail { font-size:11px; text-align:center; line-height:12px; height:130px;}
.searchFriends .content  ul li .thumbnail p{ padding-top:5px;} 
.searchFriends .content .thumbnails > li	{margin-bottom:-1px;}  	
.searchFriends form{ margin:0; padding:0;}
.searchFriendsRight { 
    background: none repeat scroll 0 0 #d2d7e1;
    padding: 5px 20px 15px 10px;
    text-align: left;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	color:#495368;
	height:441px;
	
}
.searchFriendsRight h1 { line-height:24px; color:#ed1c24; font-size:24px;} 

.searchFriendsRight .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.searchFriendsRight .content{
	margin-top:10px;
	background: none repeat scroll 0 0 #fff;
    padding: 20px;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	
	}

.searchFriendsRight form{ margin:0; padding:0;}
.searchFriendsRight form input, textarea{ margin:0;}

	
/* end of search friends */

/* Start of user fofile*/

.profile .profilePicture{background: none repeat scroll 0 0 #59606B; padding:10px; color:#fff; min-height:148px;  margin: 12px 0;}
.profile .profilePicture img{-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;
	width:124px; 
	
	}
.dropdown-menu{ min-width:99px;}
.profile .profilePicture .name{ font-size:14px; font-weight:bold;}
.profile .profilePicture .dob{ font-weight:bold; padding-top:2px;}
.profile .profilePicture .address{ padding:8px 0 0 0; font-weight:bold;}
.profile .profilePicture .addAsFriens{ margin:46px 0 0 0; }


.profile .profilePicture .dropdown-menu {
    background-color: #000;
	background:  rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
	margin-top:1px;
}
.profile .profilePicture .dropdown-menu  ul {
	width:100px;
}
.profile .profilePicture .dropdown-menu > li > a{ color:#fff;}
.profile .profilePicture .dropdown-menu > li > a:hover,
.profile .profilePicture .dropdown-menu > li > a:focus,
.profile .profilePicture .dropdown-submenu:hover > a,
.profile .profilePicture .dropdown-submenu:focus > a {
  text-decoration: none;
  color: #ffffff!important;
  background-color: #fff!important;

}
.profile .fev { 
    background: none repeat scroll 0 0 #dee6eb;
    margin: 12px 0;
    padding: 10px;
    text-align: left;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	color:#fff;
	height:148px;	
}
.profile .fev .title{ color:#59606b; font-size:16px; font-weight:bold; padding:0 0 5px 0;}
.profile .fev .productName{ text-align:left; padding:0 0 0 0; color:#59616b; margin-top:-2px;} 


.profile .fev .carousel img { width:85px; height:88px; 
-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px; cursor:pointer;}
	
.profile #merchants img{ height:120px; width:120px;}
.profile #merchants ul{ margin:0; padding:0;}
.profile .fev .carousel-control.right  { right: 8px;}
.profile .fev .carousel-control.left{  left: -10px;}
.profile .fev .carousel-control { }


.profile .fev .popUp {  
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
	display: none;
	margin:85px 0 0 -5px;
 width:220px;  background-color:#8cc540; border:2px solid #bad530; position:fixed; z-index:1000;
 padding:15px;
 }
.profile .fev .popUp .name1 { color:#fff; font-weight:bold; line-height:16px; margin-top:4px;}
.profile .fev .popUp .name2 { color:#fff; font-weight:bold; line-height:12px!important; font-style:italic;}
.profile .fev .popUp p{ font-size:12px;}
.profile .fev .popUp img { width:100% ; 
-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;}
.profile .fev .remove{ position: absolute; z-index:1000px!important; padding:2px; -moz-border-radius: 15px; 
-webkit-border-radius: 15px; 
-khtml-border-radius: 15px; 
border-radius: 15px; margin:-88px 0 0 58px; font-size:24px; cursor:pointer; width:24px; height:24px;}

.profile .fev .removeing{ position: absolute; z-index:2000px; background:#F00; padding:5px; -moz-border-radius: 2px; 
-webkit-border-radius: 2px; 
-khtml-border-radius: 2px; 
border-radius: 2px; margin:-107px 0 0 0px; font-size:12px;}

.profile .fev .addIcon {  font-size:16px;}
.profile .fev .addIcon a{ text-decoration:none;}
	
.carousel-inner { padding:0 0 0 40px;  }
.profile .nav-tabs > li > a{ color:#ec1c24; font-weight:bold; font-size:16px;}


.buzPan {
	height:500px;
}
.buzPan .buzzScroll { height:480px; margin-top:10px;}
.buzPan h1 {  background:url(../img/glomped_buzz.jpg) no-repeat; margin:0; padding:0; line-height:24px;}
.buzPan .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.buzPan .content{
	margin-bottom:10px;}

.buzPan .time{ color:#ec2227; font-size:11px;}
.buzPan a{color:#ec2227; text-decoration:none;}
.buzPan .face{ height:65px; width:59px;}
.buzPan .merchant_logo{ height:53px; width:55px;}	
.buzPan .no_more_buzz{ padding:92px 0; text-align:center;}



/* end of user profile */

/* merchant product page */

.merchantProduct {color:#fff;  margin: 12px 0;}
.merchantProduct .left{ background: none repeat scroll 0 0 #d2d7e1;
  
    padding: 10px;
    text-align: left;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	color:#fff;}
.merchantProduct .left img{ height:200px; width:200px;}
.merchantProduct .right{ background: none repeat scroll 0 0 #d2d7e1;
    padding: 10px;
    text-align: left;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	color:#fff;
	position:relative;}
.merchantProduct ul{ margin:0!important; padding:0;}
.merchantProduct .right img{ height:120px; width:120px; }
.merchantProduct .notification { position: absolute!important; z-index:1;  -moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;
	background:#f00;
	padding:5px;
	font-weight:bold!important;
	font-size:22px;
	margin:-12px 0 0 129px;
	}
.merchantProduct .name1 { color:#3c679e; font-weight:bold; line-height:14px; margin-top:4px; text-align:center;}
.merchantProduct .name2 { color:#3c679e; font-weight:normal; line-height:14px;}

.merchantProduct .popUp {  
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
	display:none;
	margin:-10px 0 0 -20px;
 width:200px;  background-color:#8cc540; border:2px solid #bad530; position:absolute; z-index:2;
 padding:5px;
 }
.merchantProduct .popUp .name1 { color:#fff; font-weight:bold; line-height:16px; margin-top:4px;}
.merchantProduct .popUp .name2 { color:#fff; font-weight:bold; line-height:12px!important; font-style:italic;}
.merchantProduct .popUp p{ font-size:12px;}
.merchantProduct .popUp img { width:100% ;
-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;}
/* EOF merchant product page */




.sutoSugSearch{ padding:10px; background:#fff;   display: none;; position:absolute; z-index:1;
-moz-border-radius:  0 0 5px 5px; -webkit-border-radius: 0 0 10px 10px; -khtml-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; border:1px solid #ccc;
border-top:0px solid #fff;
 text-align:left;width:198px; margin-top:2px;}
 .sutoSugSearch a { display:block; padding:3px 0; border-bottom: 1px solid #ccc; color:#0063ae; text-decoration:none; cursor:pointer;}
.sutoSugSearch ul { margin:0; padding:0; list-style:none;}
.sutoSugSearch ul li{ margin:0; padding:0; border-bottom:1px solid #ccc;}

.addAsFriend .popUp {  
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
	margin-top:5px;
	margin-bottom:5px;
	display:none;
 width:290px;  background-color:#8cc540; border:2px solid #bad530; position:absolute; z-index:1000;
 height:150px;
 padding:10px;
 color:#fff;
 }
 .addAsFriend .popUp .title { text-align:center; color:#fff; font-size:16px; font-weight:bold;}
.addAsFriend .popUp img{-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;}
.addAsFriend .popUp .name  { color:#fff; font-weight:bold; margin:5px 0 10px; 0; line-height:14px;}
.addAsFriend .popUp .formHolder{ padding:10px 0 0 0; text-align:center;}



.profilePicture .popUp {  
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
	margin-top:5px;
	margin-bottom:5px;
	display: none;
 width:290px;  background-color:#8cc540; border:2px solid #bad530; position:absolute; z-index:1000;
 height:110px;
 padding:10px;
 color:#fff;
 }
 .profilePicture .popUp .title { text-align:center; color:#fff; font-size:16px; font-weight:bold;}

.profilePicture .popUp p  { color:#fff; font-weight: normal; margin:5px 0 10px; 0; line-height:14px;}
.profilePicture .popUp .formHolder{ padding:10px 0 0 0; text-align:center;}





/* merchant cat product page */

.merchantCatProduct {color:#fff;  margin: 12px 0;}
.merchantCatProduct .left{ background: none repeat scroll 0 0 #d2d7e1;
  
    padding: 10px;
    text-align: left;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	color:#fff;}
.merchantCatProduct .left img{ height:200px; width:200px;}
.merchantCatProduct .right{ background: none repeat scroll 0 0 #d2d7e1;
    padding: 10px;
    text-align: left;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
	color:#fff;
	position:relative;}
.merchantCatProduct ul{ margin:0!important; padding:0;}
.merchantCatProduct .right img{ height:120px; width:120px; }
.merchantCatProduct .notification { position: absolute!important; z-index:1;  -moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;
	background:#f00;
	padding:5px;
	font-weight:bold!important;
	font-size:24px;
	margin:-13px 0 0 168px;
	}
.merchantCatProduct .addFev{ position:absolute; font-size:40px; z-index:1px; color:#B9D536; margin:-35px 0 0 157px; cursor:pointer;}

.merchantCatProduct .addingFev{ position: absolute; z-index:1px; background:#F00; padding:5px; -moz-border-radius: 2px; 
-webkit-border-radius: 2px; 
-khtml-border-radius: 2px; 
border-radius: 2px; margin:59px 0 0 69px; font-size:14px; font-weight:bold;}

.merchantCatProduct .name1 { color:#3c679e; font-weight:bold; line-height:16px; margin-top:4px; text-align:left;}
.merchantCatProduct p { color:#fff; font-weight:normal; line-height:12px; margin-top:4px; text-align:left;}
.merchantCatProduct .name2 { color:#3c679e; font-weight:normal; line-height:14px;}

.merchantCatProduct .popUp {  
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
	display:none;
	margin:-10px 0 0 -20px;
 width:244px;  background-color:#8cc540; border:2px solid #bad530; position:absolute; z-index:2;
 padding:15px;
 }
.merchantCatProduct .popUp .name1 { color:#fff; font-weight:bold; line-height:16px; margin-top:4px;}
.merchantCatProduct .popUp .name2 { color:#fff; font-weight:bold; line-height:12px!important; font-style:italic;}
.merchantCatProduct .popUp p{ font-size:12px;}
.merchantCatProduct .popUp img { width:100% ;
-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px; 
	border-radius:5px;}
/* EOF merchant product page */


/*Update profile*/

.fullPage {
    background: none repeat scroll 0 0 #59606B;
    margin: 12px 0;
    padding: 5px 20px 15px 10px;
    text-align: left;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.fullPage h1 { line-height:24px; color:#ed1c24; font-size:24px;} 
.searchPageHeader h1 { line-height:24px; color:#ed1c24; font-size:24px;} 
.fullPage .border { border-bottom:2px solid #D3D7E1; height:2px; min-height:2px; margin-bottom:20px;}
.fullPage .content{
	margin-bottom:10px;
	background: none repeat scroll 0 0 #fff;
    padding: 20px;
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;}
/* end of update profile*/

/*buy points page*/

.buyPoints{}
.buyPoints .point_{ background:#eb2227; padding:2px 5px; width:100px!important; color:#fff; border-radius:5px;}
.buyPoints .innerContent h1 { line-height:24px; color:#fff; font-size:24px;} 
.buyPoints .innerContent {
    background: none repeat scroll 0 0 #dee6eb;
    padding: 10px;
    text-align: left;
	border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
}
.buyPoints .border_radious {
	border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
}

.buyPointsLeftBG{ background-color:#59606b!important;}

.buyPoints .innerContent h1 { line-height:20px; color:#59606b; font-size:20px; margin:0 0 0 14px; padding:0;} 
.buyPoints .innerContent .glompoints {
    background: none repeat scroll 0 0 #eb2227;
    padding: 20px;
    text-align: center;
	border-radius:5px;
	 margin : 10px auto 0 auto;
	width:100px;
	color:#fff;
}

.buyPoints .btnHolder { border-top:2px solid #dfe5ec; padding:20px 0;}
.buyPoints .innerWhiteBg {
    background: none repeat scroll 0 0 #fff;
    padding: 10px;
	border-bottom-left-radius: 5px;
	 border-top-right-radius: 5px;
	 margin:15px;
	 font-size:16px;
	 font-weight:bold;
}

.buyPoints .innerContent .glompoints .level{ font-size:16px; padding:0 0 15px 0; font-weight:bold;}
.buyPoints .innerContent .glompoints .points{ font-size:30px;font-weight:bold;}
.buyPoints .img_payment{
	padding:15px 15px 15px 0px;
	}
.buyPoints .innerContent .glompSelPoints{ 
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
 border:2px solid #8e959d;
text-align:center; color:#fff; 
font-size:16px; font-weight:bold;
margin:10px 10px 0 0;
float:left;
padding:6px 12px;
cursor:pointer;
color:#465069;
width:48px;
	 }
	 
.buyPoints .innerContent dl { font-size:14px;}
.buyPoints .innerContent .Loader { font-size:25px; padding:5px 0 0 5px; color:#467800; display:none;}
   

/* End ofbuy points */

/*glompItem to frend popup */

.glompItemPopUp {  
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
 width:400px;  background-color:#8cc540; border:2px solid #bad530; position: fixed; z-index:2;
 padding:5px;
 color:#fff;
 font-size:12px;
 font-weight:bold;
 display:none;
 }
 
 .glompItemPopUp .forgotPassword{ color:#fff; font-size:14px; font-weight:bold; text-align:center; padding:0 0 5px 0;}
  .glompItemPopUp .forgotPassword a{ display:block; color:#fff;}
    .glompItemPopUp .itemname{ font-size:20px; padding-top:10px;}
/* end of glompItem to friend  popup */


/* start of top cms pages */

.cmsPage { color:#fff; font-size:12px;}
.cmsPage a{ color:#fff; text-decoration:none;}
/* end of top cms page*/
 
form input._error {
   display: inline;
	border-color: rgba(181, 0, 7, 0.8);
  	outline: 0;
  	outline: thin dotted \9;
  /* IE6-9 */
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
}
form select._error {
 display: inline;
	border-color: rgba(181, 0, 7, 0.8);
  	outline: 0;
  	outline: thin dotted \9;
  /* IE6-9 */
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
  	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
}
form input[type = checkbox]._error {
	
	display: inline;
	border-color: rgba(181, 0, 7, 0.8);
  	outline: 0;
  	outline: thin dotted \9;
  /* IE6-9 */
  	-webkit-box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
  	-moz-box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
  	box-shadow: inset 0 2px 2px rgba(0,0,0,.075), 0 0 8px rgba(181,0,7,.6);
}
.alert p{
	margin:0!important;
	padding:0!important;
	
	}
 .btn-custom-darkblue{  
background-color: hsl(218, 10%, 38%) !important; 
background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#585F6B", endColorstr="#585F6B")!important;  
background-image: -khtml-gradient(linear, left top, left bottom, from(#585F6B), to(#585F6B))!important;  
background-image: -moz-linear-gradient(top, #585F6B, #585F6B)!important;  
background-image: -ms-linear-gradient(top, #585F6B, #585F6B)!important; 
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585F6B), color-stop(100%, #585F6B))!important; 
 background-image: -webkit-linear-gradient(top, #585F6B, #585F6B)!important;  
 background-image: -o-linear-gradient(top, #585F6B, #585F6B)!important;  
 background-image: linear-gradient(#585F6B, #585F6B)!important;  
 border-color: #585F6B #585F6B hsl(217, 9%, 38%)!important; 
 color: #fff !important; 
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26)!important;  
 -webkit-font-smoothing: antialiased!important;  
 font-size:14px!important;  
 font-weight:bold!important; 
 }
	
 .btn-custom-blue{  
background-color: hsl(205, 88%, 39%) !important; 
background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0C72BA", endColorstr="#0C72BA")!important;  
background-image: -khtml-gradient(linear, left top, left bottom, from(#0C72BA), to(#0C72BA))!important;  
background-image: -moz-linear-gradient(top, #0C72BA, #0C72BA)!important;  
background-image: -ms-linear-gradient(top, #0C72BA, #0C72BA)!important; 
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #0C72BA), color-stop(100%, #0C72BA))!important; 
 background-image: -webkit-linear-gradient(top, #0C72BA, #0C72BA)!important;  
 background-image: -o-linear-gradient(top, #0C72BA, #0C72BA)!important;  
 background-image: linear-gradient(#0C72BA, #0C72BA)!important;  
 border-color: #0C72BA #0C72BA hsl(217, 9%, 38%)!important; 
 color: #fff !important; 
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26)!important;  
 -webkit-font-smoothing: antialiased!important;  
 font-size:14px!important;  
 font-weight:bold!important; 
 }
 .btn-custom-white2{  
background-color: hsl(0, 0%, 100%) !important; 
background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff")!important;  
background-image: -khtml-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff))!important;  
background-image: -moz-linear-gradient(top, #ffffff, #ffffff)!important;  
background-image: -ms-linear-gradient(top, #ffffff, #ffffff)!important; 
 background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #ffffff))!important; 
 background-image: -webkit-linear-gradient(top, #ffffff, #ffffff)!important;  
 background-image: -o-linear-gradient(top, #ffffff, #ffffff)!important;  
 background-image: linear-gradient(#ffffff, #ffffff)!important;  
 border-color: #ddd #ddd hsl(0, 0%, 100%)!important; 
 color: #000 !important; 
 text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.26)!important;  
 -webkit-font-smoothing: antialiased!important;  
 font-size:14px!important;  
 font-weight:bold!important; 
 }
 
.btn-custom-primary {  background-color:#abd03a;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 10px; 
border-radius: 4px 4px 4px 4px; text-align:center;
}

.btn-custom-checkout {  background-color:#8bc541;font-size:14px; font-weight:bold; color:#fff; border:0; padding:7px 10px; 
border-radius: 4px 4px 4px 4px; text-align:center;  margin:10px;
}
.btn-custom-primary-login {  background-color:#8bc541;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 30px; 
border-radius: 4px 4px 4px 4px; text-align:center;
}

a.btn-custom-primary{ text-decoration:none; color:#fff; margin:0; padding:2px;}
a.btn-custom-primary:hover{ text-decoration:none!important; color:#fff;}

.btn-custom-primary-big {  background-color:#abd03a;font-size:14px; font-weight:bold; color:#fff; border:0; padding:10px 20px!important; 
border-radius: 4px 4px 4px 4px; text-align:center;
}
a.btn-custom-primary-big{ text-decoration:none; color:#fff; margin:0; padding:2px 10px;}
a.btn-custom-primary-big:hover{ text-decoration:none!important; color:#fff;}


.btn-custom-green {  background-color:#abd03a;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 10px; 
border-radius: 4px; text-align:center;

}
a.btn-custom-green{ text-decoration:none; color:#fff; margin:0; padding:2px;}
a.btn-custom-green:hover{ text-decoration:none!important; color:#fff;}


.btn-custom-green-big {  background-color:#abd03a;font-size:14px; font-weight:bold; color:#fff; border:0; padding:6px 12px!important; 
border-radius: 4px!important; text-align:center;
}
.btn-group > .btn:last-child, .btn-group > .dropdown-toggle{ border-radius:4px!important;}
a.btn-custom-green-big{ text-decoration:none; color:#fff; margin:0; padding:2px;}
a.btn-custom-green-big:hover{ text-decoration:none!important; color:#fff;}
.btn-custom-white {  background-color:#fff;font-size:14px; font-weight:bold; color:#243d3f; border:0; padding:5px 10px!important;
border-radius: 4px 4px 4px 4px; text-align:center;
}
a.btn-custom-white{ text-decoration:none; color:#243d3f; margin:0; padding:2px;}
a.btn-custom-white:hover{ text-decoration:none!important; color:#243d3f;}
.btn-custom-gray { background-color:#59606b;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 10px;
border-radius: 4px 4px 4px 4px; text-align:center;}
a.btn-custom-gray{ text-decoration:none; color:#fff; margin:0; padding:2px;}
a.btn-custom-gray:hover{ text-decoration:none!important; color:#fff;}
.btn-custom-gray-big { background-color:#59606b;font-size:14px; font-weight:bold; color:#fff; border:0; padding:8px 10px!important;
border-radius: 4px 4px 4px 4px; text-align:center;}
a.btn-custom-gray-big{ text-decoration:none; color:#fff; margin:0; padding:2px;}
a.btn-custom-gray-big:hover{ text-decoration:none!important; color:#fff;}
.btn-custom-reset{background-color:#cdd7e2;font-size:14px; font-weight:bold; color:#465069; border:0; padding:4px 10px;border-radius: 0px; text-align:center;}
.btn-custom-reg{background-color:#778fad;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 14px;border-radius: 0px; text-align:center;}
.btn-custom-support{background-color:#738bad;font-size:14px; font-weight:bold; color:#fff; border:0; padding:4px 20px;
border-radius: 4px; text-align:center; margin-left:152px;}
.btn-chnage-font{ font-size:18px; padding:10px 20px; text-align:center; line-height:20px;}
.disabled_option{
	color:#999;
	font-style:italic;
}
.btn-custom-gray-suppoetLink { background-color:#ABD03A;font-size:14px; font-weight:bold; color:#fff; border:0; padding:5px 8px!important;
border-radius: 4px 4px 4px 4px; text-align:center;}
a.btn-custom-gray-suppoetLink{ text-decoration:none; color:#fff; margin:0; padding:2px;font-size:12px; font-family:Arial, Helvetica, sans-serif; letter-spacing:0; font-weight:normal;}
a.btn-custom-gray-suppoetLink:hover{ text-decoration:none!important; color:#fff;}
.btn-custom-gray-term { background-color:#6F92BB;font-size:14px; font-weight:bold; color:#fff; border:0; padding:5px 8px!important;
border-radius: 4px 4px 4px 4px; text-align:center;}
a.btn-custom-gray-term{ text-decoration:none; color:#fff; margin:0; padding:2px; font-size:12px; font-family:Arial, Helvetica, sans-serif; letter-spacing:0; font-weight:normal;}
a.btn-custom-gray-term:hover{ text-decoration:none!important; color:#fff;}
.btn-paypal {
  color: #fff;
  background-color: #a4c9fc;
  background-image: -moz-linear-gradient(top, #a4c9fc, #5598d9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a4c9fc), to(#5598d9));
  background-image: -webkit-linear-gradient(top, #a4c9fc, #5598d9);
  background-image: -o-linear-gradient(top, #a4c9fc, #5598d9);
  background-image: linear-gradient(to bottom, #a4c9fc, #5598d9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a4c9fc', endColorstr='#5598d9', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #e6e6e6;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  border: 1px solid #5b91c7;
  *border: 0;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {border-radius: 0;}
.textBoxGray{background:#e2e4eb!important; }
.textLightBoxGray{background:#e2e4eb!important;}
.regForgot a{ color:#738bad; font-size:14px; font-weight:bold; text-decoration:underline;}
.upload { padding:10px 0;}
.upload a{ color:#738bad; font-size:14px;  text-decoration: none; }
.thumbnail {
    border: 0px solid #DDDDDD;
    border-radius:0;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.055);
    display: block;
    line-height: 20px;
    padding: 4px;
    transition: all 0.2s ease-in-out 0s;
}
.thumbnail img { border-radius:10px;}

/*.nav-tabs {
	background:#a2bcd3;
}

.nav-tabs ul li .active{
   
	background:#dee6eb!important;
}*/
.profileTab{}
.profileTab ul { list-style:none; margin:0; padding:0;}
.profileTab ul li { margin:0; padding:0; float:left; font-family:harabarabold;}
.profileTab ul li a{ background:#a2bcd3; display:block; border-radius:5px 5px 0 0; width:100px; margin-right:1px; text-align:left; padding:10px 0 10px 10px; color:#0c497b; text-decoration:none; font-size:18px; letter-spacing:1px; }
.profileTab ul li a:hover{background:#dee6eb; color:#ed1c24;}
.profileTab ul li a:hover,.activeTab{ background:#dee6eb!important; color:#ed1c24!important;}
.tabContent{ background:#dee6eb;
padding:27px 17px 27px 17px;
margin-top:-1px; 
border-radius:0 4px!important;
}
.tabContent .tabInnerContent{background:#fff; padding:27px 17px 27px 17px; }
.addAsFriendPopUp {  
-moz-border-radius: 10px; 
-webkit-border-radius: 10px; 
-khtml-border-radius: 10px; 
border-radius: 10px; 
-webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	-moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
  	box-shadow: inset 1px 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(164,164,164,.6);
 width:270px;  background-color:#a2bcd3; border:2px solid #fff; position: fixed; z-index:2;
 position:absolute;
 padding:5px;
 color:#fff;
 font-size:12px;
 font-weight:bold;
 display:none;
 margin-top:-20px;
 }
.addAsFriendPopUp h1{ text-align:center; font-size:20px; margin:5px; padding:5px; line-height:20px;}
.addAsFriendPopUp .thumbHolder{ background:#585f6b; padding:10px; width:100px; height:100px; float:left; overflow:hidden;}
.addAsFriendPopUp .nameHolder{ width:150px;float:left;}
.addAsFriendPopUp .nameHolderInner{ background:#585f6b; padding:10px; border-radius:0 10px 10px 0; color:#fff; }
.addAsFriendPopUp .nameHolderInner{ background:#585f6b; padding:10px; border-radius:0 10px 10px 0; color:#fff; }
.addAsFriendPopUp .userInfo{  padding:30px 10px 10px 10px; color:#134e7f; }
.addAsFriendPopUp .btns{ text-align:center; padding:10px 0 10px 0;}
.noTitleStuff .ui-dialog-titlebar {display:none}
.merchantShadow img{ box-shadow:3px 3px 1px #333;}
.friendThumb{ background:#d2d6e1; padding:5px;}
.friendThumb p{ text-align:left;} 
.friendThumb a{ color:#2a4345!important;}
.friendThumb img{ border-radius:0!important;}
.searchForFriendPanel{margin-top:5px; height:430px!important;}
.middleBorder{ border:1px solid #585f6b; padding:10px; border-radius:0 5px 0 5px; margin-top:5px;}
.topPaddingZero{ padding-top:0!important;}
.alert-info{ color:#333!important;}
.innerBorder{
	border:2px solid #5a616c;
	padding:5px;
	border-radius:0px 5px;
	padding:30px 40px;
	margin-top:5px;
}
.innerBorder2{
	border:2px solid #5a616c;
	padding:5px;
	border-radius:0px 5px;
	padding:30px 40px 0px 40px;
	margin-top:5px;
}
.glompFont{font-family:harabarabold; letter-spacing:1px;}