@font-face {
    font-family: 'harabarabold';
    src: url('../font/harabara-webfont.eot');
    src: url('../font/harabara-webfont.eot?#iefix') format('embedded-opentype'), 
        url('../font/harabara-webfont.woff') format('woff'), 
        url('../font/helveticaneuewebfont.ttf') format('truetype'), 
        url('../font/harabara-webfont.svg#harabarabold') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
    height: 100%;
}
body{
    background-color:#585F6B;	
    /*font-family: 'harabarabold' !important;/*'"Helvetica Neue", Helvetica, Arial, sans-serif !important;	 */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    height: 100%;
}
.border_grey{
    border:1px solid #B5B6B9;
}
.harabara{
    font-family: 'harabarabold';
}
.green_harabara{
    color:#8EFF02;
    font-family: 'harabarabold';
    font-size:20px;

}
.global_wrapper_landing{
    width:100%;    
    min-width: 310px;    
    font-size: 12px;    
    border:solid 0px #fff;
    margin:0 auto;

}
.global_wrapper{
    width:100%;
    /*height:100%;*/
    min-width: 310px;
    min-width:310px;
    font-size: 12px;
    background: #fff /* #D2D7E1 */;
}
.header_navigation_wrapper{
    background-color: #585F6B;
    border: #fff solid 0px;
    border-bottom: #B0B0B0 solid  1px;	
    border-top: #B0B0B0 solid  1px;	
    width:100%;
    font-size:12px;
}
.quick_links_wrapper{	
    background-color: #D1D5E0;
    border-left: #9EA0A7 solid 0px;	
    border-right: #9EA0A7 solid 0px;	
    border-bottom: #9EA0A7 solid 1px;	
    width:100%;	
}
.body_wrapper{
    background-color: #fff;	
    width:100%;			
}
.body_bottom_1px{
    border-bottom: #B0B0B0 solid  1px !important;	
}
.body_topbottom_1px{
    border-bottom: #B0B0B0 solid  1px !important;	
    border-top: #B0B0B0 solid  1px !important;	
}
.register_form_gray {
    background-color: #E3E5EB; 
    min-height: 20px;
    padding: 5px; 
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
    margin-top: 5px;
	margin:5px 0px;

}
/* borders */
.global_border {
    border:solid 1px #585F6B;
    border-radius: 10px !important;
	padding:10px;
}
.border_topbot_gray {
    border-style: solid;
    border-color: #809EB4!important;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left: 0px;
    border-right: 0px;
}
.border_bottom_gray {
    border-style: solid;
    border-color: #809EB4!important;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left: 0px;
    border-right: 0px;
}
/* borders */
.form-fieldset {
    background: #fff;
    margin-bottom: 10px;
    border:solid 1px #aaa;
}

/* fonts */
.font_8px{
    font-size:8px !important;
}
/* fonts */

.footer_wrapper{	
    background-color:#000;
    position:fixed;
    bottom:0px;
    left:0px;
    width:100%;
    height:0px;   /* Height of the footer */   
}
/**logos*/
.glomp_play{
    background-size: contain;
    width:150px;
    height:150px;
    margin:10px;
    margin-top:20px;
    background-repeat:no-repeat;	
}
.main_logo{
    background-size: 200px;
	background-position: center;
	border:0px solid #333;
    width:250px;
    height:70px;
    margin:10px;
    margin-top:50px;	
    background-repeat:no-repeat;	
}
.glomp_validating_logo{
	background-size: contain;
	background-position:center;
	background-position:center;	
    width:180px;
	height:200px;
    margin:20px 0px 10px 0px;
    background-repeat:no-repeat;
	border:0px solid #333;	
}
.red_header_logo{
	background-size: contain;
	background-position:left;	
    width:180px;
	height:20px;    
    background-repeat:no-repeat;
	color: rgba(255,255,255,0);	
	-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
	
}
.nameOfMerchant{
	border: solid #333 0px;
	float:left;
	width:90px;
    height:90px;
}
.validating_text {
	font-size:12px;
	color:#585F6B;
	font-weight:bold;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes blinker {  /* Decimal not necessary, 0 and 1 is enough */
    0% { opacity: 1.0; }
    25% { opacity: 0.6; }
    50% { opacity: 0.2; }
	75% { opacity: 0.6; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    25% { opacity: 0.6; }
    50% { opacity: 0.2; }
	75% { opacity: 0.6; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
	25% { opacity: 0.6; }
    50% { opacity: 0.2; }
	75% { opacity: 0.6; }
    100% { opacity: 1.0; }
}

.validate_success_glow{
	-webkit-box-shadow: 1px 1px 20px rgba(168, 205, 57, 1.0);
	-moz-box-shadow:    1px 1px 20px rgba(168, 205, 57, 1.0);
	box-shadow:         1px 1px 20px rgba(168, 205, 57, 1.0);
	  width : 60px;
    height : 60px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);
	margin:7px auto 0 auto;
	border-radius:100%;
	 animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
	 margin-top:-44px;
}
@-webkit-keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.9); }
    100% { -o-transform: scale(1); }
}
@-moz-keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.9); }
    100% { -o-transform: scale(1); }
}
@-ms-keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.9); }
    100% { -o-transform: scale(1); }
}
@-o-keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.9); }
    100% { -o-transform: scale(1); }
}
@keyframes pulse {
    0% { -o-transform: scale(1); }	
	50% { -o-transform: scale(1.9); }
    100% { -o-transform: scale(1); }
}

.pulse {
	-webkit-animation-name: pulse;
	-moz-animation-name: pulse;
	-ms-animation-name: pulse;
	-o-animation-name: pulse;
	animation-name: pulse;
	
 animation-name: pulse;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
}
.validate_success_ball{		
	background : -moz-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    background : -webkit-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    background : -webkit-gradient(radial,30.01% 19.5% ,0.8 , 30.01% 19.5%, 47.53 ,color-stop(0.0169,rgba(255, 255, 255, 1) ),color-stop(0.118,rgba(151, 178, 209, 1) ),color-stop(1,rgba(25, 61, 84, 1) ));
    background : -o-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    background : -ms-radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Stlye=2);"
    background : radial-gradient(30.01% 19.5%, circle farthest-corner, rgba(255, 255, 255, 1) 1.69%, rgba(151, 178, 209, 1) 11.8%, rgba(25, 61, 84, 1) 100%);
    width : 60px;
    height : 60px;
    filter: progid:DXImageTransform.Microsoft.Alpha(Stlye=2);	
	margin-top :5px;
	margin-left :5px;
	border-radius:100%;	 
	 
	-webkit-box-shadow: 1px 1px 20px rgba(168, 205, 57, 1.0);
	-moz-box-shadow:    1px 1px 20px rgba(168, 205, 57, 1.0);
	box-shadow:         1px 1px 20px rgba(168, 205, 57, 1.0); 
}
 .validate_success_ball img{
	 margin-top:20px;
	 margin-left :0px;
	 width:24px;
	 height:17px;
	 }
.round_cursor{
    padding:4px;
    border:solid 5px #585F6B;
    border-radius:100%;	 
    background-color:#CB128B;
}
.glomp_header_logo_2{
    background-size: contain;
    width:230px;
    height:20px;
    margin:18px 5px 7px 5px;
    background-position:center;
    background-repeat:no-repeat;	
}
.glomp_buzz_logo{
    background-size: contain;
    width:120px;
    height:25px;    
    background-position: center middle;
    background-repeat:no-repeat
}
.glomp_profile_logo{
    background-size: contain;
    width:140px;
    height: 40px;
    background-repeat: no-repeat;
}
.register_logo{
    background-size: contain;
    width:250px;
    height: 60px;
    margin:10px;
    margin-top:20px;	
}

@media (min-width: 0px) and (max-width: 500px) {
	.header_icons_thumb_wrapper{
		border-left: #B0B0B0 solid 1px;
		border-bottom: #B0B0B0 solid 1px;
		border-right:0px;
		border-top:0px;
		padding:4px 4px;
		cursor:pointer;	
		display: table-cell;
		width:50%;
		height:70px;
		align:center;
	}
	.header_logos_wrapper_sub_1{
		float:left;
		display: table;width:100%;
	}
	.glomp_header_logo{
		background-size: 120px;
		background-position:center;	
		border:0px solid #333;
		width:100%;
		height:40px;
		margin:50px 5px 0px 0px;
		background-repeat:no-repeat;		
	}
    
	.header_logo_wrapper{
		width:50%;vertical-align: middle; border:0px solid #fff;
		float:left;
	}
	.header_logos_wrapper{	
		display:table-cell;	
		width:50%;
		float:right;
		border:0px solid #f00;
	}
}
@media (min-width: 500px) {	
	
	.glomp_header_logo{
		background-size: 120px;
		background-position:center;	
		border:0px solid #333;
		width:100%;
		height:40px;
		margin:5px 5px;
		background-repeat:no-repeat;		
		
	}
	.header_icons_thumb_wrapper{
		border-left: #B0B0B0 solid 1px;
		border-bottom: #B0B0B0 solid 1px;
		border-bottom:0px !important;
		border-right:0px;
		border-top:0px;
		padding:4px 4px;
		cursor:pointer;			
		width:80px;
		height:80px;
		align:center;
	}
	.header_logos_wrapper_sub_1{
		float:right;		
		width:160px;
	}
	.header_logos_wrapper{	
		display:table-cell;	
		width:322px;
		float:right;
		border:0px solid #f00;
	}
	.header_logo_wrapper{
		width:100%;vertical-align: middle; border:0px solid #fff;
		display: table-cell;
	}
}
.glomp_header_logo_3{
		background-size: 120px;
		background-position:center;	
		border:0px solid #333;
		width:100%;
		height:40px;
		margin:10px 5px 10px 0px;
		background-repeat:no-repeat;		
        z-index:100;
        
	}	
.red_notification{ 
	position: absolute;
	color:#FFFFFF;
	z-index:1; 
	background:#f00; 
	border-radius:4px; 
	padding:0px 3px;
	font-size:10px;
	font-weight:normal;
	margin:-10px 0 0 25px;
}
.red_notification_message{ 
	position: absolute;
	color:#FFFFFF;
	z-index:1; 
	background:#f00; 
	border-radius:4px; 
	padding:0px 0px;
	font-size:9px;
	font-weight:normal;
	margin:-35px 0 0 24px;
    font-size:9px; font-weight:normal; 
}
.messageCounter{    
    background:#f00; 
    color:#fff;
    font-size:9px !important;
    font-weight:normal!important; 
    border-radius:2px!important; 
	padding:0px 3px!important;
    padding-top:1px!important;    
}
.header_icons_thumb_wrapper_2{
    padding:12px 10px;
    cursor:pointer;
    border-right: #B0B0B0 solid 1px;
}
.header_icons_thumb_wrapper_3{
    padding:6px 5px;
    cursor:pointer;
    border-right: #B0B0B0 solid 1px;
}
.header_icons_thumb{
    background-size:28px;
    background-position:center;
    width:36px;
    height:36px;
    margin:8px 16px 4px 16px;
    background-repeat:no-repeat;
	border: #333 solid 0px;
}
.header_icons_thumb_2{
    background-size: contain;
    width:28px;
    height:20px;
    margin:3px 1px;
    background-repeat:no-repeat;
}
.header_icons_text{
	border: #333 solid 0px;
	font-size:11px;
    background-size: contain;
    background-position: center bottom;
    width:50px;
    height:14px;
    background-repeat:no-repeat;
    color: #fff;
}
.hidden_menu{
    position:relative;
    height:0px;
    overflow:visible;
    display:none;
    z-index:1;
}
.hidden_menu2{
    position:relative;
    height:0px;
    overflow:visible;
    z-index:1;
}
.hidden_nav{
    background-color: rgba(88, 95, 107,0.9);
    color:#ffffff;
    font-size:16px;
    padding: 5px 10px 5px 15px;
}
a.hidden_nav_link {
    color:#ffffff;
}
.hidden_nav_seperator{
    height:0px;	
    border-top:solid 1px #D1D5E0;
}
.quick_links_icons_main_wrapper{
    border-left: #85868A solid 0px;	
    padding:0px 1px;
    padding-top:5px;
}
.quick_links_icon {
    background-size: contain;
    width:15px;
    height:25px;
    margin:5px 10px 5px 10px;
    background-repeat:no-repeat;	
}
.quick_links_icons_wrapper{	
    padding:2px 2px;
    cursor:pointer;	
}
.quick_links_icons{
    background-size: contain;
    width:17px;
    height:15px;
    margin:0px 5px;
    background-position: center;
    background-repeat:no-repeat;	
}
.quick_links_icons_text{	
    font-size:8px;
    font-weight:normal;
    background-repeat:no-repeat;	
    color: #585F6A;
    width:35px;
    height:14px;

}
.quick_links_username{
    color:#585F6A;
    font-size:15px;
    margin: 6px 0px 4px 0px;
}
.profile_menu{
    background-size: contain;
    width:50px;
    height:50px;
    background-repeat:no-repeat;	
}


/**logos*/
/*floats**/
.fl{
    float:left !important;
}
.fr{
    float:right !important;
}
.cl{
    clear:both !important;
}
/*floats**/

.what_is_glomp_wrapper{
    width:160px;
    border-radius:5px;
    margin:0px 0px;		
    padding:5px 10px !important;
    background-color:#BCB9C2 !important;	
}
.what_is_glomp{	
    color: #fff !important;	
	font-family: 'harabarabold' !important;
	font-size:18px;
    text-decoration: none;
    padding:0px;
    margin:0px;
}
.what_is_glomp_red{
    color: #ff0000 !important;	
    text-decoration: none;
    padding:10px 0px;
    margin:0px;
}
.what_is_glomp_details{
    color: #fff !important;	
    text-align:justify;
    padding:  5px 0px
}
.learn_more{
    color: #B3D234;
    font-size:20px;
    font-weight:bold;
}
.forgot_pass_wrapper{
    padding: 10px 10px !important;
}
a.forgot_pass:link {color: #ffffff;  font-weight: normal; text-decoration:underline;}
a.forgot_pass:active {color: #ffffff; font-weight: normal; }
a.forgot_pass:visited {color: #ffffff;  font-weight: normal;}
a.forgot_pass:hover {color: #ffffff; font-weight: normal;}
/*pointer*/
.c_pointer{
    cursor:pointer;
}

/*widths*/
.w40px{
    width:40px;
}
.w50px{
    width:50px;
}
.w60px{
    width:60px;
}
.w70px{
    width:70px;
}
.w80px{
    width:80px;
}
.w100px{
    width:100px;
}
.w164px{
    width:164px;
}
.w202px{
    width:202px;
}
.w200px{
    width:200px;
}
.w100per{
    width:100% !important;
}
/*widths*/
/*padding*/
.p2px_0px{
    padding:2px 0px;
}
.p2px_5px_0px_5px{
	padding:2px 5px 0px 5px;	
}
.p2px_20px{
    padding:2px 20px;
}

.p5px_0px_0px_0px{
	padding:5px 0px 0px 0px;
}
.p5px_0px{
	padding:5px 0px;
}
.p5px_20px{
    padding:5px 20px;
}
.p8px_0px_0px_0px{
	padding:8px 0px 0px 0px !important;
}
.p8px_5px_0px_5px{
	padding:8px 5px 0px 5px;
}
.p10px_0px{
    padding:10px 0px;
}
.p10px_0px_0px_0px{
	padding:10px 0px 0px 0px;
}
.p10px_20px{
    padding:10px 20px;
}
.p10px_40px{
    padding:10px 40px;
}
.p20px_40px{
    padding:20px 40px;
}
.p10px{
    padding:10px;
}
.p20px_0px{
    padding:20px 0px;
}
.p20px{
    padding:20px;
}
.p24px_p24px{
    padding:24px 24px;
}
.p40px{
    padding:40px;
}
/*padding*/

/*spacing*/
.space2px{
    clear:both;
    padding:1px 0px;;
}
.space4px{
    clear:both;
    padding:2px 0px;;
}
.space6px{
    clear:both;
    padding:3px 0px;;
}
.space10px{
    clear:both;
    padding:5px 0px;;
}
.space20px{
    clear:both;
    padding:10px 0px;;
}
.space30px{
    clear:both;
    padding:15px 0px;;
}
.space40px{
    clear:both;
    padding:20px 0px;;
}
/*spacing*/
/*borders*/
.b_bot_0px{
    border-bottom:0px;
}
/*borders*/



/*Buttons*/
/*Buttons*/
.btn-custom-green{ 
    background-color:#B3D234 !important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#fff !important; 
    border:0 !important; 
    padding:6px 10px 3px 10px!important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #B3D234 !important;
}
.btn-custom-green_normal{ 
    background-color:#B3D234!important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:1px;
    padding:2px 4px 0px 4px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #B3D234 !important;
    border-radius: 3px !important;
}
.btn-custom-white_grey_normal{ 
    background-color:#D2D7E2!important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:1px;
    padding:2px 4px 0px 4px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #D2D7E2 !important;
    border-radius: 3px !important;
}
.btn-custom-blue-grey{
    background-color:#6D89A6!important;
    font-size:16px !important; 
    font-weight:bold !important; 
    color:#fff !important; 
    border:0 !important; 
    padding:6px 10px 3px 10px!important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #6D89A6 !important;
    border-radius: 0px !important;
}
.btn-custom-blue-grey_normal{
	background-color:#6D89A6!important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:1px;
    padding:4px 4px 0px 4px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #6D89A6 !important;
    border-radius: 3px !important;
}

.btn-custom-transparent_white{
    background-color:transparent !important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#fff !important; 
    border:0 !important; 
    margin:1px;
     padding:4px 4px 0px 4px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #fff !important;
    border-radius: 8px !important;
}
.btn-custom-black{
    background-color:transparent !important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#6D89A6 !important; 
    border:0 !important; 
    margin:1px;
    padding:5px 6px 3px 6px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 1px #6D89A6 !important;
    border-radius: 8px !important;
}
.btn-custom-white_normal{
    background-color:#fff!important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#585F6B !important; 
    border:0 !important; 
    margin:1px;
     padding:4px 4px 0px 4px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #fff !important;
    border-radius: 3px !important;
}
.btn-custom-red_normal{
    background-color:#ED1D24!important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#fff !important; 
    border:0 !important; 
    margin:1px;
     padding:4px 4px 0px 4px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #ED1D24 !important;
    border-radius: 3px !important;
}
.btn-custom-blue-grey_xs{
    background-color:#6D89A6!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:1px 0px 1px 6px !important;
    padding:2px 6px 0px 6px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #6D89A6 !important;
    border-radius: 3px !important;
}
.btn-custom-blue-grey_xs_nopadding{
    background-color:#6D89A6!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:1px 0px 1px 6px !important;
    padding:8px 0px 7px 0px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #6D89A6 !important;
    border-radius: 3px !important;
}

button.margin_bottom_7px {
    margin: 1px 0px 6px 6px !important
}

.btn-custom-blue-grey_xs_nopadding .ui-button-text {
    padding: 0px !important;
}
.btn-custom-transparent-green_xs{
    background-color:#89C342 !important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#fff; 
    text-decoration: underline !important;
    border:0 !important; 
    margin:1px 0px 1px 6px !important;
    padding:2px 6px 0px 6px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #89C342 !important;
    border-radius: 3px !important;
}
.btn-custom-blue-grey_xs_2{
    background-color:#6E8AA7!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:10px 0px 1px 0px;
    padding:2px 6px 0px 6px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #6E8AA7 !important;
    border-radius: 3px !important;
    height:30px;
}
.btn-custom-green-grey_xs{
    background-color:#B0D138!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:10px 0px 1px 0px;
    padding:2px 6px 0px 6px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #B0D138 !important;
    border-radius: 3px !important;
    height:30px;
}
.btn-custom-blue-locate_xs_active{
    background-color:#D3D8E4!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:10px 8px 1px 0px;
    padding:0px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 0px #6D89A6 !important;
    border-radius: 3px !important;
    width:30px;
    height:30px;
    background-image:url('../img/glomped_locate_button_active.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
.btn-custom-blue-locate_xs_inactive{
    background-color:#6F8CA8!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:10px 8px 1px 0px;
    padding:0px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 0px #6D89A6 !important;
    border-radius: 3px !important;
    width:30px;
    height:30px;
    background-image:url('../img/glomped_locate_button_inactive.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
}
.btn-custom-white_xs{
    /*background-color:#fff!important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#585F6B !important; 
    border:0 !important; 
    margin:1px;
    padding:0px 2px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #fff !important;
    border-radius: 3px !important;
    
    background-color:#fff!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#585F6B !important; 
    border:0 !important; 
    margin:6px 0px 1px 6px !important;
    padding:2px 6px 0px 6px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #fff !important;
    border-radius: 3px !important;*/
	
	background-color:#fff!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#585F6B !important; 
    border:0 !important; 
    margin:1px 0px 1px 6px !important;
    padding:2px 6px 0px 6px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #fff !important;
    border-radius: 3px !important;
}
.btn-custom-ash_xs{
    background-color:#DDE5EA!important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#273F41 !important; 
    border:0 !important; 
    margin:1px !important;
    padding:2px 2px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #DDE5EA !important;
    border-radius: 3px !important;
}
.btn-custom-ash_xs:disabled{
	color:#EEE !important; 
}
.btn-custom-blue-glomp_xs{
	background-color:#59606A!important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#fff !important; 
    border:0 !important; 
    margin:1px;
    padding:2px 2px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #59606A !important;
    border-radius: 3px !important;
}
.btn-custom-blue_xs{
    background-color:#0060B4!important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#fff !important; 
    border:0 !important; 
    margin:1px;
    padding:2px 2px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #0060B4 !important;
    border-radius: 3px !important;
}
.btn-custom-green_2{
    background-color:#B3D234!important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#fff !important; 
    border:0 !important; 
    margin:1px;
    padding:2px 2px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #B3D234 !important;
    border-radius: 3px !important;
}
.btn-custom-darkblue_xs{
    background-color:#585F6B!important;
    font-size:12px !important; 
    font-weight:bold !important; 
    color:#fff !important; 
    border:0 !important; 
    margin:1px;
    padding:0px 2px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #585F6B !important;
    border-radius: 3px !important;
}
.btn-custom-darkblue_big{
	background-color:#585F6B!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin:1px;
    padding:8px 4px 4px 4px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #585F6B !important;
    border-radius: 3px !important;
}
.btn-custom-white_big{
	background-color:#fff!important;
    font-size:14px !important; 
    font-weight:bold !important; 
    color:#585F6B; 
    border:0 !important; 
    margin:1px;
    padding:8px 4px 4px 4px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #fff !important;
    border-radius: 3px !important;
}

.btn-custom-blue-grey-background-only{
    background-color:#6D89A6!important;
    font-weight:bold !important; 
    color:#fff !important;
    border:0 !important; 
    padding:4px 10px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #6D89A6 !important;
    border-radius: 5px !important;
}

.btn-custom-blue_fb{
    background-color:#00448A!important;
    font-weight:bold !important; 
    color:#fff !important;
    border:0 !important; 
    padding:4px 10px 2px 10px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #00448A !important;
    border-radius: 5px !important;
}
.btn-custom-blue_li{
    background-color:#0085AE!important;
    font-weight:bold !important; 
    color:#fff !important;
    border:0 !important; 
    padding:4px 10px 2px 10px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #0085AE !important;
    border-radius: 5px !important;
}
.btn-custom-blue_fb_big{
    background-color:#00448A!important;
    font-weight:bold !important; 
	font-size:14px !important; 
    color:#fff !important;
    border:0 !important; 
    padding:8px 6px 4px 6px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #00448A !important;
    border-radius: 5px !important;
}
.btn-custom-green_big{     
     background-color:#B3D234!important;
    font-weight:bold !important; 
	font-size:14px !important; 
    color:#fff !important;
    border:0 !important; 
    padding:8px 6px 4px 6px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 2px #B3D234 !important;
    border-radius: 5px !important;
}


.fb-btn {
    background-size: contain;
    width: 300px;
    height: 100px;
}
a.btn-page {
    border-radius: 6px;
    padding:6px 10px;
    font-size: 14px;
    color: #111;
    background: #eee;
    border: 0;
    text-align:center
}
a.btn-page.btn-grey {
    color: #fff;
    background: #585F6A;
}
a.btn-page.btn-lgrey {
    color: #59616A;
    background: #D1D5E1;
}


/*Buttons*/
/*Buttons*/

/*fonts*/
.font-22px {
    font-size: 22px;
}
/*fonts*/
.activity_wrapper{
    display: table;
    width:100%;
    margin-top:2px;
    background-color: #ADD038;
    font-size: 14px;
    color:#C7CBD7;
    padding:0px 0px;
    cursor:pointer;

}
.activity_header{
    padding: 10px 2px;
    font-weight: bold;
    width:49.9%;	    
    background-color: #595F6D;
    color:#C7CBD7;
    	
}
.activity_header:hover{
    background-color: #D3D7E2;
    color: #595F6D;
}
.activity_header_active{
    background-color: #D3D7E2;
    color: #595F6D;

}
.menu_header_wrapper{
    display: table;
    width:100%;
    margin-top:2px;
    background-color: #A8CD39;
    font-size: 12px;
    color:#fff;
    padding:0px 0px;
    cursor:pointer;
}

.menu_header{
    width:22%;	
    float:left;	
}
.menu_header:first-child {
    width:12%;
}
.menu_header_3{
    width:33.33%;	
    float:left;	
}
.menu_header_content{
    border-left:1px #A8CD39 solid;
    background-color: #D1D5E0;
    padding:10px 0px 2px 0px;
    color: #585F6A;	
	height:36px;
	font-weight:bold;
}
.menu_header_content:hover{	
    background-color: #585F6A;
    color: #ffffff !important;	
}
.menu_header_content_user{
    font-size:12px;
    padding:1px 0px 1px 0px;
}
.menu_header_selected{
    background-color: #585F6A !important;
    color: #ffffff !important;
}







.menu_header_wrapper_2{
    display: table;
    width:100%;
    margin-top:2px;
    background-color: #D1D5E0;
    font-size: 12px;
    color:#585F6A;
    padding:0px 0px;
    cursor:pointer;
}

.menu_header_2{
    width:20%;	
    float:left;
}
.menu_header_content_2{
    border-left:1px #FFFFFF solid;
    background-color: #D1D5E0;
    padding:10px 0px 2px 0px;
    color: #585F6A;
	height:36px;
	font-weight:bold;
}
.menu_header_content_2:hover{	
    background-color: #585F6A;
    color: #ffffff !important;	
}
.menu_header_selected_2{
    background-color: #585F6A !important;
    color: #ffffff !important;
}
.menu_item_photo_wrapper{
	padding:0px 0px;
}
.menu_item_photo_wrapper_2{
	padding:0px 5px;
}
.menu_item_photo{
    width:50px;
    hieght:50px;
    border-radius:5px;
}
.menu_item_photo_2{
	width:100px;
	hieght:100px;
	border-radius:5px;
}
.menu_item_photo_3{
	width:55px;
	hieght:55px;
	border-radius:5px;
	margin:0px 4px;
}
.menu_item_description_wrapper{
    padding:10px 5px 0px 5px;
    color:#3C649A;
}
.menu_merchant{
	font-weight:bold;
	font-size:11px;
}
.menu_product{
	font-weight:bold;
	font-size:10px;
}
.menu_merchant_name_wrapper{
    margin:10px 5px 10px 5px;
}
.menu_merchant_name{
    font-weight:bold;
    font-size:12px;
    color:#41689D;
    padding:20px 0px 10px 0px;
}
.menu_item_points_wrapper {
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: bold;
    padding: 1px 2px;
    font-size: 13px;
    margin: 5px 0px 10px 0px;
    width: 28px;
    border-radius: 5px;
    padding-bottom: 8px;
}
.menu_item_points_wrapper_2{
	background-color: #FF0000;
	color:#FFFFFF;
	font-weight:bold;
	padding: 2px 8px 1px 8px;
	font-size:13px;	
	margin:2px 0px;	
	border-radius:5px;
}
.menu_item_points_wrapper_3{
	background-color: #FF0000;
	color:#FFFFFF;
	font-weight:bold;
	padding: 2px 4px 1px 4px;
	font-size:9px;
	margin:2px 0px;	
	border-radius:3px;
}
.menu_item_operation_wrapper{		
    background-color: #ddd;
    margin:12px 15px;
    height:25px;
    width:25px;
    border-radius:5px;
    background-size: contain;    
    background-position:center;
    background-repeat:no-repeat;	
}
.menu_merchant_photo{
    width:80px;
    hieght:80px;
    border-radius:10px;
    box-shadow:3px 3px 1px #333;
    margin: 10px 5px 10px 0px;	
}
.menu_merchant_photo_2{
    width:80px;
    hieght:80px;
    border-radius:10px;	
    margin: 10px 5px;	
}
.menu_merchant_wrapper{
    background-color:#585F6A;
    color: #FFFFFF;
    font-size:13px;
    font-weight:bold;
    padding:2px 0px;
}
.menu_and_point_wrapper{		
	margin-left:-4px;
	padding:2px 4px;
	border: 1px solid #FFFFFF;
}
.menu_and_point_wrapper:hover{
	margin-left:-4px;
	background-color:#C5D4DF;
	border: 1px solid #B0B0B0;
	padding:2px 4px;
}
.menu_item_details{
	width:170px;
	border: 0px solid #FFF;
	padding:0px 2px;
}
.hidden{
	display:none;
}
.menu_header .user-icon {
    position: relative;
}
.menu_header .user-icon .user-image {
    width:100%;
    height: 100%;
    background-size: 100% 100%, auto;
    background-position: center center;
}
.menu_header .user-icon .user-details {
    display: none;
    position: absolute;
    white-space: nowrap;
    background: #fff;
}
.menu_header .user-icon .user-details p {
    padding: 10px 8px;
    margin: 0;
}
.menu_header .user-icon .user-details p:first-child {
    margin-bottom: 1px;
}
                .menu_header_wrapper {
                    /*overflow: auto;*/
                    background: #fff;
                    margin-top:0;
                }
                .menu_header_wrapper .user-menu ul {
                    /*overflow: auto;*/
                    padding:0;
                    margin:0;
                    list-style-type: none;
                    margin-top:0.5%;
                }
                .menu_header_wrapper .user-menu ul li:first-child{
                    width:12%;
                }
                .menu_header_wrapper .user-menu ul li {
                    width:22%;
                    text-align:center;
                    border-left: 1px #A8CD39 solid;
                }
                .menu_header_wrapper .user-menu ul li:last-child {
                    margin-right:0;
                }
                .menu_header_wrapper .user-menu ul li a,
                .menu_header_wrapper .user-menu ul li span {
                    display:block;
                    padding: 8px 0px 10px;
                    font-weight:bold;
                    color: #555;
                    background: #D1D5E0;
                }
                .menu_header_wrapper .user-menu ul li a:hover {
                    background:#585F6A;
                    color:#fff;
                }
                .menu_header_wrapper .user-menu ul li span {
                    background:none;
                }
                .user-icon {
                    position: relative;
                }
                .user-icon .user-image {
                    width:100%;
                    height: 100%;
                    background-size: 100% 100%, auto;
                    background-position: center center;
                }
                .user-icon .user-details {
                    display: none;
                    position: absolute;
                    white-space: nowrap;
                    background: #fff;
                    z-index:999999;
                }
                .user-icon .user-details p {
                    padding: 10px 8px;
                    margin: 0;
                }
                .user-icon .user-details p:first-child {
                    margin-bottom: 1px;
                }


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
	color: #2F64A4 !important;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
	outline: 0;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    text-align:center;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
	
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align:center;
	color: #2F64A4 !important;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
	border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align:center;
	color: #2F64A4 !important;
}

/* Others */
.red {
    color:red;
}
.white {
    color:#ffffff !important;
}

.glomp_green{
    background-size: contain;
    width: 51px;
    height: 21px;
    background-repeat: no-repeat;
}
.glomp_gray{		
    background-color: #6E8BA8;
    margin:12px 0px;
    height: 24px;
    width: 70px;
    border-radius:5px;
    background-size: 36px;    
    background-position:center;
    background-repeat:no-repeat;	
}
.glomp_button_wrapper{
	margin:20px 0px 0px 0px;
}
.glomp_add{
    background-size: contain;
    width: 51px;
    height: 21px;
    background-repeat: no-repeat;
}

.search_icon{
    background-size: contain;
    width: 18px;
    height: 18px;
    background-repeat: no-repeat;
}

.fb_btn_small {
	margin: 1px 0px 2px 4px;
	border-radius: 4px;
	background-color:#004588;
	width: 18px; padding:1px;
    background-size: 18px;
    width: 27px;
    height: 23px;
    background-repeat: no-repeat;
	background-position: center;
}
.li_btn_small {
    margin: 1px 0px 2px 4px;
    border-radius: 4px;
    background-color:#0085AE;
    width: 18px; padding:1px;
    background-size: 18px;
    width: 27px;
    height: 23px;
    background-repeat: no-repeat;
    background-position: center;
}

/* error classes */
.error_border {
    border: 1px solid red !important;
}


/* dialogs custom style */
.dialog_style_item_details{
    color:#ffffff !important;
    background-color: #585F6A  !important;
    border-color: #fff !important;	
	outline: none !important;
	font-size:10px !important;
}
.dialog_style_item_details .ui-dialog-title {font-size:12px !important;}
.dialog_style_item_details .ui-dialog-titlebar {text-align:center;}
.dialog_style_item_details .ui-widget-content {
    border: 2px solid #333 ;
    background: #585F6A ;
    color: #ffffff;
}
.dialog_style_item_details .ui-dialog-content{
    border: 0px solid #333 !important;
    background: #585F6A ;
    color: #ffffff;
	padding:0px !important;
	
	text-align:left;
	float:left !important;
}
.dialog_style_item_details .ui-icon-closethick{
	background-size: contain !important;    
	background-image:url("south-street/images/close_icon.png") !important;    		
	background-position:0px 0px;
    background-repeat:no-repeat !important;	
	margin:-10px -8px 0px !important;
	outline: none !important;
	
}
.dialog_style_item_details .ui-icon-closethick:focus {outline: none; }
.dialog_style_item_details .ui-dialog-titlebar{
	padding:0px !important;
}
.dialog_style_item_details .ui-widget-header .ui-state-default {
    border: 0px solid #585F6A ;
	padding:0px !important;
    background: #585F6A ;
    font-weight: normal;
    color: #ffffff;
}

.dialog_style_item_details  .ui-dialog-buttonpane{
	display:none !important;
}
.dialog_style_item_details .ui-widget-header {
	border: 0px solid #333;
	/*background: #3a8104 url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) 50% 50% repeat-x;*/
	color: #ffffff;
	font-weight: bold;
}



.dialog_style_glomped_alerts{
    color:#ffffff !important;
    background-color: #585F6A  !important;
    border-color: #fff !important;	
	outline: none !important;
	font-size:12px !important;
}
.dialog_style_glomped_alerts .ui-dialog-title {font-size:12px !important;}
.dialog_style_glomped_alerts .ui-dialog-titlebar {text-align:center;}
.dialog_style_glomped_alerts .ui-widget-content {
    border: 2px solid #333 ;
    background: #585F6A ;
    color: #ffffff;
}
.dialog_style_glomped_alerts .ui-dialog-content{
    border: 0px solid #333 !important;
    background: #585F6A ;
    color: #ffffff;
	padding:5px !important;
	
	text-align:left;	
}
.dialog_style_glomped_alerts .ui-icon-closethick{
	display:none !important;
	width:0px !important;
	
}
.dialog_style_glomped_alerts .ui-icon-closethick:focus {outline: none; }
.dialog_style_glomped_alerts .ui-dialog-titlebar{
	padding:0px !important;
}
.dialog_style_glomped_alerts .ui-widget-header .ui-state-default {
    border: 0px solid #585F6A !important ;
	padding:0px !important;
    background: #585F6A ;
    font-weight: normal;
    color: #ffffff;
}

.dialog_style_glomped_alerts  .ui-dialog-buttonpane{

}
.dialog_style_glomped_alerts .ui-widget-header {
	border: 0px solid #333 !important;
	/*background: #3a8104 url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) 50% 50% repeat-x;*/
	color: #ffffff;
	font-weight: bold;
}






.dialog_style_glomp{
    color:#ffffff !important;
    background-color: #89C342  !important;
    border-color: #fff !important;	
	outline: none !important;
	font-size:9px !important;
	 border: 2px solid #C7D82E  !important;
}
.dialog_style_glomp .ui-dialog-title {font-size:8px !important;}
.dialog_style_glomp .ui-dialog-titlebar {text-align:center;}
.dialog_style_glomp .ui-widget-content {
    border: 2px solid #333 ;
    background: #89C342 ;
    color: #ffffff;
	float:left !important;	
	width:100% !important;
}
.dialog_style_glomp .ui-dialog-content{
    border:0px solid #333 !important;
    background: #89C342 ;
    color: #ffffff;
	padding:5px !important;
	
	text-align:left;	
}
.dialog_style_glomp .ui-icon-closethick{
	display:none !important;
	width:0px !important;
	
}
.dialog_style_glomp .ui-icon-closethick:focus {outline: none; }
.dialog_style_glomp .ui-dialog-titlebar{
	padding:0px !important;
}
.dialog_style_glomp .ui-widget-header .ui-state-default {
    border: 0px solid #89C342 !important ;
	padding:4px !important;
    background: #89C342 ;
    font-weight: normal;
    color: #ffffff;
}

.dialog_style_glomp  .ui-dialog-buttonpane{
	padding:2px 10px 4px 10px !important;
}
.dialog_style_glomp .ui-widget-header {
	border: 0px solid #333 !important;
	padding: 1px !important;
	margin: 2px  0px 0px 0px!important;
	height:22px !important;
	background-image: url(images/glomp_blue.png);
	background-size: 70px;    	
	background-position:center;
    background-repeat:no-repeat !important;	
	color: #ffffff;
	font-weight: bold;
}






.dialog_style_glomped_ash_blue{
    color:#ffffff !important;
    background-color: #A2BCD3  !important;
    border-color: #fff !important;	
	outline: none !important;
	font-size:12px !important;
     border: 2px solid #fff  !important;
}
.dialog_style_glomped_ash_blue .ui-dialog-title {font-size:8px !important;}
.dialog_style_glomped_ash_blue .ui-dialog-titlebar {text-align:center;}
.dialog_style_glomped_ash_blue .ui-widget-content {
    border: 2px solid #333 ;
    background: #A2BCD3 ;
    color: #ffffff;
}
.dialog_style_glomped_ash_blue .ui-dialog-content{
    border: 0px solid #333 !important;
    background: #A2BCD3 ;
    color: #ffffff;
	padding:5px !important;
	
	text-align:left;	
}
.dialog_style_glomped_ash_blue .ui-icon-closethick{
	display:none !important;
	width:0px !important;
	
}
.dialog_style_glomped_ash_blue .ui-icon-closethick:focus {outline: none; }
.dialog_style_glomped_ash_blue .ui-dialog-titlebar{
	padding:0px !important;
}
.dialog_style_glomped_ash_blue .ui-widget-header .ui-state-default {
    border: 0px solid #A2BCD3 !important ;
	padding:0px !important;
    background: #A2BCD3 ;
    font-weight: normal;
    color: #ffffff;
}

.dialog_style_glomped_ash_blue  .ui-dialog-buttonpane{

}
.dialog_style_glomped_ash_blue .ui-widget-header {
	border: 0px solid #333 !important;
	/*background: #3a8104 url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) 50% 50% repeat-x;*/
	color: #ffffff;
	font-weight: bold;
}











.dialog_style_glomp_wait{
    color:#ffffff !important;
    background-color: #89C342  !important;
    border-color: #fff !important;	
	outline: none !important;
	border: 2px solid #C7D82E  !important;
	font-size:12px !important;
    min-height: 20px !important;
}
.dialog_style_glomp_wait .ui-dialog-title {font-size:8px !important;}
.dialog_style_glomp_wait .ui-dialog-titlebar {text-align:center;}
.dialog_style_glomp_wait .ui-widget-content {
    border: 2px solid #333 ;
    background: #89C342 ;
    color: #ffffff;
}
.dialog_style_glomp_wait .ui-dialog-content{
    border: 0px solid #333 !important;
    background: #89C342 ;
    color: #ffffff;
	padding:5px !important;
	
	text-align:left;	
}
.dialog_style_glomp_wait .ui-icon-closethick{
	display:none !important;
	width:0px !important;
	
}
.dialog_style_glomp_wait .ui-icon-closethick:focus {outline: none; }
.dialog_style_glomped_alerts .ui-dialog-titlebar{
	padding:0px !important;
}
.dialog_style_glomp_wait .ui-widget-header .ui-state-default {
    border: 0px solid #89C342 !important ;
	padding:0px !important;
    background: #89C342 ;
    font-weight: normal;
    color: #ffffff;
}

.dialog_style_glomp_wait  .ui-dialog-buttonpane{

}
.dialog_style_glomp_wait .ui-widget-header {
	border: 0px solid #333 !important;
	/*background: #3a8104 url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) 50% 50% repeat-x;*/
	color: #ffffff;
	font-size: 12px !important;
	font-weight: bold !important;
}

#messageDialog.extra{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 24px !important;
    padding-left: 24px !important;
    text-align: justify !important;
}
















.dialog_style_glomp_white{
    color:#585F6B !important;
    background-color: #fff  !important;
    border-color: #fff !important;	
	outline: none !important;
	border: 1px solid #B0B0B0  !important;
	border-radius:20px !important;
	font-size:12px !important;
	padding:0px !important;
}
.dialog_style_glomp_white .ui-dialog-title {font-size:8px !important;}
.dialog_style_glomp_white .ui-dialog-titlebar {text-align:center;}
.dialog_style_glomp_white .ui-widget-content {
    border: 0px solid #B0B0B0 !important;
    background: #fff ;
    color: #585F6B;
}
.dialog_style_glomp_white .ui-dialog-content{
    border: 0px solid #B0B0B0 !important;
    background: #fff ;
    color: #585F6B;
	padding:0px !important;	
	text-align:left;	
}
.dialog_style_glomp_white .ui-icon-closethick{
	display:none !important;
	width:0px !important;
	
}
.dialog_style_glomp_white .ui-icon-closethick:focus {outline: none; }
.dialog_style_glomped_alerts .ui-dialog-titlebar{
	padding:0px !important;
}
.dialog_style_glomp_white .ui-widget-header .ui-state-default {
    border: 0px solid #fff !important ;
	padding:0px !important;
    background: #fff ;
    font-weight: normal;
    color: #585F6B;
}

.dialog_style_glomp_white  .ui-dialog-buttonpane{

}
.dialog_style_glomp_white .ui-widget-header {
	border: 0px solid #B0B0B0 !important;
	/*background: #3a8104 url(images/ui-bg_highlight-soft_33_3a8104_1x100.png) 50% 50% repeat-x;*/
	color: #585F6B;
	font-size: 12px !important;
	font-weight: bold !important;
}
/* dialogs custom style */













*:focus{
    outline: 0 !important;
}

*::-webkit-input-placeholder {text-align:center}
*:-webkit-input-placeholder {text-align:center}
*:-moz-placeholder {text-align:center}
*:-ms-input-placeholder {text-align:center}


/*glomp!ed details page*/
.glomped_merchant_prod_name{
	color:#024256 !important;
	font-weight:bold;
	font-size:12px;
}
.glomped_user{
	color:#0071BB !important;
	font-weight:bold;
	font-size:12px;
}
.glomped_share{
	color:#0071BB !important;
	font-weight:bold;
	font-size:12px;	
}
.glomped_voucher{
	background-size:contain;
	background-position:left;
    width:120px;
    height:14px;
    background-repeat:no-repeat;
	border:0px solid #333;
	margin:0px 0px 1px 0px;
}
.glomped_expired{
	background-color:#D3D7E1;
	color:#FFFFFF;
	font-weight:normal;
	font-size:12px;
}
.glomped_merchant_prod_name_expired{
	color:#566D77 !important;
	font-weight:bold;
	font-size:12px;
}
.glomped_user_expired{
	color:#566D77 !important;
	font-weight:bold;
	font-size:12px;
}

/*glomp!ed details page*/

/*redeem page*/
.redeem_wrapper{
	background-color:#fff;
	width:100%;
	padding:4px 8px;
}
.redeem_merchant_text{
	font-size:13px;
	color:#3C649A;
	font-weight:bold;
}
.redeem_prod_text{
	font-size:12px;
	color:#3C649A;
	font-weight:normal;
}
.redeem_prod_photo{
	width:50px;
	hieght:50px;
	border-radius:5px;
}
.redeem_input_label{
	padding:4px 0px 0px 0px;
	color:#585F6A;
	font-size:12px;
	font-weight:bold;
}
.redeem_input {
  display: block;
  width: 150px;
  height: 24px;
  padding: 3px 6px;
  font-size: 12px;  
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  text-align:center;
  border: 1px solid #cccccc;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.redeem_input:focus {
  border-color: #66afe9;  
  outline: 0;
  width: 100%;
  height: 40px;
  font-size: 24px;  
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.glomp_input {
	text-align:center;
	resize:none;
  display: block;
  width: 100%;
  height: 24px;
  padding: 3px 6px;
  font-size: 16px !important;  
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 0px solid #cccccc;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.glomp_input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.gray{
	color: #59606A !important;
}
.violet{
	color:#BD3193 !important;
}
.bold{
	font-weight:bold !important;
}
/*redeem page*/

/* border radius*/
.border_radius_5px{
	border-radius:5px !important;
}
.border_radius_4px{
	border-radius:4px !important;
}
/* border radius*/
.margin_left_10px{
	margin-left:10px !important;
}

.global_margin{
	margin:0px 10px !important;
}
.margin_left{
	margin-left:24px !important;
}
.margin_right{
	margin-right:24px !important;
}
.harabarabold{
	font-family: 'harabarabold' !important;
}


.friendThumb3{ 	
    width:100px;
    float:left;
    margin:4px;
    margin-right:0px;
    background:#585F6B; padding:4px;}
.friendThumb3 p{ text-align:left; font-size:9px;} 
.friendThumb3 a{ color:#fff!important;}
.friendThumb3 img{ border-radius:0!important;}

.friendThumb3_name{ 	
    float:left;
    margin:5px;
    width:121px;
    margin-left:-1px;
    margin-top:4px;
    background:#585F6B; 
    padding:5px;	
    font-size:9px;
    text-align:left;
    border-radius:0px 10px 10px 0;
    -webkit-border-radius:0px 10px 10px 0;
    -moz-border-radius:0px 10px 10px 0;
}
.friendThumb3_desc{
    float:left;
    border:0px solid #333; 
    padding:5px;
    width:130px;
    font-size:11px;
    font-weight:bold;
    text-align:left;
    color:#004689;
    margin-top:15px;
}

.checkbox{
	-webkit-transform: scale(1.5,1.5);
	-moz-transform: scale(1.5,1.5);
	-o-transform: scale(1.5,1.5);			
}
.noTitleStuff .ui-dialog-titlebar {display:none !important;}
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.img-framed {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  height: 80px;
  overflow: hidden;
}
.img-framed div {
  height: 70px;
  overflow: hidden;
  background: #595F6B;
  width: 70px;
}
#register_form .img-framed img {
    width: 70px;
    /* margin-top: -20%; must be set by javascript depending on image ratio */
}
.tour_skip{
    padding-top:10px;
    cursor:pointer;
}
.tour_skip:hover{
    text-decoration:underline;
}
.what_is_glompDialog_close{
	background-size: contain !important;    
	background-image:url("images/close_icon.png") !important;    		
	background-position:0px 0px;
    background-repeat:no-repeat !important;		
	outline: none !important;
	cursor:pointer !important;
	float:right;
	padding:8px;
}
.glompFont{font-family:harabarabold; letter-spacing:1px;}

.popover-title{ background:#8bc341; font-weight:bold;}
.popover{ background:#89c656; color:#fff; border:2px solid #cadb2a;}
.popover-bg-gray{ background:#d2d7e1; color:#495368; font: 12px/16px Helvetica, Arial, sans-serif; font-weight: normal;border:2px solid #cadb2a;}
.popover.right .arrow:after{border-right-color:#8bc341;}
.popover.right .arrow-bg-gray:after{border-right-color:#d6d6d6;}

/* tool tip */
.info_tooltip_m {
    font: 12px/16px Helvetica, Arial, sans-serif;
    color: #495368;
    cursor: pointer;
}
.info_tooltip_m img {
    width: 12px;
}

.glompoints {
    background: none repeat scroll 0 0 #eb2227;
    padding: 8px 10px  5px 10px; 
    text-align: center;
    border-radius:8px;
    margin : 0px auto 15px auto;
    width:120px;
    color:#fff;
}
.glompoints_2{
    background: none repeat scroll 0 0 #eb2227;
    padding: 4px 5px  3px 5px; 
    text-align: center;
    border-radius:4px;
    margin :5px 10px;    
    color:#fff;

}
.level{ font-size:16px; padding:0 0 4px 0; font-weight:bold;}
.points{ font-size:30px;font-weight:bold;}

.glompSelPoints{ 
    -moz-border-radius: 0px; 
    -webkit-border-radius: 0px; 
    -khtml-border-radius: 0px; 
    border-radius: 0px;     
    border-right:1px solid #8e959d;
    border-bottom:1px solid #8e959d;
    text-align:center; color:#fff; 
    font-size:24px; font-weight:bold;
    margin:0px 0px 0px 0px;
    float:left;
    padding:22px 10px 0px 10px;
    cursor:pointer;
    color:#465069;
    width:33.33%;
}
.glompPackagePrice {
    font-size:11px;
    font-weight:normal;
    color:#999;
}
.Loader { font-size:25px; padding:5px 0 0 5px; color:#467800; display:none;}




















/******************************************/
.conversation_wrapper{
    margin:0px 0px;
    margin-top:5px;    
    padding:0px 0px;
    
    cursor:pointer;
    border:1px solid;
}
.message_username:hover{
    text-decoration:underline;
}
.message_unread{
    border:0px solid #9B9DA0;
}
.message_read{
    border:0px solid #7E8083;
}
.message_left{
    width:100%;    
    padding:5px 0px;
}
.message_thumb{
    width:50px;
    height:50px;
    margin:1px 1px;
}
.message_username{
    color:#5B6791;
    font-size:12px;
    font-weight:bold;
}
.message_username:hover{
    text-decoration:underline;
}
.message_inner_left{
    color:#5578A8;
    border:0px solid;
    width:60%;
    margin-top:5px;
    margin-left:0px;
}
.message_read_text{
    color:#7E8083;
}
.message_read_text .message_details{    
    font-weight:normal !important;    
}
.message_details{
    font-size:15px;
    font-weight:bold;    
}
.message_details:hover{
    text-decoration:underline;
}
.message_trash_icon{
    border:0px solid;
    height:24px;
    width:20px;
    background-size:24px;
	background-position:center;	    
    background-repeat:no-repeat;
    margin:27px 0px 0px 10px;
    cursor:pointer;
}
.message_button_send{
    background-color:#8BC442 !important;
    font-size:14px!important; 
    font-weight:bold!important; 
    color:#fff!important; 
    border:0!important; 
    padding:4px 10px!important; 
    border-radius: 4px 4px 4px 4px!important;
    text-align:center!important;
    text-shadow:none!important ;
    box-shadow:none!important ;
}
.message_text_box{
    border:0px;
    width:80%;
    height:28px;
    outline:0;
    resize:none;
}
.message_to_wrapper{    
    margin:4px 0px;
    background: #fff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    padding:2px;
    width:100%;
    border:1px solid rgba(0, 0, 0, 0.075)!important;    
}
.message_search_text{
    font-size:12px!important;
    height:30px !important;
    border:0px solid!important;    
    margin:0px 5px!important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(192, 215, 51, 0.6) !important;    
    width:86%;
}
.message_search_text:focus{
    outline:none !important;
    border:0px !important;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.075) inset, 0px 0px 0px rgba(192, 215, 51, 0.6) !important;    
}
.message_label_to{
    border:0px solid !important;
    margin:8px 0px 0px 5px;
    font-size:14px;
}
.message_icon_online{
    font-size:12px;
    font-weight:bold;
    color:#8BC441;
    margin:0px 0px 0px 0px;
    padding:0px;
    
}
.message_inner_left_inbox{    
    color:#5578A8;
    border:0px solid;
    width:80%;
    margin-top:0px;
    margin-left:0px;
    
}
.message_username_inbox{
    color:#403D3E;
    font-size:13px;
    font-weight:bold;
}
.message_details_inbox{
    font-size:12px;
    font-weight:bold;  
    min-height:36px;
    padding-left:10px;
}
.message_time_inbox{
    color:#403D3E;
    font-size:11px;    
    text-alig:left;
}
.message_seen{
    color:#bababa;
    font-size:10px;
}

.blink {
    animation: blink 1s steps(5, start) infinite;
}
@keyframes blink {
    to {
        visibility: hidden;
    }
}
.messageCounter_wrapper{
    position: absolute; 
    z-index:1;
    margin:-9px 0 0 64px;             
}
.messageCounter{    
    background:#f00; 
    color:#fff;
    border-radius:2px; padding:1px 5px; font-size:12px; font-weight:normal; 
}

.speech_wrapper_them .message_details_inbox{	
	color:#5578A8;         
}

.speech_wrapper_me .message_details_inbox{	
	color:#999;       
}


.sutoSugSearch{ padding:10px 0px ; background:#fff;   display: none;; position:absolute; z-index:1;
                -moz-border-radius:  0 0 5px 5px; -webkit-border-radius: 0 0 10px 10px; -khtml-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px; border:1px solid #ccc;
                border-top:0px solid #fff;
                text-align:left;width:198px; margin-top:2px;}
.sutoSugSearch a { display:block; padding:3px 0; border-bottom: 1px solid #ccc; color:#0063ae; text-decoration:none; cursor:pointer;}
.sutoSugSearch ul { margin:0; padding:0; list-style:none;}
.sutoSugSearch ul li{ margin:0; padding:0; border-bottom:1px solid #ccc;}
.sutoSugSearch ul li:hover{ background:#eeefff;}


.message_edit_background{
    background-size: 60px;background-repeat:no-repeat;background-position: center;
    cursor:pointer;
} 
/******************************************/


.share_wrapper_box { 

    display:none;
    position: relative; 
    background: #D2D7E1; 
    border: 1px solid #6E90B9;     
    width:105px;
    margin-right:53px;
    margin-top:-25px;
    padding:4px 2px 1px 2px;    
    z-index:100;    
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
 } 
.share_wrapper_box:after, .share_wrapper_box:before {     
    left: 100%; 
    top:50%;
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none;
    
} 
.share_wrapper_box:after { 
    border-color: rgba(255, 255, 255, 0); 
    border-left-color: #D2D7E1; 
    border-width: 4px; 
    margin-top: -10px; 
} 
.share_wrapper_box:before { 
    border-color: rgba(110, 114, 185, 0); 
    border-left-color: #6E90B9; 
    border-width: 6px; 
    margin-top: -12px;    
}







/***/
    
.share_wrapper_box_up { 

    display:none;
    position: relative; 
    background: #D2D7E1; 
    border: 1px solid #6E90B9;     
    width:106px;    
    margin-top:-25px;
    padding:4px 2px 1px 2px;    
    z-index:100;    
    border-radius:2px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
 } 
.share_wrapper_box_up:after, .share_wrapper_box_up:before{
    bottom: 100%; 
    left:56%;
    border: solid transparent; 
    content: " "; 
    height: 0; 
    width: 0; 
    position: absolute; 
    pointer-events: none;
    
} 
.share_wrapper_box_up:after{ 
    border-color: rgba(255, 255, 255, 0); 
    border-bottom-color: #D2D7E1; 
    border-width: 4px; 
    margin-left: -10px; 
} 
.share_wrapper_box_up:before{ 
    border-color: rgba(110, 114, 185, 0); 
    border-bottom-color: #6E90B9; 
    border-width: 6px; 
    margin-left: -12px;    
}
/***/


    
.btn-custom-blue_xs_fb{
    background-position: center;
    height:25px;
    width:25px;
    font-size:11px !important; 
    font-weight:bold !important; 
    color:#fff; 
    border:0 !important; 
    margin-:0px !important;
    padding:0px 3px 0px 3px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 0px #FF0000 !important;
    border-radius: 3px !important;
}


.btn-custom-light_blue_xs_tweet{
    background-position: center;
    height:25px;
    width:25px;
    font-size:11px !important; 
    font-weight:bold !important; 
    color:#257896; 
    border:0 !important; 
    margin:0px;
    margin-left:8px;
    padding:0px 3px 0px 3px !important; 
    border-radius: 0px !important; 
    text-align:center !important;
    border:solid 0px #FF0000 !important;
    border-radius: 3px !important;
}


.gps_ring {        
    animation-name: pulsate;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    
    
    
    -webkit-animation-name: pulsate;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0
}
@-webkit-keyframes pulsate {
    0% { -webkit-transform: scale(0.8,0.8); opacity: 0.8; }    
    50% { -webkit-transform: scale(1.1,1.1); opacity: 1.0; }    
    100% { -webkit-transform: scale(0.8,0.8); opacity: 0.8; }
}


@-moz-keyframes pulsate {  /* Decimal not necessary, 0 and 1 is enough */
    0% { -moz-transform: scale(0.8,0.8); opacity: 0.8; }    
    50% { -moz-transform: scale(1.1,1.1); opacity: 1.0; }    
    100% { -moz-transform: scale(0.8,0.8); opacity: 0.8; }
}

@keyframes pulsate {  
    0% { -moz-transform: scale(0.8,0.8); opacity: 0.8; }    
    50% { -moz-transform: scale(1.1,1.1); opacity: 1.0; }    
    100% { -moz-transform: scale(0.8,0.8); opacity: 0.8; }
}




.arrow_prev { margin:13px 0px 0px 5px;width: 0; height: 0; border-top: 9px solid transparent; border-right: 6px solid #fff; border-bottom: 9px solid transparent; }
.arrow_next { margin:13px 5px 0px 0px;width: 0; height: 0; border-top: 9px solid transparent; border-left: 6px solid #fff; border-bottom: 9px solid transparent; }
.arrow_close {     
    cursor:pointer;
    color: #fff;            
    font-size: 31px;    
    display: inline-block;
    line-height: 0px;
    padding: 19px 15px 0px 3px; }
.arrow_close:before {
    content: "x";
}



/* new menu styles**************/
 #menu-icon-nav {
        margin:5px 5px;
        display:inline-block;
        width: 30px;
        height: 23px;        
        background:url('../img/home/glomp-profile-menu_2.png') center;
        background-repeat:no-repeat;
    }
   nav
   {
    position: static;
   }
	nav ul{ 
         position: static;
        display: none;		
		position: absolute;
		color:#ffffff;
        font-size:16px;
        padding: 5px 10px 5px 15px;
        padding: 0px;
		background-color: rgba(88, 95, 107,0.0);		
		left: 0px;
		top: 0px;
		width: 200px;
	}
    nav:active ul { 
        display: none;
    }
	nav li {
        color:#ffffff;
		text-align: left;
		width: 100%;
		padding: 5px 10px 5px 15px;
		margin: 0;
        border-top:solid 1px #D1D5E0;
        background-color: rgba(88, 95, 107,0.9);		

	}
    nav li:first-child {        
        border-top:0px;
        margin-top:52px;

	}
    
    nav li a{        
        color:#ffffff;
	}
    nav:hover ul{   
        
		display: block;

	}
 
    
    .hover_menu
   {
    position: static;
    
   }
	.hover_menu ul{ 
         position: static;
        display: none;		
		position: absolute;
		color:#ffffff;
        font-size:16px;
        padding: 5px 10px 5px 15px;
        padding: 0px;
		background-color: rgba(88, 95, 107,0.0);		
		left: 0px;
		top: 0px;        
		width: 100%;
	}
    @media (min-width: 200px) and (max-width: 500px) {
        .hover_menu ul{          
            margin-top:180px;
        }
    }
    @media (min-width: 500px) and (max-width: 2096px) {    
        .hover_menu ul{          
            margin-top:60px;		
        }
    }
    .hover_menu:active ul { 
        display: none;
    }
	.hover_menu li {
        color:#ffffff;
		text-align: center;
		width: 100%;
        border-top:solid 1px #D1D5E0;
		padding: 5px 10px 5px 15px !important;
		margin: 0;        
        background-color: rgba(88, 95, 107,0.9);		

	}
    .hover_menu li:first-child {                
        
	}
    
    .hover_menu li a{        
        color:#ffffff;
	}
    .hover_menu:hover ul{   
        
		display: block;

	}
    
    
    
    
    
    a.white:link      {color:#ffffff;}    /* unvisited link   */
    a.white:visited   {color:#ffffff;}    /* visited link     */
    a.white:hover     {color:#ffffff;}    /* mouse over link  */
    a.white:active    {color:#ffffff;}    /* selected link    */
    .white:hover {
        text-decoration:underline;
    }
    

.active-brandproduct {
    background: #D2D7E2;
    padding-bottom: 8px;
}
.active-brandproduct h4 {
    margin: 0;
    padding: 5px;
    font-size: 10px;
    text-transform: uppercase;
    background: #59606B;
    color: #fff;
}
.active-brandproduct .brandproduct-image {
    margin: 7px 0 0 8px;
    width: 20%;
}
.active-brandproduct .brandproduct-image img {
    width: 100%;
}
.active-brandproduct .brandproduct-detail {
    color: #4b4f57;
    font-weight: bold;
    margin: 5px 0 0 8px;
}
.active-brandproduct .brandproduct-name {
    font-size: 11px;
}
.active-brandproduct .brand-name {
    font-size: 10px;
    text-transform: uppercase;
    font-weight: bold;
}
.active-brandproduct .close {
    color: #fff;
    font-size: 20px;
    opacity: 1;
    font-weight: normal;
    line-height: 0.5em;
}
.tgl-glomp {
    background: url("/assets/frontend/img/glomp_white_big.jpg") no-repeat #A8CF38;
    background-size: 30%;
    background-position: center;
    display: block;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}
.tgl-glomp span {
    visibility: hidden;
}

/* new menu styles**************/
    
	
	
.menu_item_points_wrapper_amex{
    background-color: #FF0000;
    color: #FFFFFF;
    font-weight: bold;
    padding: 2px 3px;
    font-size: 13px;
    margin: 5px 0px 10px 0px;
    border-radius: 5px;
    margin-left:-8px;
}