.loader_background{ width:100%; z-index: 1; height:100%; float:left; position:absolute; top:0; left:0; background:rgba(255, 255, 255, 0.7); }
.loader_background_loading_images{ width:100px; height:100px; background:url(../images/ajax-loader.gif) no-repeat;}
input.error {border: 1px solid #FF0000!important; }
textarea.error { border: 1px solid #FF0000!important; }
select.error { border: 1px solid #FF0000!important; }
.required{ color:#F00;}
label.error{ color:#F00; }

.aclist{
	color:gray; font-size:12px;
}

.account .table {
	border-collapse:collapse;
}

.account .table a, .account .table a:hover{
	text-decoration:none;
}
.bulk-action
{
	width:130px;
}
.text-search
{
	width:180px;
}
.tInfo
{
	float:left;
	width:200px;
}
.pager
{
 float:right;	
 margin-top:-3px;
 width:auto;;
}